<dxc-heading [level]="3" weight="normal" text="Theming" [margin]="{bottom:'small'}"></dxc-heading>
<dxc-table>
  <tr>
    <th>Name</th>
    <th>Default</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>fontColor</td>
    <td>
      <div class="default-color">
        <color-preview color="#000000"></color-preview>
        <code>#000000</code>
      </div>
    </td>
    <td>Applies to token textColor.</td>
  </tr>
  <tr>
    <td>backgroundColor</td>
    <td>
      <div class="default-color">
        <color-preview color="#EEEEEE"></color-preview>
        <code>#EEEEEE</code>
      </div>
    </td>
    <td>Applies to token backgroundColor.</td>
  </tr>
  <tr>
    <td>outlinedColor</td>
    <td><code></code></td>
    <td>Applies to token outlinedColor.</td>
  </tr>
</dxc-table>
