<h2 class="subtitle-example">Theming</h2>
<dxc-table>
  <tr>
    <th>Name</th>
    <th>Default</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>fontColor</td>
    <td><code>#000000</code></td>
    <td>This variable applies to token textColor.</td>
  </tr>
  <tr>
    <td>backgroundColor</td>
    <td><code>#EEEEEE</code></td>
    <td>This variable applies to token backgroundColor.</td>
  </tr>
  <tr>
    <td>outlinedColor</td>
    <td><code></code></td>
    <td>This variable applies to token outlinedColor.</td>
  </tr>
</dxc-table>
