<div>
  <dxc-heading text="Light Mode" [level]="5" margin="xsmall"></dxc-heading>
  <div>
    <tbuilder-component-mode text="Default">
      <dxc-slider
        minValue="0"
        maxValue="100"
        showLimitsValues="true"
        name="input"
        step="1"
        margin="xsmall"
        size="large"
      ></dxc-slider>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="Disabled">
      <dxc-slider
        minValue="0"
        maxValue="100"
        showLimitsValues="true"
        name="input"
        step="1"
        margin="xsmall"
        size="large"
        disabled
      ></dxc-slider>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="With Marks">
      <dxc-slider
        minValue="0"
        maxValue="100"
        showLimitsValues="true"
        name="input"
        step="10"
        marks="true"
        margin="xsmall"
        size="large"
      ></dxc-slider>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="With Input">
      <dxc-slider
        minValue="0"
        maxValue="50"
        showLimitsValues="true"
        showInput="true"
        name="input"
        step="5"
        [value]="value"
        marks="true"
        size="large"
        margin="xsmall"
      ></dxc-slider>
    </tbuilder-component-mode>
  </div>

  <dxc-heading text="Dark Mode" [level]="5" margin="xsmall"></dxc-heading>
  <div style="background: black">
    <tbuilder-component-mode text="Default">
      <dxc-slider
        minValue="0"
        maxValue="100"
        showLimitsValues="true"
        name="input"
        step="1"
        margin="xsmall"
        size="large"
      ></dxc-slider>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="Disabled">
      <dxc-slider
        minValue="0"
        maxValue="100"
        showLimitsValues="true"
        name="input"
        step="1"
        margin="xsmall"
        size="large"
        disabled
      ></dxc-slider>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="With Marks">
      <dxc-slider
        minValue="0"
        maxValue="100"
        showLimitsValues="true"
        name="input"
        step="10"
        marks="true"
        margin="xsmall"
        size="large"
      ></dxc-slider>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="With Input">
      <dxc-slider
        minValue="0"
        maxValue="50"
        showLimitsValues="true"
        showInput="true"
        name="input"
        step="5"
        [value]="value"
        marks="true"
        size="large"
        margin="xsmall"
      ></dxc-slider>
    </tbuilder-component-mode>
  </div>
</div>
