#content1 {
  background: #3f9fee;
  height: 200px;
  margin: 15px;
}
#content2 {
  background: #04f397;
  height: 200px;
  margin: 15px;
}
#content3 {
  background: #f3db04;
  height: 200px;
  margin: 15px;
}
