<h4>Without content - Normal links and social</h4>
<div className="test-case" id="without-content-normal-links">
  <dxc-footer
    copyright="© DXC Technology 2019. All rights reserved."
    [bottomLinks]="bottom"
    [socialLinks]="social"
    margin="large"
  ></dxc-footer>
</div>
<div className="test-case" id="Max-custom-content-horizontal">
  <h4>Custom content horizontal</h4>
  <dxc-footer
    copyright="© DXC Technology 2019. All rights reserved."
    [bottomLinks]="bottom"
    [socialLinks]="social"
    margin="large"
    logoSrc="./assets/images/dxcassure_logo_wht.png"
  >
    <div style="display: flex">
      <div style="margin-left: 35px">
        <p>Services</p>
        <ul style="list-style-type: none; padding-left: 0px">
          <li>Analytics</li>
          <li>Application Services</li>
          <li>Business Process Services</li>
        </ul>
      </div>
      <div style="margin-left: 35px">
        <p>Industries</p>
        <ul style="list-style-type: none; padding-left: 0px">
          <li>Healthcare</li>
          <li>Life Sciences</li>
        </ul>
      </div>
      <div style="margin-left: 35px">
        <p>About us</p>
        <ul style="list-style-type: none; padding-left: 0px">
          <li>Company Overview</li>
          <li>Our Mission & Values</li>
          <li>Our History</li>
        </ul>
      </div>
      <div style="margin-left: 35px">
        <p>Insights</p>
        <ul style="list-style-type: none; padding-left: 0px">
          <li>THRIVE: Thought Leadership</li>
          <li>Case Studies</li>
          <li>Blogs</li>
        </ul>
      </div>
      <div style="margin-left: 35px">
        <p>Insights</p>
        <ul style="list-style-type: none; padding-left: 0px">
          <li>THRIVE: Thought Leadership</li>
          <li>Case Studies</li>
          <li>Blogs</li>
        </ul>
      </div>
      <div style="margin-left: 35px">
        <p>Insights</p>
        <ul style="list-style-type: none; padding-left: 0px">
          <li>THRIVE: Thought Leadership</li>
          <li>Case Studies</li>
          <li>Blogs</li>
        </ul>
      </div>
      <div style="margin-left: 35px">
        <p>Insights</p>
        <ul style="list-style-type: none; padding-left: 0px">
          <li>THRIVE: Thought Leadership</li>
          <li>Case Studies</li>
          <li>Blogs</li>
        </ul>
      </div>
      <div style="margin-left: 35px">
        <p>Insights</p>
        <ul style="list-style-type: none; padding-left: 0px">
          <li>THRIVE: Thought Leadership</li>
          <li>Case Studies</li>
          <li>Blogs</li>
        </ul>
      </div>
      <div style="margin-left: 35px">
        <p>Insights</p>
        <ul style="list-style-type: none; padding-left: 0px">
          <li>THRIVE: Thought Leadership</li>
          <li>Case Studies</li>
          <li>Blogs</li>
        </ul>
      </div>
      <div style="margin-left: 35px">
        <p>Insights</p>
        <ul style="list-style-type: none; padding-left: 0px">
          <li>THRIVE: Thought Leadership</li>
          <li>Case Studies</li>
          <li>Blogs</li>
        </ul>
      </div>
      <div style="margin-left: 35px">
        <p>Insights</p>
        <ul style="list-style-type: none; padding-left: 0px">
          <li>THRIVE: Thought Leadership</li>
          <li>Case Studies</li>
          <li>Blogs</li>
        </ul>
      </div>
      <div style="margin-left: 35px">
        <p>Insights</p>
        <ul style="list-style-type: none; padding-left: 0px">
          <li>THRIVE: Thought Leadership</li>
          <li>Case Studies</li>
          <li>Blogs</li>
        </ul>
      </div>
      <div style="margin-left: 35px">
        <p>Insights</p>
        <ul style="list-style-type: none; padding-left: 0px">
          <li>THRIVE: Thought Leadership</li>
          <li>Case Studies</li>
          <li>Blogs</li>
        </ul>
      </div>
    </div>
  </dxc-footer>
</div>
<div className="test-case" id="Max-custom-content">
  <h4>Custom content vertical</h4>
  <dxc-footer
    copyright="© DXC Technology 2019. All rights reserved."
    [bottomLinks]="bottom"
    [socialLinks]="social"
    margin="large"
    logoSrc="./assets/images/dxcassure_logo_wht.png"
  >
    <div className="test-case" id="Max-custom-content-vertical">
      <div style="margin-left: 35px">
        <p>Services</p>
        <ul style="list-style-type: none; padding-left: 0px">
          <li>Analytics</li>
          <li>Application Services</li>
          <li>Business Process Services</li>
        </ul>
      </div>
      <div style="margin-left: 35px">
        <p>Industries</p>
        <ul style="list-style-type: none; padding-left: 0px">
          <li>Healthcare</li>
          <li>Life Sciences</li>
        </ul>
      </div>
      <div style="margin-left: 35px">
        <p>About us</p>
        <ul style="list-style-type: none; padding-left: 0px">
          <li>Company Overview</li>
          <li>Our Mission & Values</li>
          <li>Our History</li>
        </ul>
      </div>
      <div style="margin-left: 35px">
        <p>Insights</p>
        <ul style="list-style-type: none; padding-left: 0px">
          <li>THRIVE: Thought Leadership</li>
          <li>Case Studies</li>
          <li>Blogs</li>
        </ul>
      </div>
      <div style="margin-left: 35px">
        <p>Insights</p>
        <ul style="list-style-type: none; padding-left: 0px">
          <li>THRIVE: Thought Leadership</li>
          <li>Case Studies</li>
          <li>Blogs</li>
        </ul>
      </div>
      <div style="margin-left: 35px">
        <p>Insights</p>
        <ul style="list-style-type: none; padding-left: 0px">
          <li>THRIVE: Thought Leadership</li>
          <li>Case Studies</li>
          <li>Blogs</li>
        </ul>
      </div>
    </div>
  </dxc-footer>
</div>
<div className="test-case" id="Max-bottom-links">
  <h4>Bottom Links</h4>
  <dxc-footer
    copyright="© DXC Technology 2019. All rights reserved."
    [bottomLinks]="bottomLarge"
    [socialLinks]="social"
    margin="large"
  ></dxc-footer>
</div>
<div className="test-case" id="Max-size-oneline-copyright">
  <h4>Copyright max size oneline</h4>
  <dxc-footer
    copyright="© DXC Technology 2019. All rights reserved.blablabla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla"
    [bottomLinks]="bottomLarge"
    [socialLinks]="social"
    margin="large"
  ></dxc-footer>
</div>
<div className="test-case" id="Min-size-multiline-copyright">
  <h4>Copyright min size multiline</h4>
  <dxc-footer
    copyright="© DXC Technology 2019. All rights reserved.blablabla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla1"
    [bottomLinks]="bottomLarge"
    [socialLinks]="social"
    margin="large"
  ></dxc-footer>
</div>
<div className="test-case" id="Min-size-oneline-social">
  <h4>Min size social oneline</h4>
  <dxc-footer
    copyright="© DXC Technology 2019. All rights reserved."
    [bottomLinks]="bottom"
    [socialLinks]="socialLarge"
    margin="large"
  ></dxc-footer>
</div>
