<div>
  <tbuilder-component-mode text="Default">
    <dxc-togglegroup
      margin="xsmall"
      label="Social networks"
      tabIndexValue="1"
      helperText="Choose a social network"
    >
      <dxc-toggle label="Facebook" value="test1"> </dxc-toggle>
      <dxc-toggle label="Twitter" value="test2"> </dxc-toggle>
      <dxc-toggle label="Linkedin" value="test3"> </dxc-toggle>
    </dxc-togglegroup>
  </tbuilder-component-mode>

  <tbuilder-component-mode text="Default value">
    <dxc-togglegroup
      label="Saiyans"
      helperText="Choose your favourite"
      [defaultValue]="singleValue"
      margin="xsmall"
    >
      <dxc-toggle
        [label]="option.label"
        [value]="option.value"
        *ngFor="let option of controlledOptions"
      >
      </dxc-toggle>
    </dxc-togglegroup>
  </tbuilder-component-mode>

  <tbuilder-component-mode text="Controlled">
    <dxc-togglegroup
      label="Saiyans"
      helperText="Choose your favourite"
      [multiple]="true"
      [value]="value"
      margin="xsmall"
      (onChange)="callbackFunction($event)"
    >
      <dxc-toggle
        [label]="option.label"
        [value]="option.value"
        *ngFor="let option of controlledOptions"
      >
      </dxc-toggle>
    </dxc-togglegroup>
  </tbuilder-component-mode>

  <tbuilder-component-mode text="Controlled and single">
    <dxc-togglegroup
      [value]="singleValue"
      margin="xsmall"
      (onChange)="callbackFunction2($event)"
    >
      <dxc-toggle
        [label]="option.label"
        [value]="option.value"
        *ngFor="let option of controlledSingleOptions"
      >
      </dxc-toggle>
    </dxc-togglegroup>
  </tbuilder-component-mode>

  <tbuilder-component-mode text="Disabled">
    <dxc-togglegroup disabled="true" margin="xsmall" value="test1">
      <dxc-toggle label="Facebook" value="test1"> </dxc-toggle>
      <dxc-toggle label="Twitter" value="test2"></dxc-toggle>
      <dxc-toggle label="Linkedin" value="test3">
        <dxc-toggle-icon>
          <svg viewBox="0 0 24 24">
            <g id="Bounding_Box">
              <rect fill="none" height="24" width="24"></rect>
            </g>
            <g id="Master">
              <path
                d="M19,9.3V4h-3v2.6L12,3L2,12h3v8h5v-6h4v6h5v-8h3L19,9.3z M10,10c0-1.1,0.9-2,2-2s2,0.9,2,2H10z"
              ></path>
            </g>
          </svg>
        </dxc-toggle-icon>
      </dxc-toggle>
    </dxc-togglegroup>
  </tbuilder-component-mode>

  <tbuilder-component-mode text="Multiple With Icons">
    <dxc-togglegroup multiple="true" margin="xsmall">
      <dxc-toggle label="test 1" value="test1">
        <dxc-toggle-icon>
          <img src="./assets/img/facebook.svg" />
        </dxc-toggle-icon>
      </dxc-toggle>
      <dxc-toggle value="test2">
        <dxc-toggle-icon>
          <svg viewBox="0 0 24 24">
            <g id="Bounding_Box">
              <rect fill="none" height="24" width="24"></rect>
            </g>
            <g id="Master">
              <path
                d="M19,9.3V4h-3v2.6L12,3L2,12h3v8h5v-6h4v6h5v-8h3L19,9.3z M10,10c0-1.1,0.9-2,2-2s2,0.9,2,2H10z"
              ></path>
            </g>
          </svg>
        </dxc-toggle-icon>
      </dxc-toggle>
      <dxc-toggle value="test3" disabled>
        <dxc-toggle-icon>
          <img src="./assets/img/linkedin.svg" />
        </dxc-toggle-icon>
      </dxc-toggle>
    </dxc-togglegroup>
  </tbuilder-component-mode>
</div>
