.body-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  min-height: 100vh;
}

.container-content {
  background: white;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: 1px #cccccc;
}

.desktop {
  margin: 70px;
  ul {
    margin: 0px 100px 0px 0px;
  }
}

.tablet {
  dxc-box {
    ul {
      margin-right: 100px;
    }
  }
}

.mobile {
  dxc-box {
    box-shadow: none;
  }
  ul {
    width: calc(50% - 20px);
    margin-right: 100px;
    padding-inline-start: 0px;
    padding-left: 20px;
    li:before {
      content: '\2022 ';
      color: #006BF6;
      padding-right: 0.5em;
    }
  }
}

dxc-box {
  flex-wrap: wrap;
}

ul{
  list-style-type: none;
  display: flex;
  justify-content: flex-start; 
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0px;
  padding-inline-start: 0px !important;
  width: 80px;
}

.last{
  margin: 0px 40px 0px 0px !important;
}

ul li{
  position: relative;
  padding-bottom: 10px;
  white-space: nowrap;
}

.p-intro{
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}