<components-sidenav>
  <div class="container-content">
    <div [ngClass]="responsiveClass" *ngIf="default">
      <h1 class="title-components">Components</h1>

      <h2 class="subtitle-components">Forms</h2>
      <div class="components-intro">
        <dxc-box [padding]="boxPadding" size="fillParent">
          <ul>
            <li>
              <dxc-link
                text="Autocomplete"
                href=""
                [underlined]="underlined"
                (click)="!!navigateToRoute('autocomplete')"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                text="Button"
                href=""
                [underlined]="underlined"
                (click)="!!navigateToRoute('button')"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                [underlined]="underlined"
                (click)="!!navigateToRoute('checkbox')"
                text="Checkbox"
              ></dxc-link>
            </li>
          </ul>
          <ul>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('date')"
                text="Date"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('radio')"
                text="Radio Button"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('select')"
                text="Select"
                [underlined]="underlined"
              ></dxc-link>
            </li>
          </ul>
          <ul>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('slider')"
                text="Slider"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('switch')"
                text="Switch"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('input')"
                text="Text field"
                [underlined]="underlined"
              ></dxc-link>
            </li>
          </ul>
        </dxc-box>
      </div>

      <h2 class="subtitle-components">Navigation</h2>
      <div class="components-intro">
        <dxc-box [padding]="boxPadding" size="fillParent">
          <ul>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('footer')"
                text="Footer"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('header')"
                text="Header"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('tabs')"
                text="Tabs"
                [underlined]="underlined"
              ></dxc-link>
            </li>
          </ul>
          <ul>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('wizard')"
                text="Wizard"
                [underlined]="underlined"
              ></dxc-link>
            </li>
          </ul>
        </dxc-box>
      </div>

      <h2 class="subtitle-components">Layout</h2>
      <div class="components-intro">
        <dxc-box [padding]="boxPadding" size="fillParent">
          <ul>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('box')"
                text="Box"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('card')"
                text="Card"
                [underlined]="underlined"
                >Card</dxc-link
              >
            </li>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('sidenav')"
                text="Sidenav"
                [underlined]="underlined"
              ></dxc-link>
            </li>
          </ul>
          <ul>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('tabbed-section')"
                text="Tabbed Sections"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('tag')"
                text="Tag"
                [underlined]="underlined"
              ></dxc-link>
            </li>
          </ul>
        </dxc-box>
      </div>

      <h2 class="subtitle-components">Utilities</h2>
      <div class="components-intro">
        <dxc-box [padding]="boxPadding" size="fillParent">
          <ul>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('accordion')"
                text="Accordion"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('alert')"
                text="Alert"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('dialog')"
                text="Dialog"
                [underlined]="underlined"
              ></dxc-link>
            </li>
          </ul>
          <ul>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('dropdown')"
                text="Dropdown"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('heading')"
                text="Heading"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('link')"
                text="Link"
                [underlined]="underlined"
              ></dxc-link>
            </li>
          </ul>
          <ul>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('paginator')"
                text="Paginator"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('progressbar')"
                text="Progressbar"
                [underlined]="underlined"
                >Progressbar</dxc-link
              >
            </li>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('resultsettable')"
                text="Resultset Table"
                [underlined]="underlined"
              ></dxc-link>
            </li>
          </ul>
          <ul>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('spinner')"
                text="Spinner"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('table')"
                text="Table"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="!!navigateToRoute('upload')"
                text="Upload"
                [underlined]="underlined"
              ></dxc-link>
            </li>
          </ul>
        </dxc-box>
      </div>
    </div>
  </div>
</components-sidenav>
