<components-sidenav>
  <div class="container-content">
    <div [ngClass]="responsiveClass" *ngIf="default">
      <h1 class="title-components">Components</h1>

      <h2 class="subtitle-components">Forms</h2>
      <div class="components-intro">
        <dxc-box [padding]="boxPadding" size="fillParent">
          <ul>
            <li>
              <dxc-link
                text="Autocomplete"
                href=""
                [underlined]="underlined"
                (click)="navigateToRoute('autocomplete'); $event.preventDefault()"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                text="Button"
                href=""
                [underlined]="underlined"
                (click)="navigateToRoute('button'); $event.preventDefault()"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                [underlined]="underlined"
                (click)="navigateToRoute('checkbox'); $event.preventDefault()"
                text="Checkbox"
              ></dxc-link>
            </li>
          </ul>
          <ul>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('date'); $event.preventDefault()"
                text="Date"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('radio'); $event.preventDefault()"
                text="Radio Button"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('select'); $event.preventDefault()"
                text="Select"
                [underlined]="underlined"
              ></dxc-link>
            </li>
          </ul>
          <ul>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('slider'); $event.preventDefault()"
                text="Slider"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('switch'); $event.preventDefault()"
                text="Switch"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('input'); $event.preventDefault()"
                text="Text field"
                [underlined]="underlined"
              ></dxc-link>
            </li>
          </ul>
        </dxc-box>
      </div>

      <h2 class="subtitle-components">Navigation</h2>
      <div class="components-intro">
        <dxc-box [padding]="boxPadding" size="fillParent">
          <ul>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('footer'); $event.preventDefault()"
                text="Footer"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('header'); $event.preventDefault()"
                text="Header"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('tabs'); $event.preventDefault()"
                text="Tabs"
                [underlined]="underlined"
              ></dxc-link>
            </li>
          </ul>
          <ul>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('wizard'); $event.preventDefault()"
                text="Wizard"
                [underlined]="underlined"
              ></dxc-link>
            </li>
          </ul>
        </dxc-box>
      </div>

      <h2 class="subtitle-components">Layout</h2>
      <div class="components-intro">
        <dxc-box [padding]="boxPadding" size="fillParent">
          <ul>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('box'); $event.preventDefault()"
                text="Box"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('card'); $event.preventDefault()"
                text="Card"
                [underlined]="underlined"
                >Card</dxc-link
              >
            </li>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('sidenav'); $event.preventDefault()"
                text="Sidenav"
                [underlined]="underlined"
              ></dxc-link>
            </li>
          </ul>
          <ul>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('tabbed-section'); $event.preventDefault()"
                text="Tabbed Sections"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('tag'); $event.preventDefault()"
                text="Tag"
                [underlined]="underlined"
              ></dxc-link>
            </li>
          </ul>
        </dxc-box>
      </div>

      <h2 class="subtitle-components">Utilities</h2>
      <div class="components-intro">
        <dxc-box [padding]="boxPadding" size="fillParent">
          <ul>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('accordion'); $event.preventDefault()"
                text="Accordion"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('alert'); $event.preventDefault()"
                text="Alert"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('dialog'); $event.preventDefault()"
                text="Dialog"
                [underlined]="underlined"
              ></dxc-link>
            </li>
          </ul>
          <ul>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('dropdown'); $event.preventDefault()"
                text="Dropdown"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('heading'); $event.preventDefault()"
                text="Heading"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('link'); $event.preventDefault()"
                text="Link"
                [underlined]="underlined"
              ></dxc-link>
            </li>
          </ul>
          <ul>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('paginator'); $event.preventDefault()"
                text="Paginator"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('progressbar'); $event.preventDefault()"
                text="Progressbar"
                [underlined]="underlined"
                >Progressbar</dxc-link
              >
            </li>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('resultsettable'); $event.preventDefault()"
                text="Resultset Table"
                [underlined]="underlined"
              ></dxc-link>
            </li>
          </ul>
          <ul>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('spinner'); $event.preventDefault()"
                text="Spinner"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('table'); $event.preventDefault()"
                text="Table"
                [underlined]="underlined"
              ></dxc-link>
            </li>
            <li>
              <dxc-link
                href=""
                (click)="navigateToRoute('upload'); $event.preventDefault()"
                text="Upload"
                [underlined]="underlined"
              ></dxc-link>
            </li>
          </ul>
        </dxc-box>
      </div>
    </div>
  </div>
</components-sidenav>
