<dxc-heading
  [level]="3"
  weight="normal"
  text="API"
  [margin]="{ bottom: 'small' }"
></dxc-heading>

<file-input-properties></file-input-properties>

<dxc-heading
  [level]="4"
  weight="normal"
  text="Interfaces"
  [margin]="{ bottom: 'small', top: 'small' }"
></dxc-heading>

<dxc-heading
  [level]="5"
  weight="normal"
  text="FileData"
  [margin]="{ bottom: 'small' }"
></dxc-heading>
<p>
  Object structure of the interface. It should be imported from the library.
</p>
<dxc-table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>data: File</td>
    <td>Selected file.</td>
  </tr>
  <tr>
    <td>error: string</td>
    <td>
      Error of the file. If it is defined, it will be shown and the file item
      will be mark as invalid.
    </td>
  </tr>
  <tr>
    <td>image: string | ArrayBuffer</td>
    <td>Preview of the file..</td>
  </tr>
</dxc-table>
<file-input-import></file-input-import>
