<h2 class="subtitle-example">Tokens</h2>
<dxc-table>
    <tr>
      <th>Name</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>color</td>
      <td>
        <code>#FFED00</code>
      </td>
      <td>This token affects the background and border of the checkbox.</td>
    </tr>
    <tr>
      <td>checkColor</td>
      <td>
        <code>#000000</code>
      </td>
      <td>This token affects the color of the checkmark.</td>
    </tr>
    <tr>
      <td>fontColor</td>
      <td><code>#000000</code></td>
      <td>This token affects the color of the label.</td>
    </tr>
  </dxc-table>