<div>
  <dxc-heading text="Light Mode" [level]="5" margin="xsmall"></dxc-heading>
  <background-provider color="#FFFFFF">
    <tbuilder-component-mode text="Default">
      <dxc-radio
        label="Option1"
        name="op1"
        [checked]="checked1"
        (onChange)="onChange1($event)"
        margin="xsmall"
        labelPosition="before"
      >
      </dxc-radio>
      <dxc-radio
        label="Option2"
        name="op2"
        [checked]="checked2"
        (onChange)="onChange2($event)"
        margin="xsmall"
        labelPosition="before"
      >
      </dxc-radio>
      <dxc-radio
        label="Option3"
        name="op3"
        [checked]="checked3"
        (onChange)="onChange3($event)"
        margin="xsmall"
        labelPosition="after"
      >
      </dxc-radio>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="Disabled">
      <dxc-radio
        label="Disabled1"
        [checked]="disabledCheck"
        margin="xsmall"
        labelPosition="before"
        disabled
      >
      </dxc-radio>
      <dxc-radio
        label="Disabled2"
        margin="xsmall"
        labelPosition="before"
        disabled
      >
      </dxc-radio>
      <dxc-radio
        label="Disabled3"
        margin="xsmall"
        labelPosition="before"
        disabled
      >
      </dxc-radio>
    </tbuilder-component-mode>
  </background-provider>

  <dxc-heading text="Dark Mode" [level]="5" margin="xsmall"></dxc-heading>
  <background-provider color="#000000">
    <tbuilder-component-mode text="Default" mode="dark">
      <dxc-radio
        label="Dark1"
        name="dark1"
        [checked]="checked1"
        (onChange)="onChange1($event)"
        margin="xsmall"
        labelPosition="before"
      >
      </dxc-radio>
      <dxc-radio
        label="Dark2"
        name="dark2"
        [checked]="checked2"
        (onChange)="onChange2($event)"
        margin="xsmall"
        labelPosition="before"
      >
      </dxc-radio>
      <dxc-radio
        label="Dark3"
        name="dark3"
        [checked]="checked3"
        (onChange)="onChange3($event)"
        margin="xsmall"
        labelPosition="before"
      >
      </dxc-radio>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="Disabled" mode="dark">
      <dxc-radio
        label="DisabledDark1"
        [checked]="disabledCheck"
        margin="xsmall"
        labelPosition="before"
        disabled
      >
      </dxc-radio>
      <dxc-radio
        label="DisabledDark2"
        margin="xsmall"
        labelPosition="before"
        disabled
      >
      </dxc-radio>
      <dxc-radio
        label="DisabledDark3"
        margin="xsmall"
        labelPosition="before"
        disabled
      >
      </dxc-radio>
    </tbuilder-component-mode>
  </background-provider>
</div>
