<div>
    <h1>Basic Example</h1>
    <dxc-tag  margin="medium" 
        [iconSrc]="img"
        label="DXC Technology">
    </dxc-tag>
    <dxc-tag
        margin="medium"
        [iconSrc]="img"
        label="DXC Technology"
        iconBgColor="#6B4187"
      ></dxc-tag>
      <dxc-tag
        margin="medium"
        [iconSrc]="img"
        label="DXC Technology"
        labelPosition="before"
      ></dxc-tag>
</div>
<div>
        <h1>Action Example</h1>
        <dxc-tag  margin="medium" 
            [iconSrc]="img"
            label="DXC Technology"
            (onClick)="onClick()"
            >
        </dxc-tag>
        <dxc-tag
            margin="medium"
            [iconSrc]="img"
            label="DXC Technology"
            iconBgColor="#6B4187"
            (onClick)="onClick()"

          ></dxc-tag>
          <dxc-tag
            margin="medium"
            [iconSrc]="img"
            label="DXC Technology"
            labelPosition="before"
            (onClick)="onClick()"
          ></dxc-tag>
    </div>
    <div>

            <h1>Tag with link</h1>
            <dxc-tag
            margin="medium"
            [iconSrc]="img"
            label="DXC Technology"
            linkHref="https://www.dxc.com"
          ></dxc-tag>
    </div>