<div className="test-case" id="prefix-suffix-icon-input">
  <h4>With prefix and suffix icons</h4>
  <dxc-input-text
    label="Input label"
    suffixIconSrc="./assets/images/home.svg"
    prefixIconSrc="./assets/images/home.svg"
    [value]="inputValue"
    (onChange)="onChange($event)"
    [autocompleteOptions]="autocompleteAsync"
  >
    <dxc-input-prefix-icon (onClickPrefix)="onPrefixClick()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M0 0h24v24H0z" fill="none" />
        <path
          d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
        />
      </svg>
    </dxc-input-prefix-icon>
    <dxc-input-suffix-icon (onClickSuffix)="onSuffixClick()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M0 0h24v24H0z" fill="none" />
        <path
          d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
        />
      </svg>
    </dxc-input-suffix-icon>
  </dxc-input-text>
</div>
<div className="test-case" id="prefix-icon-input">
  <h4>With prefix icon</h4>
  <dxc-input-text
    label="Surname"
    prefixIconSrc="./assets/images/home.svg"
    [autocompleteOptions]="options"
  ></dxc-input-text>
</div>

<div className="test-case" id="suffix-icon-input">
  <h4>With suffix icon</h4>
  <dxc-input-text
    label="Input label"
    suffixIconSrc="./assets/images/home.svg"
    [value]="inputValue"
    (onChange)="onChange($event)"
  ></dxc-input-text>
</div>

<div className="test-case" id="assistive-text-input">
  <h4>With assistive text</h4>
  <dxc-input-text
    label="Input label"
    [value]="inputValue"
    assistiveText="assistive text"
    (onChange)="onChange($event)"
  ></dxc-input-text>
</div>

<div className="test-case" id="without-label-input">
  <h4>Without label</h4>
  <dxc-input-text
    [value]="inputValue"
    assistiveText="assistive text"
    (onChange)="onChange($event)"
  ></dxc-input-text>
</div>

<div className="test-case" id="without-assistive-text-label-input">
  <h4>Without assistive text and label</h4>
  <dxc-input-text
    [(value)]="inputValue"
    (onChange)="onChange($event)"
  ></dxc-input-text>
</div>

<div className="test-case" id="disabled-input">
  <h4>Disabled input text</h4>
  <dxc-input-text
    label="Input label"
    [value]="inputValue"
    disabled="true"
    assistiveText="assistive text"
    (onChange)="onChange($event)"
  ></dxc-input-text>
</div>

<div className="test-case" id="required-input">
  <h4>Required input text</h4>
  <dxc-input-text
    label="Input label"
    [value]="inputValue"
    required="true"
    assistiveText="assistive text"
    (onChange)="onChange($event)"
    margin="medium"
  ></dxc-input-text>
</div>

<div>
  <h4>Sizes</h4>
  <div className="test-case" id="small-label-text">
    <h5>Small size - Label and assistive text max size</h5>
    <dxc-input-text
      label="Label "
      [value]="inputValue"
      assistiveText="assistive"
      (onChange)="onChange($event)"
      size="small"
    ></dxc-input-text>
  </div>
  <div className="test-case" id="small-min-size">
    <h5>Small size - Label, assistive text and value min size</h5>
    <dxc-input-text
      label="Label i"
      value="Input i"
      assistiveText="assistive t"
      (onChange)="onChangeUncontrolled($event)"
      size="small"
    ></dxc-input-text>
  </div>
  <div className="test-case" id="small-label-text-value">
    <h5>Small size - Label, assistive text and value max size</h5>
    <dxc-input-text
      label="Input"
      value="Input"
      assistiveText="assistive"
      (onChange)="onChangeUncontrolled($event)"
      size="small"
    ></dxc-input-text>
  </div>
  <div className="test-case" id="small-max-size-prefix">
    <h5>Small size - Value max size with prefix</h5>
    <dxc-input-text
      value="I"
      prefix="pre"
      (onClickPrefix)="onPrefixClick()"
      (onChange)="onChangeUncontrolled($event)"
      size="small"
    ></dxc-input-text>
  </div>
  <div className="test-case" id="small-max-size-suffix">
    <h5>Small size - Value max size with suffix</h5>
    <dxc-input-text
      value="I"
      suffix="suf"
      (onClickSuffix)="onSuffixClick()"
      (onChange)="onChangeUncontrolled($event)"
      size="small"
    ></dxc-input-text>
  </div>
  <div className="test-case" id="small-max-size-prefix-suffix">
    <h5>Small size - Value max size with prefix and suffix</h5>
    <dxc-input-text
      value=""
      prefix="pre"
      suffix="suf"
      (onClickSuffix)="onSuffixClick()"
      (onClickPrefix)="onPrefixClick()"
      (onChange)="onChangeUncontrolled($event)"
      size="small"
    ></dxc-input-text>
  </div>
  <div className="test-case" id="medium-label-text">
    <h5>Medium size - Label and assistive text max size</h5>
    <dxc-input-text
      label="Input label input label input lab"
      [value]="inputValue"
      assistiveText="assistive text assistive text assistive text"
      (onChange)="onChange($event)"
      size="medium"
    ></dxc-input-text>
  </div>
  <div className="test-case" id="medium-label-text-value">
    <h5>Medium size - Label, assistive text and value max size</h5>
    <dxc-input-text
      label="Input label input label input lab"
      value="Input value input value input val"
      assistiveText="assistive text assistive text assistive text"
      (onChange)="onChangeUncontrolled($event)"
      size="medium"
    ></dxc-input-text>
  </div>
  <div className="test-case" id="medium-min-size">
    <h5>Medium size - Label, assistive text and value min size</h5>
    <dxc-input-text
      label="Input label input label input labe"
      value="Input value input value input valu"
      assistiveText="assistive text assistive text assistive text a"
      (onChange)="onChangeUncontrolled($event)"
      size="medium"
    ></dxc-input-text>
  </div>
  <div className="test-case" id="medium-max-size-prefix">
    <h5>Medium size - Value max size with prefix</h5>
    <dxc-input-text
      value="Input value input value inp"
      prefix="pre"
      (onClickPrefix)="onPrefixClick()"
      (onChange)="onChangeUncontrolled($event)"
      size="medium"
    ></dxc-input-text>
  </div>
  <div className="test-case" id="medium-max-size-suffix">
    <h5>Medium size - Value max size with suffix</h5>
    <dxc-input-text
      value="Input value input value inp"
      suffix="suf"
      (onClickSuffix)="(onSuffixClick)"
      (onChange)="onChangeUncontrolled($event)"
      size="medium"
    ></dxc-input-text>
  </div>
  <div className="test-case" id="medium-max-size-preffix-suffix">
    <h5>Medium size - Value max size with prefix and suffix</h5>
    <dxc-input-text
      value="Input value input valu"
      prefix="pre"
      suffix="suf"
      (onClickPrefix)="onPrefixClick()"
      (onClickSuffix)="onSuffixClick()"
      (onChange)="onChangeUncontrolled($event)"
      size="medium"
    ></dxc-input-text>
  </div>
  <div className="test-case" id="large-label-text">
    <h5>Large size - Label and assistive text max size</h5>
    <dxc-input-text
      label="Input label example input input input input input input input in"
      value="Input value input value input value input value input value input"
      assistiveText="assistive text assistive text assistive text assistive text assistive text assistive tex"
      (onChange)="onChangeUncontrolled($event)"
      size="large"
    ></dxc-input-text>
  </div>
  <div className="test-case" id="large-label-text-value">
    <h5>Large size - Label, assistive text and value max size</h5>
    <dxc-input-text
      label="Input label input label input label input label input label input l"
      value="Input value input value input value input value input value input"
      assistiveText="assistive text assistive text assistive text assistive text assistive text assistive tex"
      (onChange)="onChangeUncontrolled($event)"
      size="large"
    ></dxc-input-text>
  </div>
  <div className="test-case" id="large-min-size">
    <h5>Large size - Label, assistive text and value min size</h5>
    <dxc-input-text
      label="Input label input label input label input label input label input la"
      value="Input value input value input value input value input value input v"
      assistiveText="assistive text assistive text assistive text assistive text assistive text assistive text"
      (onChange)="onChangeUncontrolled($event)"
      size="large"
    ></dxc-input-text>
  </div>
  <div className="test-case" id="large-max-size-prefix">
    <h5>Large size - Value max size with prefix</h5>
    <dxc-input-text
      value="Input value input value input value input value input value i"
      prefix="pre"
      (onClickPrefix)="onPrefixClick()"
      (onChange)="onChangeUncontrolled($event)"
      size="large"
    ></dxc-input-text>
  </div>
  <div className="test-case" id="large-max-size-suffix">
    <h5>Large size - Value max size with suffix</h5>
    <dxc-input-text
      value="Input value input value input value input value input value i"
      suffix="suf"
      (onClickSuffix)="onSuffixClick()"
      (onChange)="onChangeUncontrolled($event)"
      size="large"
    ></dxc-input-text>
  </div>
  <div className="test-case" id="large-max-size-prefix-suffix">
    <h5>Large size - Value max size with prefix and suffix</h5>
    <dxc-input-text
      value="Input value input value input value input value input v"
      prefix="pre"
      suffix="suf"
      (onClickSuffix)="onSuffixClick()"
      (onClickPrefix)="onPrefixClick()"
      (onChange)="onChangeUncontrolled($event)"
      size="large"
    ></dxc-input-text>
  </div>
  <div className="test-case" id="fillParent-label-text">
    <h5>FillParent size - Label and assistive text max size</h5>
    <dxc-input-text
      label="Input label example input input input input input input input input input input input input input input input input input input input input input input input input input input input input input input input input i"
      [value]="inputValue"
      assistiveText="assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistiv"
      (onChange)="onChange($event)"
      size="fillParent"
    ></dxc-input-text>
  </div>
  <div className="test-case" id="fillParent-label-text-value">
    <h5>FillParent size - Label, assistive text and value max line</h5>
    <dxc-input-text
      label="Input label example input input input input input input input input input input input input input input input input input input input input input input input input input input input input input input input input i"
      value="Input value input value input value input value input value input value input value input value input value input value input value input value input value input value input value input value input value input value i"
      assistiveText="assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistiv"
      (onChange)="onChangeUncontrolled($event)"
      size="fillParent"
    ></dxc-input-text>
  </div>
  <div className="test-case" id="fillParent-min-size">
    <h5>FillParent size - Label, assistive text and value min line</h5>
    <dxc-input-text
      label="Input label example input input input input input input input input input input input input input input input input input input input input input input input input input input input input input input input input in"
      value="Input value input value input value input value input value input value input value input value input value input value input value input value input value input value input value input value input value input value in"
      assistiveText="assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive"
      (onChange)="onChangeUncontrolled($event)"
      size="fillParent"
    ></dxc-input-text>
  </div>
  <div className="test-case" id="fillParent-max-size-prefix">
    <h5>FillParent size - Value max size with prefix</h5>
    <dxc-input-text
      value="Input value input value input value input value input value input value input value input value input value input value input value input value input value input value input value input value input value input va"
      prefix="pre"
      (onClickPrefix)="onPrefixClick()"
      (onChange)="onChangeUncontrolled($event)"
      size="fillParent"
    ></dxc-input-text>
  </div>
  <div className="test-case" id="fillParent-max-size-suffix">
    <h5>FillParent size - Value max size with suffix</h5>
    <dxc-input-text
      value="Input value input value input value input value input value input value input value input value input value input value input value input value input value input value input value input value input value input v"
      suffix="suf"
      (onClickSuffix)="onSuffixClick()"
      (onChange)="onChangeUncontrolled($event)"
      size="fillParent"
    ></dxc-input-text>
  </div>
  <div className="test-case" id="fillParent-max-size-prefix-suffix">
    <h5>FillParent size - Value max size with prefix and suffix</h5>
    <dxc-input-text
      value="Input value input value input value input value input value input value input value input value input value input value input value input value input value input value input value input value input value in"
      prefix="pre"
      suffix="suf"
      (onClickSuffix)="onSuffixClick()"
      (onClickPrefix)="onPrefixClick()"
      (onChange)="onChangeUncontrolled($event)"
      size="fillParent"
    ></dxc-input-text>
  </div>
</div>

<div>
  <h4>Margins</h4>
  <div className="test-case" id="xxsmall-margin">
    <h5>xxsmall margin</h5>
    <dxc-input-text
      label="Input label"
      [value]="inputValue"
      assistiveText="assistive text"
      (onChange)="onChange($event)"
      margin="xxsmall"
    ></dxc-input-text>
  </div>

  <div className="test-case" id="xsmall-margin">
    <h5>xsmall margin</h5>
    <dxc-input-text
      label="Input label"
      [value]="inputValue"
      assistiveText="assistive text"
      (onChange)="onChange($event)"
      margin="xsmall"
    ></dxc-input-text>
  </div>

  <div className="test-case" id="small-margin">
    <h5>Small margin</h5>
    <dxc-input-text
      label="Input label"
      [value]="inputValue"
      assistiveText="assistive text"
      (onChange)="onChange($event)"
      margin="small"
    ></dxc-input-text>
  </div>

  <div className="test-case" id="large-margin">
    <h5>Large margin</h5>
    <dxc-input-text
      label="Input label"
      [value]="inputValue"
      assistiveText="assistive text"
      (onChange)="onChange($event)"
      margin="large"
    ></dxc-input-text>
  </div>

  <div className="test-case" id="xlarge-margin">
    <h5>xlarge margin</h5>
    <dxc-input-text
      label="Input label"
      [value]="inputValue"
      assistiveText="assistive text"
      (onChange)="onChange($event)"
      margin="xlarge"
    ></dxc-input-text>
  </div>

  <div className="test-case" id="xxlarge-margin">
    <h5>xxlarge margin</h5>
    <dxc-input-text
      label="Input label"
      [value]="inputValue"
      assistiveText="assistive text"
      (onChange)="onChange($event)"
      margin="xxlarge"
    ></dxc-input-text>
  </div>

  <div className="test-case-controlled" id="xxlarge-margin">
    <h5>Uncontrolled</h5>
    <dxc-input-text
      label="Input label"
      assistiveText="assistive text"
      margin="xxlarge"
      (onChange)="onChangeUncontrolled($event)"
      (onBlur)="onBlur($event)"
    ></dxc-input-text>
  </div>
</div>
