<div>
  <tbuilder-component-mode text="Level 1">
    <dxc-heading text="Title for main section" [level]="1"></dxc-heading>
  </tbuilder-component-mode>

  <tbuilder-component-mode text="Level 2">
    <dxc-heading text="Heading for sections" [level]="2"></dxc-heading>
  </tbuilder-component-mode>

  <tbuilder-component-mode text="Level 3">
    <dxc-heading text="Subtitle introducing a section" [level]="3"></dxc-heading>
  </tbuilder-component-mode>

  <tbuilder-component-mode text="Level 4">
    <dxc-heading text="Heading for a paragraph" [level]="4"></dxc-heading>
  </tbuilder-component-mode>

  <tbuilder-component-mode text="Level 5">
    <dxc-heading text="Heading to mix with the rest of the headings" [level]="5"></dxc-heading>
  </tbuilder-component-mode>
</div>
