<div style="background: #000000">
        <dxc-button
          mode="basic"
          theme="dark"
          label="Basic Button"
          (onClick)="onClick()"
          margin="medium"
        ></dxc-button>
        <dxc-button
          mode="raised"
          theme="dark"
          label="Raised Button"
          (onClick)="onClick()"
          margin="medium"
        ></dxc-button>
        <dxc-button
          mode="flat"
          theme="dark"
          label="Flat Button"
          (onClick)="onClick()"
          margin="medium"
        ></dxc-button>
        <dxc-button
          mode="outlined"
          theme="dark"
          label="Outlined Button"
          (onClick)="onClick()"
          margin="medium"
        ></dxc-button>
      </div>
