<h2 class="subtitle-api">Theming</h2>
<dxc-table>
    <tr>
      <th>Name</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>pickerSelectedDateBackgroundColor</td>
      <td>
        <div class="default-color">
            <color-preview color="#000000"></color-preview>
            <code>#000000</code>
        </div>
      </td>
      <td>Applies to token pickerSelectedDateBackgroundColor.</td>
    </tr>
    <tr>
      <td>pickerSelectedDateColor</td>
      <td>
        <div class="default-color">
            <color-preview color="#FFED00"></color-preview>
            <code>#FFED00</code>
        </div>
      </td>
      <td>Applies to token pickerSelectedDateColor.</td>
    </tr>
  </dxc-table>