<div className="test-case" id="default-date">
  <h4>Default uncontrolled</h4>
  <dxc-date-input
    label="Date of birth"
    format="dd-MM-yyyy"
    margin="xsmall"
    helperText="helper text"
  >
  </dxc-date-input>
</div>

<div className="test-case" id="size-date">
  <h4>Sizes</h4>
  <dxc-date-input label="Medium" format="dd-MM-yyyy" margin="xsmall">
  </dxc-date-input>
  <dxc-date-input label="Large" format="dd-MM-yyyy" margin="xsmall" size="large">
  </dxc-date-input>
  <dxc-date-input
    label="Fill parent"
    format="dd-MM-yyyy"
    margin="xsmall"
    size="fillParent"
  >
  </dxc-date-input>
</div>

<div className="test-case" id="margin-date">
  <h4>Margin</h4>
  <dxc-date-input margin="xxsmall"> </dxc-date-input>
  <dxc-date-input margin="xsmall"> </dxc-date-input>
  <dxc-date-input margin="small"> </dxc-date-input>
  <dxc-date-input margin="medium"> </dxc-date-input>
  <dxc-date-input margin="large"> </dxc-date-input>
  <dxc-date-input margin="xlarge"> </dxc-date-input>
  <dxc-date-input margin="xxlarge"> </dxc-date-input>
</div>

<div className="test-case" id="controlled-date">
  <h4>Controlled</h4>
  <dxc-date-input [value]="inputValue" (onChange)="onChange()" margin="xsmall">
  </dxc-date-input>
  <dxc-date-input
    label="With label + placeholder"
    value="04-10-1996"
    (onChange)="onChange()"
    margin="xsmall"
    placeholder
  >
  </dxc-date-input>
  <dxc-date-input
    label="With helper text"
    value="04-10-1996"
    (onChange)="onChange()"
    margin="xsmall"
    helperText="Some sample text"
  >
  </dxc-date-input>
  <dxc-date-input
    label="Disabled"
    value="04-10-1996"
    (onChange)="onChange()"
    margin="xsmall"
    disabled
  >
  </dxc-date-input>
  <dxc-date-input
    label="Optional"
    value="04-10-1996"
    (onChange)="onChange()"
    margin="xsmall"
    optional
  >
  </dxc-date-input>
</div>

<div className="test-case" id="formats-date">
  <h4>Formats</h4>
  <dxc-date-input
    label="With new format"
    format="dd/MM/yy"
    margin="xsmall"
    placeholder
  >
  </dxc-date-input>
  <dxc-date-input
    label="With new format"
    format="MM/dd/yyyy"
    margin="xsmall"
    placeholder
  >
  </dxc-date-input>
  <dxc-date-input
    label="With new format"
    format="MM-dd-yyyy"
    margin="xsmall"
    placeholder
  >
  </dxc-date-input>
</div>

<div className="test-case" id="blur-date">
  <h4>OnBlur</h4>
  <dxc-date-input
    label="With onBlur & onChange events"
    [value]="value"
    (onChange)="onChangeValue()"
    (onBlur)="onBlur()"
    margin="xsmall"
    [error]="error"
  >
  </dxc-date-input>
</div>

<div className="test-case" id="error-date">
  <h4>Error</h4>
  <dxc-date-input label="With error" margin="xsmall" error="An error was catched">
  </dxc-date-input>
</div>

<div className="test-case" id="dark-date" style="background-color: black">
  <h4 style="color: white">Dark</h4>
  <background-provider color="#000000">
    <dxc-date-input
      label="Date of birth"
      format="dd-MM-yyyy"
      margin="xsmall"
      helperText="helper text"
    >
    </dxc-date-input>
  </background-provider>
</div>
