<div className="test-case" id="default-date">
  <h4>Default uncontrolled</h4>
  <dxc-new-date
    label="Date of birth"
    format="dd-MM-yyyy"
    margin="xsmall"
    helperText="helper text"
  >
  </dxc-new-date>
</div>

<div className="test-case" id="disabled-date">
  <h4>Disabled</h4>
  <dxc-new-date
    label="Date of birth"
    format="dd-MM-yyyy"
    margin="xsmall"
    helperText="helper text"
    disabled
  >
  </dxc-new-date>
</div>

<div className="test-case" id="error-date">
  <h4>Error</h4>
  <dxc-new-date
    label="Date of birth"
    format="dd-MM-yyyy"
    margin="xsmall"
    helperText="helper text"
    error="Error date"
  >
  </dxc-new-date>
</div>
