<dxc-heading [level]="3" weight="normal" text="Theming" [margin]="{bottom:'small'}"></dxc-heading>
<dxc-table>
    <tr>
      <th>Name</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>baseColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#6F2C91"></color-preview>
          <code>#6F2C91</code>
        </div>
      </td>
      <td>Applies to token headerBackgroundColor.</td>
    </tr>
    <tr>
    <td>textColor</td>
    <td>
        <div class="default-color">
        <color-preview color="#FFFFFF"></color-preview>
        <code>#FFFFFF</code>
        </div>
    </td>
        <td>Applies to token headerFontColor.</td>
    </tr>
  </dxc-table>