<div style=" display: flex; align-items: center;">
  <dxc-chip
    [prefixIconSrc]="iconPath"
    label="Chip with prefix"
    margin="small"
    (prefixIconClick)="onClick()"
  ></dxc-chip>

  <dxc-chip
    [suffixIconSrc]="iconPath"
    label="Chip with suffix"
    margin="small"
    (suffixIconClick)="onClick()"
  ></dxc-chip>

  <dxc-chip
    [prefixIconSrc]="iconPath"
    [suffixIconSrc]="iconPath"
    label="Chip with both"
    margin="small"
    (suffixIconClick)="onClick()"
    (prefixIconClick)="onClick()"
  ></dxc-chip>

  <dxc-chip
    [prefixIconSrc]="iconPath"
    margin="small"
    (prefixIconClick)="onClick()"
  ></dxc-chip>
</div>


