<dxc-heading
  [level]="3"
  weight="normal"
  text="Examples"
  [margin]="{ bottom: 'small' }"
></dxc-heading>

<dxc-heading
  text="Default Card"
  [level]="5"
  [margin]="{ bottom: 'medium' }"
></dxc-heading>

<iframe
  src="https://codesandbox.io/embed/defaultcard-10ms8?fontsize=14&hidenavigation=1&theme=dark"
  style="
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
  "
  title="DefaultCard"
  allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
  sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
></iframe>

<dxc-heading
  text="Card with link"
  [level]="5"
  [margin]="{ top: 'medium', bottom: 'medium' }"
></dxc-heading>

<iframe
  src="https://codesandbox.io/embed/cardwithlink-xymjj?fontsize=14&hidenavigation=1&theme=dark"
  style="
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
  "
  title="CardWithLink"
  allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
  sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
></iframe>

<dxc-heading
  text="Card with action"
  [level]="5"
  [margin]="{ top: 'medium', bottom: 'medium' }"
></dxc-heading>

<iframe
  src="https://codesandbox.io/embed/cardwithaction-53d90?fontsize=14&hidenavigation=1&theme=dark"
  style="
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
  "
  title="CardWithAction"
  allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
  sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
></iframe>
