<h2 class="subtitle-example">Tokens</h2>
<dxc-table>
    <tr>
      <th>Name</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>backgroundColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#000000"></color-preview>
          <code>#000000</code>
        </div>
      </td>
      <td>Applies to token backgroundColor.</td>
    </tr>
    <tr>
      <td>fontColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#FFFFFF"></color-preview>
          <code>#FFFFFF</code>
        </div>
      </td>
      <td>Applies to token textColor.</td>
    </tr>
    <tr>
      <td>lineColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#FFED00"></color-preview>
          <code>#FFED00</code>
        </div>
      </td>
      <td>Applies to token lineColor.</td>
    </tr>
  </dxc-table>