<h3>Default</h3>
<v3-dxc-textarea
  label="Textarea label"
  [value]="inputValue"
  assistiveText="assistive text"
  (onChange)="onChange($event)"
  size="fillParent"
  margin="medium"
>
</v3-dxc-textarea>

<h3>Disabled</h3>
<v3-dxc-textarea
  label="Textarea label"
  [value]="inputValue"
  assistiveText="assistive text"
  (onChange)="onChange($event)"
  margin="medium"
  disabled="true"
>
</v3-dxc-textarea>

<h3>Required</h3>
<v3-dxc-textarea
  label="Textarea label"
  [value]="inputValue"
  assistiveText="assistive text"
  (onChange)="onChange($event)"
  margin="medium"
  required="true"
>
</v3-dxc-textarea>

<h3>Invalid</h3>
<v3-dxc-textarea
  label="Textarea label"
  [value]="inputValue"
  assistiveText="assistive text"
  (onChange)="onChange($event)"
  margin="medium"
  invalid="true"
>
</v3-dxc-textarea>

<h3>Uncontrolled</h3>
<v3-dxc-textarea
    label="Textarea label"
    assistiveText="assistive text"
    (onChange)="onChange($event)"
    (onBlur)="onBlur($event)"
    margin="medium">
</v3-dxc-textarea>

<h3>Controlled</h3>
<v3-dxc-textarea
    label="Textarea label"
    [value]="inputValue"
    assistiveText="assistive text"
    (onChange)="onChange($event)"
    (onBlur)="onBlur($event)"
    margin="medium">
</v3-dxc-textarea>