/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/theme.scss";

body {
    margin: 0px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Open Sans, "Helvetica Neue", sans-serif; }

.title-example{
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: "Open Sans";
}
  
.subtitle-example{
    font-size: 30px;
    font-weight: normal;
}

.subtitle-api{
    font-size: 24px;
    font-weight: normal;
}

.example-container{
    display: flex;
    flex-direction: column;
    margin: 70px;
}

.title-components{
    font-size: 50px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 1px;
    font-family: "Open Sans";
}

.subtitle-components{
    font-size: 30px;
    font-weight: normal;
    font-family: "Open Sans";
}

.default-color{
    display: flex;
    align-items: center;
}

code{
    font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
}

.title-tag{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 36px;
    gap: 0.5rem;
}