<div>
  <dxc-heading text="Light Mode" [level]="5" margin="xsmall"></dxc-heading>
  <background-provider color="#FFFFFF">
    <tbuilder-component-mode text="Default">
      <dxc-number
        placeholder="placeholder"
        label="Number label"
        helperText="helper text"
        margin="xsmall"
      >
        <dxc-input-text-prefix value="+34"></dxc-input-text-prefix>
        <dxc-input-text-suffix value="$"></dxc-input-text-suffix>
      </dxc-number>
    </tbuilder-component-mode>
    <tbuilder-component-mode text="Min, Max and step">
      <dxc-number
        placeholder="placeholder"
        label="Number label"
        helperText="helper text"
        min="10"
        max="100"
        step="5"
        [value]="numberValue"
        (onChange)="numberOnChange($event)"
        margin="xsmall"
      >
        <dxc-input-text-prefix value="+34"></dxc-input-text-prefix>
        <dxc-input-text-suffix value="$"></dxc-input-text-suffix>
      </dxc-number>
    </tbuilder-component-mode>
  </background-provider>

  <dxc-heading text="Dark Mode" [level]="5" margin="xsmall"></dxc-heading>
  <background-provider color="#000000">
    <tbuilder-component-mode text="Default" mode="dark">
      <dxc-number
        placeholder="placeholder"
        label="Number label"
        helperText="helper text"
        margin="xsmall"
      >
        <dxc-input-text-prefix value="+34"></dxc-input-text-prefix>
        <dxc-input-text-suffix value="$"></dxc-input-text-suffix>
      </dxc-number>
    </tbuilder-component-mode>
    <tbuilder-component-mode text="Min, Max and step" mode="dark">
      <dxc-number
        placeholder="placeholder"
        label="Number label"
        helperText="helper text"
        min="10"
        max="100"
        step="5"
        [value]="numberValue"
        (onChange)="numberOnChange($event)"
        margin="xsmall"
      >
        <dxc-input-text-prefix value="+34"></dxc-input-text-prefix>
        <dxc-input-text-suffix value="$"></dxc-input-text-suffix>
      </dxc-number>
    </tbuilder-component-mode>
  </background-provider>
</div>
