<div className="test-case" id="light-theme">
  <h4>Light theme and default icon</h4>
  <dxc-header></dxc-header>
</div>

<div>
  <h4>Dark theme</h4>
  <div style="background-color: black" className="test-case" id="dark-theme">
    <dxc-header theme="dark" logoSrc="./assets/images/dxcassure_blk.png">
      <div id="responsive">
        <a>test</a>
      </div>

      <div id="unresponsive" *ngFor="let component of components; index as i" class="nav-item">
        <a [routerLink]="component.route">{{ component.name }}</a>
      </div>    
    </dxc-header>
  </div>
</div>

<div className="test-case" id="underlined-header" id="underlined">
  <h4>Underlined Header</h4>
  <dxc-header [underline]="underlined" >
  </dxc-header>
</div>

<div className="test-case" id="custom-header">
  <h4>Header with custom content</h4>
  <dxc-header logoSrc="./assets/images/invision.png">
    <dxc-toggle label="Toggle" margin="xsmall"> </dxc-toggle>
    <dxc-dropdown
      [options]="options"
      label="Dropdown"
      margin="xsmall"
      theme="dark"
    >
    </dxc-dropdown>
    <dxc-button
      mode="basic"
      label="Button"
      margin="xsmall"
    >
    </dxc-button>
    <dxc-toggle label="Toggle" margin="xsmall"> </dxc-toggle>
    <dxc-dropdown
      [options]="options"
      label="Dropdown"
      margin="xsmall"
      theme="dark"
    >
    </dxc-dropdown>
    <dxc-button
      mode="basic"
      label="Button"
      margin="xsmall"
    >
    </dxc-button>
    <dxc-toggle label="Toggle" margin="xsmall"> </dxc-toggle>
    <dxc-dropdown
      [options]="options"
      label="Dropdown"
      margin="xsmall"
      theme="dark"
    >
    </dxc-dropdown>
  </dxc-header>
</div>

<div>
  <h4>Margins</h4>
  <div className="test-case" id="xxsmall-margin">
    <h5>xxsmall margin</h5>
    <dxc-header margin="xxsmall" logoSrc="./assets/images/yahoo.png">
    </dxc-header>
  </div>
  <div className="test-case" id="xsmall-margin">
    <h5>xsmall margin</h5>
    <dxc-header margin="xsmall"> </dxc-header>
  </div>
  <div className="test-case" id="small-margin">
    <h5>Small margin</h5>
    <dxc-header margin="small"> </dxc-header>
  </div>
  <div className="test-case" id="medium-margin">
    <h5>Medium margin</h5>
    <dxc-header margin="medium"> </dxc-header>
  </div>
  <div className="test-case" id="large-margin">
    <h5>Large margin</h5>
    <dxc-header margin="large"> </dxc-header>
  </div>
  <div className="test-case" id="xlarge-margin">
    <h5>xlarge margin</h5>
    <dxc-header margin="xlarge"> </dxc-header>
  </div>
  <div className="test-case" id="xxlarge-margin">
    <h5>xxlarge margin</h5>
    <dxc-header margin="xxlarge"> </dxc-header>
  </div>
</div>

<div>
  <h4>Paddings</h4>
  <div className="test-case" id="xxsmall-padding">
    <h5>xxsmall padding</h5>
    <dxc-header [padding]="paddingXxSmall" logoSrc="./assets/images/yahoo.png">
      <dxc-button label="Custom Button" (onClick)="(onClick)"></dxc-button>
    </dxc-header>
  </div>
  <div className="test-case" id="xsmall-padding">
    <h5>xsmall padding</h5>
    <dxc-header
      [padding]="paddingXSmall"
      logoSrc="./assets/images/invision.png"
    >
      <dxc-button label="Custom Button" (onClick)="(onClick)"></dxc-button>
    </dxc-header>
  </div>
  <div className="test-case" id="small-padding">
    <h5>Small padding</h5>
    <dxc-header [padding]="paddingSmall" logoSrc="./assets/images/skyscanner.jpeg">
      <dxc-button label="Custom Button" (onClick)="(onClick)"></dxc-button>
    </dxc-header>
  </div>
  <div className="test-case" id="medium-padding">
    <h5>Medium padding</h5>
    <dxc-header [padding]="paddingMedium">
      <dxc-button label="Custom Button" (onClick)="(onClick)"></dxc-button>
    </dxc-header>
  </div>
  <div className="test-case" id="large-padding">
    <h5>Large padding</h5>
    <dxc-header [padding]="paddingLarge">
      <dxc-button label="Custom Button" (onClick)="(onClick)"></dxc-button>
    </dxc-header>
  </div>
  <div className="test-case" id="xlarge-padding">
    <h5>xlarge padding</h5>
    <dxc-header [padding]="paddingXLarge">
      <dxc-button label="Custom Button" (onClick)="(onClick)"></dxc-button>
    </dxc-header>
  </div>
  <div className="test-case" id="xxlarge-padding">
    <h5>xxlarge padding</h5>
    <dxc-header [padding]="paddingXxLarge" logoSrc="./assets/images/yahoo.png">
      <dxc-button label="Custom Button" (onClick)="(onClick)"></dxc-button>
    </dxc-header>
  </div>
</div>
