<dxc-heading
  [level]="4"
  weight="normal"
  text="Properties"
  [margin]="{ bottom: 'small' }"
></dxc-heading>
<dxc-table>
  <tr>
    <th>Name</th>
    <th>Default</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>underlined: boolean</td>
    <td>
      <code>false</code>
    </td>
    <td>Wether a contrast line should appear at the bottom of the header.</td>
  </tr>
  <tr>
    <td>logoSrc: string</td>
    <td></td>
    <td>The path of an icon to replace the theme logo.</td>
  </tr>
  <tr>
    <td>logoResponsiveSrc: string</td>
    <td></td>
    <td>
      The path of an icon to replace the theme logo in responsive version.
    </td>
  </tr>
  <tr>
    <td>onClick: EventEmitter</td>
    <td></td>
    <td>This event will emit in case the user clicks the header logo.</td>
  </tr>
  <tr>
    <td>children: node</td>
    <td></td>
    <td>
      The right section of the header. Can be used to render custom content in
      this area.
    </td>
  </tr>
  <tr>
    <td>tabIndexValue: number</td>
    <td><code>0</code></td>
    <td>
      Value of the tabindex for all interactuable elements, except those inside
      the custom area.
    </td>
  </tr>
  <tr>
    <td>margin: string</td>
    <td></td>
    <td>
      Size of the bottom margin to be applied to the footer ('xxsmall' |
      'xsmall' | 'small' | 'medium' | 'large' | 'xlarge' | 'xxlarge').
    </td>
  </tr>
  <tr>
    <td>padding: any (string | object)</td>
    <td></td>
    <td>
      Size of the padding to be applied to the custom area of the component
      ('xxsmall' | 'xsmall' | 'small' | 'medium' | 'large' | 'xlarge' |
      'xxlarge'). You can pass an object with 'top', 'bottom', 'left' and
      'right' properties in order to specify different padding sizes.
    </td>
  </tr>
</dxc-table>
