<div>
  <!-- <div className="test-case" id="default-accordion">
    <h4>Accordion Group Uncontrolled Basic </h4>
    <dxc-accordion-group margin="medium">
      <dxc-accordion
        label="Label 1"
        padding="medium"
      >
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          malesuada lacus ex, sit amet blandit leo lobortis eget.
        </div>
      </dxc-accordion>
      <dxc-accordion
        label="Label 2"
        padding="medium"
      >
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          malesuada lacus ex, sit amet blandit leo lobortis eget.
        </div>
      </dxc-accordion>
    </dxc-accordion-group>
  </div> -->
  <div className="test-case" id="default-accordion">
    <h4>Accordion Group Uncontrolled with undefined ActiveIndex</h4>
    <dxc-accordion-group margin="medium" [indexActive]="undefined">
      <dxc-accordion
        label="Label 1"
        padding="medium"
        margin="medium"
        
      >
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          malesuada lacus ex, sit amet blandit leo lobortis eget.
        </div>
      </dxc-accordion>
      <dxc-accordion
        label="Label 2"
        padding="medium"
      >
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          malesuada lacus ex, sit amet blandit leo lobortis eget.
        </div>
      </dxc-accordion>
    </dxc-accordion-group>
  </div>
  <!-- <div className="test-case" id="default-accordion">
    <h4>Accordion Group on Close Controlled</h4>
    <dxc-accordion-group margin="medium" indexActive="undefined" onActiveChange="onCloseControlled($event)">
      <dxc-accordion
        label="Label 1"
        padding="medium"
      >
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          malesuada lacus ex, sit amet blandit leo lobortis eget.
        </div>
      </dxc-accordion>
      <dxc-accordion
        label="Label 2"
        padding="medium"
      >
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          malesuada lacus ex, sit amet blandit leo lobortis eget.
        </div>
      </dxc-accordion>
    </dxc-accordion-group>
  </div>

  <div className="test-case" id="default-accordion">
    <h4>Accordion Group Controlled with static index active</h4>
    <dxc-accordion-group margin="medium" indexActive="0">
      <dxc-accordion
        label="Label 1"
        padding="medium"
      >
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          malesuada lacus ex, sit amet blandit leo lobortis eget.
        </div>
      </dxc-accordion>
      <dxc-accordion
        label="Label 2"
        padding="medium"
      >
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          malesuada lacus ex, sit amet blandit leo lobortis eget.
        </div>
      </dxc-accordion>
    </dxc-accordion-group>
  </div> -->
</div>
