<div>
  <tbuilder-component-mode text="Default Dialog">
    <dxc-button
      label="Open dialog"
      (onClick)="openDialog1()"
      margin="xsmall"
      mode="primary"
    ></dxc-button>
    <dxc-dialog
      *ngIf="visible1"
      [isCloseVisible]="true"
      (onCloseClick)="openDialog1()"
      overlay="false"
      padding="large"
    >
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          congue consectetur ex, dignissim venenatis massa placerat in. In sed
          arcu fermentum, blandit tortor sed, feugiat mi. Donec ac sem ac felis
          cursus varius at mollis sem. Vestibulum et aliquet ipsum. Nam auctor,
          augue at tincidunt suscipit, odio justo vehicula orci, at feugiat elit
          diam in eros. Nunc vitae ligula urna. Suspendisse accumsan tempus
          tempus. Vivamus a felis ultricies, elementum nibh vel, pharetra
          sapien. Duis elementum consectetur sapien, volutpat aliquam eros
          sodales iaculis. Quisque auctor fringilla lectus nec mattis.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          congue consectetur ex, dignissim venenatis massa placerat in. In sed
          arcu fermentum, blandit tortor sed, feugiat mi. Donec ac sem ac felis
          cursus varius at mollis sem. Vestibulum et aliquet ipsum. Nam auctor,
          augue at tincidunt suscipit, odio justo vehicula orci, at feugiat elit
          diam in eros. Nunc vitae ligula urna. Suspendisse accumsan tempus
          tempus. Vivamus a felis ultricies, elementum nibh vel, pharetra
          sapien. Duis elementum consectetur sapien, volutpat aliquam eros
          sodales iaculis. Quisque auctor fringilla lectus nec mattis.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          congue consectetur ex, dignissim venenatis massa placerat in. In sed
          arcu fermentum, blandit tortor sed, feugiat mi. Donec ac sem ac felis
          cursus varius at mollis sem. Vestibulum et aliquet ipsum. Nam auctor,
          augue at tincidunt suscipit, odio justo vehicula orci, at feugiat elit
          diam in eros. Nunc vitae ligula urna. Suspendisse accumsan tempus
          tempus. Vivamus a felis ultricies, elementum nibh vel, pharetra
          sapien. Duis elementum consectetur sapien, volutpat aliquam eros
          sodales iaculis. Quisque auctor fringilla lectus nec mattis.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          congue consectetur ex, dignissim venenatis massa placerat in. In sed
          arcu fermentum, blandit tortor sed, feugiat mi. Donec ac sem ac felis
          cursus varius at mollis sem. Vestibulum et aliquet ipsum. Nam auctor,
          augue at tincidunt suscipit, odio justo vehicula orci, at feugiat elit
          diam in eros. Nunc vitae ligula urna. Suspendisse accumsan tempus
          tempus. Vivamus a felis ultricies, elementum nibh vel, pharetra
          sapien. Duis elementum consectetur sapien, volutpat aliquam eros
          sodales iaculis. Quisque auctor fringilla lectus nec mattis.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          congue consectetur ex, dignissim venenatis massa placerat in. In sed
          arcu fermentum, blandit tortor sed, feugiat mi. Donec ac sem ac felis
          cursus varius at mollis sem. Vestibulum et aliquet ipsum. Nam auctor,
          augue at tincidunt suscipit, odio justo vehicula orci, at feugiat elit
          diam in eros. Nunc vitae ligula urna. Suspendisse accumsan tempus
          tempus. Vivamus a felis ultricies, elementum nibh vel, pharetra
          sapien. Duis elementum consectetur sapien, volutpat aliquam eros
          sodales iaculis. Quisque auctor fringilla lectus nec mattis.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          congue consectetur ex, dignissim venenatis massa placerat in. In sed
          arcu fermentum, blandit tortor sed, feugiat mi. Donec ac sem ac felis
          cursus varius at mollis sem. Vestibulum et aliquet ipsum. Nam auctor,
          augue at tincidunt suscipit, odio justo vehicula orci, at feugiat elit
          diam in eros. Nunc vitae ligula urna. Suspendisse accumsan tempus
          tempus. Vivamus a felis ultricies, elementum nibh vel, pharetra
          sapien. Duis elementum consectetur sapien, volutpat aliquam eros
          sodales iaculis. Quisque auctor fringilla lectus nec mattis.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          congue consectetur ex, dignissim venenatis massa placerat in. In sed
          arcu fermentum, blandit tortor sed, feugiat mi. Donec ac sem ac felis
          cursus varius at mollis sem. Vestibulum et aliquet ipsum. Nam auctor,
          augue at tincidunt suscipit, odio justo vehicula orci, at feugiat elit
          diam in eros. Nunc vitae ligula urna. Suspendisse accumsan tempus
          tempus. Vivamus a felis ultricies, elementum nibh vel, pharetra
          sapien. Duis elementum consectetur sapien, volutpat aliquam eros
          sodales iaculis. Quisque auctor fringilla lectus nec mattis.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          congue consectetur ex, dignissim venenatis massa placerat in. In sed
          arcu fermentum, blandit tortor sed, feugiat mi. Donec ac sem ac felis
          cursus varius at mollis sem. Vestibulum et aliquet ipsum. Nam auctor,
          augue at tincidunt suscipit, odio justo vehicula orci, at feugiat elit
          diam in eros. Nunc vitae ligula urna. Suspendisse accumsan tempus
          tempus. Vivamus a felis ultricies, elementum nibh vel, pharetra
          sapien. Duis elementum consectetur sapien, volutpat aliquam eros
          sodales iaculis. Quisque auctor fringilla lectus nec mattis.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          congue consectetur ex, dignissim venenatis massa placerat in. In sed
          arcu fermentum, blandit tortor sed, feugiat mi. Donec ac sem ac felis
          cursus varius at mollis sem. Vestibulum et aliquet ipsum. Nam auctor,
          augue at tincidunt suscipit, odio justo vehicula orci, at feugiat elit
          diam in eros. Nunc vitae ligula urna. Suspendisse accumsan tempus
          tempus. Vivamus a felis ultricies, elementum nibh vel, pharetra
          sapien. Duis elementum consectetur sapien, volutpat aliquam eros
          sodales iaculis. Quisque auctor fringilla lectus nec mattis.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          congue consectetur ex, dignissim venenatis massa placerat in. In sed
          arcu fermentum, blandit tortor sed, feugiat mi. Donec ac sem ac felis
          cursus varius at mollis sem. Vestibulum et aliquet ipsum. Nam auctor,
          augue at tincidunt suscipit, odio justo vehicula orci, at feugiat elit
          diam in eros. Nunc vitae ligula urna. Suspendisse accumsan tempus
          tempus. Vivamus a felis ultricies, elementum nibh vel, pharetra
          sapien. Duis elementum consectetur sapien, volutpat aliquam eros
          sodales iaculis. Quisque auctor fringilla lectus nec mattis.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          congue consectetur ex, dignissim venenatis massa placerat in. In sed
          arcu fermentum, blandit tortor sed, feugiat mi. Donec ac sem ac felis
          cursus varius at mollis sem. Vestibulum et aliquet ipsum. Nam auctor,
          augue at tincidunt suscipit, odio justo vehicula orci, at feugiat elit
          diam in eros. Nunc vitae ligula urna. Suspendisse accumsan tempus
          tempus. Vivamus a felis ultricies, elementum nibh vel, pharetra
          sapien. Duis elementum consectetur sapien, volutpat aliquam eros
          sodales iaculis. Quisque auctor fringilla lectus nec mattis.
        </p>
      </div>
    </dxc-dialog>
  </tbuilder-component-mode>

  <tbuilder-component-mode text="Modal Dialog">
    <dxc-button
      label="Open dialog"
      (onClick)="openDialog2()"
      margin="xsmall"
      mode="primary"
    ></dxc-button>
    <dxc-dialog
      *ngIf="visible2"
      (onBackgroundClick)="openDialog2()"
      [isCloseVisible]="false"
    >
      Overlay close
    </dxc-dialog>
  </tbuilder-component-mode>

  <tbuilder-component-mode text="Close Button Dialog">
    <dxc-button
      label="Open dialog"
      (onClick)="openDialog3()"
      margin="xsmall"
      mode="primary"
    ></dxc-button>
    <dxc-dialog
      (onCloseClick)="openDialog3()"
      *ngIf="visible3"
      padding="xsmall"
    >
      <dxc-button
        label="Close"
        mode="primary"
        (onClick)="openDialog3()"
        margin="xsmall"
      ></dxc-button>
    </dxc-dialog>
  </tbuilder-component-mode>
</div>
