<div class="formLab">

  <form [formGroup]="pruebaForm">

    <dxc-new-input-text
    placeholder="placeholder"
    helperText="helper text"
    label="Input label"
    margin="xsmall"
    [value]="controlledValue"
    (onChange)="changeValue($event)"
    clearable="true"
    (onActionClick)="click()"
    formControlName="pruebaInput"
  ></dxc-new-input-text>




  <dxc-new-select
    label="Label"
    name="example1"
    helperText="HelperText"
    margin="xsmall"
    [options]="array1"
    (onChange)="onChange($event)"
    (onBlur)="onBlur($event)"
    [optional]="true"
    placeholder="Another placeholder"
    size="large"
    tabIndex="3"
    [(ngModel)]="myText"
    formControlName="pruebaSelect"
  >




  </dxc-new-select>
      <dxc-button  label="Basic Button"
      margin="medium" (onClick)="onSubmit($event)"></dxc-button>

  </form>
<!--
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <input name="first" ngModel>
    <input name="last" ngModel>
    <button>Submit</button>
  </form> -->

</div>
