<dxc-heading
  [level]="3"
  weight="normal"
  text="API"
  [margin]="{ bottom: 'small' }"
></dxc-heading>

<dxc-heading
  [level]="4"
  weight="normal"
  text="Children"
  [margin]="{ bottom: 'small' }"
></dxc-heading>
<p>
  This component has no props. It has children and it follows the design
  guidelines available
  <dxc-link
    href="https://developer.dxc.com/design/guidelines/principles/layout"
    underlined="false"
    text="here"
  ></dxc-link>
  .
</p>

<dxc-heading
  [level]="5"
  weight="normal"
  text="DxcApplicationLayoutHeader"
  [margin]="{ bottom: 'small' }"
></dxc-heading>
<p>
  Everything in this component will be displayed as a header, at the top of the
  screen. If you want to show a
  <dxc-link
    text="DxcHeader"
    href=""
    underlined="false"
    (click)="navigateToRoute('header'); $event.preventDefault()"
  ></dxc-link
  >, as a shortcut, you can directly use it without DxcApplicationLayoutHeader.
  This is optional and if it is not specified, the DxcHeader will be shown by
  default.
</p>

<dxc-heading
  [level]="5"
  weight="normal"
  text="DxcApplicationLayoutSidenav"
  [margin]="{ bottom: 'small' }"
></dxc-heading>
<p>
  Everything in this component will be displayed as content inside a sidenav at
  the left. This is optional and if not specified, the sidenav will not be
  shown. 
</p>

<dxc-heading
  [level]="5"
  weight="normal"
  text="Props"
  [margin]="{ bottom: 'small' }"
></dxc-heading>

<dxc-table [margin]="{ bottom: 'medium' }">
  <tr>
    <th>Name</th>
    <th>Default</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>mode: 'overlay' | 'push'</td>
    <td>
      <code>'push'</code>
    </td>
    <td>
      Default action over the content of the page, overlay the content or push
      to the right. In lower resolutions the mode will always be overlay.
    </td>
  </tr>
  <tr>
    <td>displayArrow: boolean</td>
    <td>
      <code>true</code>
    </td>
    <td>
      If false, the arrow button is hidden. In lower resolutions the arrow will
      be always displayed.
    </td>
  </tr>
  <tr>
    <td>padding: string | object</td>
    <td></td>
    <td>
      Size of the padding to be applied to the custom area ('xxsmall' | 'xsmall'
      | 'small' | 'medium' | 'large' | 'xlarge' | 'xxlarge'). You can pass an
      object with 'top', 'bottom', 'left' and 'right' properties in order to
      specify different padding sizes.
    </td>
  </tr>
</dxc-table>

<dxc-heading
  [level]="5"
  weight="normal"
  text="DxcApplicationLayoutFooter"
  [margin]="{ bottom: 'small' }"
></dxc-heading>
<p>
  This component has to be a child of DxcApplicationLayoutMain. Everything in
  this component will be displayed as a footer, at the bottom of the screen. If
  you want to show a
  <dxc-link
    text="DxcFooter"
    href=""
    underlined="false"
    (click)="navigateToRoute('footer'); $event.preventDefault()"
  ></dxc-link
  >, as a shortcut, you can directly use it without DxcApplicationLayoutFooter.
  This is optional and if it is not specified, the DxcFooter will be shown by
  default.
</p>

<dxc-heading
  [level]="5"
  weight="normal"
  text="DxcApplicationLayoutMain"
  [margin]="{ bottom: 'small' }"
></dxc-heading>
<p>
  Everything in this component will be displayed as content inside the main
  container at the center.
</p>

<dxc-heading
  [level]="4"
  weight="normal"
  text="Module"
  [margin]="{ bottom: 'small' }"
></dxc-heading>
<p>
  To be able to use this component, you should import the module in the page you
  want to use it from your Angular project. You have the following example:
</p>

<app-code-playground [code]="bindCode" type="TS"></app-code-playground>
