<div>
  <dxc-heading text="Light Mode" [level]="5" margin="xsmall"></dxc-heading>
  <background-provider color="#FFFFFF">
    <tbuilder-component-mode text="Default">
      <dxc-date
        label="Date of birth"
        format="dd-MM-yyyy"
        margin="xsmall"
        assistiveText="Assistive Text"
      >
      </dxc-date>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="Disabled">
      <dxc-date
        label="Date of birth"
        format="dd-MM-yyyy"
        margin="xsmall"
        assistiveText="Assistive Text"
        disabled
      >
      </dxc-date>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="Invalid">
      <dxc-date
        label="Date of birth"
        format="dd-MM-yyyy"
        margin="xsmall"
        assistiveText="Assistive Text"
        invalid
      >
      </dxc-date>
    </tbuilder-component-mode>
  </background-provider>

  <!-- <dxc-heading text="Dark Mode" [level]="5" margin="xsmall"></dxc-heading>
  <background-provider color="#000000">
    <tbuilder-component-mode text="Default" mode="dark">
      <dxc-date
        label="Date of birth"
        format="dd-MM-yyyy"
        margin="xsmall"
        assistiveText="Assistive Text"
      >
      </dxc-date>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="Disabled" mode="dark">
      <dxc-date
        label="Date of birth"
        format="dd-MM-yyyy"
        margin="xsmall"
        assistiveText="Assistive Text"
        disabled
      >
      </dxc-date>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="Invalid" mode="dark">
      <dxc-date
        label="Date of birth"
        format="dd-MM-yyyy"
        margin="xsmall"
        assistiveText="Assistive Text"
        invalid
      >
      </dxc-date>
    </tbuilder-component-mode>
  </background-provider> -->
</div>
