<div>
  <dxc-heading text="Light Mode" [level]="5" margin="xsmall"></dxc-heading>
  <div>
    <tbuilder-component-mode text="Default">
      <dxc-date
        label="Date of birth"
        format="dd-MM-yyyy"
        margin="xsmall"
        assistiveText="Assistive Text"
      >
      </dxc-date>
    </tbuilder-component-mode>
  </div>

  <dxc-heading text="Dark Mode" [level]="5" margin="xsmall"></dxc-heading>
  <div style="background: black">
    <tbuilder-component-mode text="Default" mode="dark">
      <dxc-date
        label="Date of birth"
        format="dd-MM-yyyy"
        margin="xsmall"
        assistiveText="Assistive Text"
      >
      </dxc-date>
    </tbuilder-component-mode>
  </div>
</div>
