
@font-face {
  font-family: 'Open Sans';
  src: url('./open-sans/OpenSans-Light.ttf')
    format('truetype');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./open-sans/OpenSans-Regular.ttf')
    format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./open-sans/OpenSans-SemiBold.ttf')
    format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./open-sans/OpenSans-Bold.ttf')
    format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./open-sans/OpenSans-ExtraBold.ttf')
    format('truetype');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./open-sans/OpenSans-LightItalic.ttf')
    format('truetype');
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./open-sans/OpenSans-Italic.ttf')
    format('truetype');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./open-sans/OpenSans-SemiBoldItalic.ttf')
    format('truetype');
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./open-sans/OpenSans-BoldItalic.ttf')
    format('truetype');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./open-sans/OpenSans-ExtraBoldItalic.ttf')
    format('truetype');
  font-style: italic;
  font-weight: 800;
}
