<div>
  <h3>Sizes</h3>
  <div>
    <dxc-dropdown
      label=""
      [options]="optionsWithoutIcon"
      size="small"
      margin="small"
    ></dxc-dropdown>
  </div>
  <div>
    <dxc-dropdown
      label="Medium"
      [options]="optionsWithoutIcon"
      size="medium"
      margin="small"
    ></dxc-dropdown>
  </div>
  <div>
    <dxc-dropdown
      label="Large"
      theme="light"
      mode="basic"
      [options]="optionsWithoutIcon"
      size="large"
      margin="small"
    ></dxc-dropdown>
  </div>
  <div>
    <dxc-dropdown
      label="Fit Content"
      theme="light"
      mode="basic"
      [options]="optionsWithoutIcon"
      size="fitContent"
      margin="small"
    ></dxc-dropdown>
  </div>
  <div>
    <dxc-dropdown
      label="Fill Parent"
      theme="light"
      mode="basic"
      [options]="optionsWithoutIcon"
      size="fillParent"
      margin="small"
    ></dxc-dropdown>
  </div>
  <h3>Margin</h3>
  <div>
    <dxc-dropdown
      label="xxSmall margin"
      margin="xxsmall"
      [options]="optionsWithoutIcon"
    ></dxc-dropdown>
  </div>
  <div>
    <dxc-dropdown
      label="xSmall margin"
      margin="xsmall"
      [options]="optionsWithoutIcon"
    ></dxc-dropdown>
  </div>
  <div>
    <dxc-dropdown
      label="Small margin"
      margin="small"
      [options]="optionsWithoutIcon"
    ></dxc-dropdown>
  </div>
  <div>
    <dxc-dropdown
      label="Medium margin"
      margin="medium"
      [options]="optionsWithoutIcon"
    ></dxc-dropdown>
  </div>
  <div>
    <dxc-dropdown
      label="Large margin"
      margin="large"
      [options]="optionsWithoutIcon"
    ></dxc-dropdown>
  </div>
  <div>
    <dxc-dropdown
      label="xLarge margin"
      margin="xlarge"
      [options]="optionsWithoutIcon"
    ></dxc-dropdown>
  </div>
  <div>
    <dxc-dropdown
      label="xxLarge margin"
      margin="xxlarge"
      [options]="optionsWithoutIcon"
    ></dxc-dropdown>
  </div>
  <div>
    <h3>Basic dropdown and label sizes</h3>
    <div>
      <dxc-dropdown
        label="Basic Dropdown"
        mode="basic"
        margin="small"
        [options]="optionsWithoutIcon"
      ></dxc-dropdown>
    </div>
    <div>
      <dxc-dropdown
        label="Maximum label size for"
        mode="basic"
        margin="small"
        [options]="optionsWithoutIcon"
      ></dxc-dropdown>
    </div>
    <div>
      <dxc-dropdown
        label="Minimum label size for12"
        mode="basic"
        margin="small"
        [options]="optionsWithoutIcon"
      ></dxc-dropdown>
    </div>
    <h3>Outlined dropdown and label sizes</h3>
    <div>
      <dxc-dropdown
        label="Basic Dropdown"
        mode="outlined"
        margin="small"
        [options]="optionsWithoutIcon"
      ></dxc-dropdown>
    </div>
    <div>
      <dxc-dropdown
        label="Maximum label size for"
        mode="outlined"
        margin="small"
        [options]="optionsWithoutIcon"
      ></dxc-dropdown>
    </div>
    <div>
      <dxc-dropdown
        label="Minimum label size for12"
        mode="outlined"
        margin="small"
        [options]="optionsWithoutIcon"
      ></dxc-dropdown>
    </div>
    <div>
      <dxc-dropdown
        label="Dropdown with caret"
        margin="small"
        [options]="optionsWithoutIcon"
      ></dxc-dropdown>
    </div>
    <div>
      <dxc-dropdown
        label="Dropdown without caret"
        margin="small"
        [options]="optionsWithoutIcon"
        [showCaret]="false"
      ></dxc-dropdown>
    </div>
  </div>
  <h3>Outlined</h3>
  <dxc-dropdown
    label="O"
    theme="light"
    mode="outlined"
    [options]="optionsWithoutIcon"
    size="fillParent"
    margin="small"
  ></dxc-dropdown>
  <dxc-dropdown
    label="O"
    theme="dark"
    mode="outlined"
    [options]="optionsWithoutIcon"
    size="small"
  ></dxc-dropdown>
  <h3>Basic</h3>
  <dxc-dropdown
    label="Light"
    theme="light"
    mode="basic"
    [options]="optionsWithoutIcon"
    size="medium"
  ></dxc-dropdown>
  <dxc-dropdown
    label="Dark"
    theme="dark"
    mode="basic"
    [options]="optionsWithoutIcon"
    size="medium"
  ></dxc-dropdown>
  <h3>Large</h3>
  <dxc-dropdown
    label="Light"
    theme="light"
    mode="basic"
    [options]="optionsWithoutIcon"
    size="large"
  ></dxc-dropdown>
  <dxc-dropdown
    label="Dark"
    theme="dark"
    mode="basic"
    [options]="optionsWithoutIcon"
    size="large"
  ></dxc-dropdown>

  <h3>fitContent</h3>
  <dxc-dropdown
    label="Lightgfasdfa asf asdf"
    theme="light"
    mode="basic"
    [options]="optionsWithoutIcon"
    size="fitContent"
  ></dxc-dropdown>
  <dxc-dropdown
    label="Darkgfasdfa asf asdf"
    theme="dark"
    mode="basic"
    [options]="optionsWithoutIcon"
    size="fitContent"
  ></dxc-dropdown>
  <h3>fillContent</h3>
  <dxc-dropdown
    label="Lightgfasdfa asf asdf"
    theme="light"
    mode="basic"
    [options]="optionsWithoutIcon"
    size="fillContent"
  ></dxc-dropdown>
  <dxc-dropdown
    label="Darkgfasdfa asf asdf"
    theme="dark"
    mode="basic"
    [options]="optionsWithoutIcon"
    size="fillContent"
  ></dxc-dropdown>
</div>
