<div class="sidenav">
  <div class="sidenav-title">
    <h1 class="sidenav-title">Theme Builder</h1>
  </div>
  <div>
    <dxc-select
      label="Type"
      margin="small"
      [options]="selectOptions"
      (onChange)="onThemeTypeChange($event)"
      [value]="selectedThemeComponent.themeType"
      size="fillParent"
    >
    </dxc-select>
  </div>
  <div class="sidenav-links">
    <div class="nav-item">
      <div class="menu">
        <div class="menu-title">Components</div>
        <div class="menu-items">
          <div
            class="menu-item"
            *ngFor="let currentMenuItem of componentMenuItems"
          >
            <a
              [ngClass]="{
                active:
                  'components/' + currentMenuItem
                    ? router.isActive(
                        router
                          .createUrlTree(['components/accordion'])
                          .toString(),
                        true
                      )
                    : false
              }"
              (click)="renderTo(currentMenuItem)"
              >{{ capitalizeFirstLetter(currentMenuItem) }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
