<div class="light">
  <dxc-radio labelPosition="before" label="Radio 1" margin="medium"></dxc-radio>

  <dxc-radio labelPosition="before" label="Radio 2" margin="medium"></dxc-radio>

  <dxc-radio labelPosition="after" label="Radio 3" margin="medium"></dxc-radio>

  <dxc-radio
    disabled
    labelPosition="before"
    label="Radio 4"
    margin="medium"
  ></dxc-radio>

  <dxc-radio (change)="showAlert()" label="Radio 5" margin="medium"></dxc-radio>

  <dxc-radio (change)="showAlert()" label="Radio 6" margin="medium"></dxc-radio>
</div>
<div class="dark">
  <dxc-radio
    labelPosition="before"
    [theme]="'dark'"
    label="Radio 1"
    margin="medium"
  ></dxc-radio>

  <dxc-radio
    labelPosition="before"
    [theme]="'dark'"
    label="Radio 2"
    margin="medium"
  ></dxc-radio>

  <dxc-radio
    [theme]="'dark'"
    labelPosition="after"
    label="Radio 3"
    margin="medium"
  ></dxc-radio>

  <dxc-radio
    disabled
    [theme]="'dark'"
    labelPosition="before"
    label="Radio 4"
    margin="medium"
  ></dxc-radio>

  <dxc-radio
    [theme]="'dark'"
    (change)="showAlert()"
    label="Radio 5"
    margin="medium"
  ></dxc-radio>

  <dxc-radio
    [checked]="checked"
    [theme]="'dark'"
    label="Radio 6"
    margin="medium"
  ></dxc-radio>
</div>

<div style="width: 600px">
    <dxc-radio
    label="Parent Filled"
    margin="medium"
    size="fillParent"
  ></dxc-radio></div>
