<div>
  <!-- <h4>Uncontrolled Select</h4>
  <div className="test-case" id="uncontrolled">
    <dxc-select
      (onChange)="onUncontrolledChange($event)"
      label="Uncontrolled"
      [options]="optionsWithIconAndLabels"
      size="medium"
      margin="xsmall"
      assistiveText="Assistive text"
    ></dxc-select>
  </div>
  <h4>Compund select</h4> -->

  <div>
    <v3-dxc-select
      label="label "
      multiple="true"
      margin="medium"
      iconPosition="after"
      size="large"
    >
      <v3-dxc-select-option value="option1" label="Sushi"
        ><dxc-option-icon
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
            /></svg></dxc-option-icon
      ></v3-dxc-select-option>
      <v3-dxc-select-option value="option2" label="Pizza" disabled></v3-dxc-select-option>
      <v3-dxc-select-option value="option3" label="Burritos"></v3-dxc-select-option>
    </v3-dxc-select>
  </div>

  <div>
    <v3-dxc-select
      label="label label labe label"
      (onChange)="onMultipleChange($event)"
      [value]="multipleValue"
      multiple="true"
    >
      <v3-dxc-select-option value="option21" label="Sushi"></v3-dxc-select-option>
      <v3-dxc-select-option value="option22" label="Pizza" disabled></v3-dxc-select-option>
      <v3-dxc-select-option value="option23" label="Burritos"></v3-dxc-select-option>
    </v3-dxc-select>
  </div>

  <div>
    <v3-dxc-select
      label="label label labe label"
      assistiveText="assistiveText"
      (onChange)="onMultipleChange($event)"
      [value]="multipleValue"
      multiple="true"
    >
      <v3-dxc-select-option value="option21" label="Sushi"></v3-dxc-select-option>
      <v3-dxc-select-option value="option22" label="Pizza" disabled></v3-dxc-select-option>
      <v3-dxc-select-option value="option23" label="Burritos"></v3-dxc-select-option>
    </v3-dxc-select>
  </div>

  <div>
    <v3-dxc-select
      label="label"
      assistiveText="assistiveText"
      (onChange)="onChange($event)"
      [value]="value"
    >
      <v3-dxc-select-option value="option31" label="Sushi"
        ><dxc-option-icon
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
            /></svg></dxc-option-icon
      ></v3-dxc-select-option>
      <v3-dxc-select-option value="option32" label="Pizza" disabled></v3-dxc-select-option>
      <v3-dxc-select-option value="option33" label="Burritos"></v3-dxc-select-option>
    </v3-dxc-select>
  </div>

  <div>
    <v3-dxc-select label="label" assistiveText="assistiveText">
      <v3-dxc-select-option value="option41" label="Sushi"
        ><dxc-option-icon
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
            /></svg></dxc-option-icon
      ></v3-dxc-select-option>
      <v3-dxc-select-option value="option42" label="Pizza" disabled></v3-dxc-select-option>
      <v3-dxc-select-option value="option43" label="Burritos"></v3-dxc-select-option>
    </v3-dxc-select>
  </div>

  <div>
    <h4>Disabled</h4>
    <v3-dxc-select
      label="label label labe label"
      assistiveText="assistiveText"
      (onChange)="onMultipleChange($event)"
      [value]="multipleValue"
      multiple="true"
      disabled
    >
      <v3-dxc-select-option value="option21" label="Sushi" disabled></v3-dxc-select-option>
      <v3-dxc-select-option value="option22" label="Pizza" disabled></v3-dxc-select-option>
      <v3-dxc-select-option value="option23" label="Burritos" disabled></v3-dxc-select-option>
    </v3-dxc-select>
  </div>


  <!-- <div className="test-case" id="multiple-uncontrolled">
    <h4>Multiple Uncontrolled Select</h4>
    <dxc-select
      (onChange)="onMultipleUncontrolledChange($event)"
      multiple="true"
      size="medium"
      label="Multiple Uncontrolled"
      [options]="optionsWithIconAndLabels"
    ></dxc-select>
  </div>
  <h4>Sizes</h4>
  <div className="test-case" id="small-size">
    <dxc-select
      (onChange)="onChange($event)"
      [value]="inputValue"
      label="Small"
      [options]="optionsWithIcon"
      size="small"
    ></dxc-select>
  </div>
  <div className="test-case" id="medium-size">
    <dxc-select
      (onChange)="onChange($event)"
      [value]="inputValue"
      label="Medium"
      [options]="optionsWithIconAndLabels"
      size="medium"
      margin="xsmall"
    ></dxc-select>
  </div>
  <div className="test-case" id="large-size">
    <dxc-select
      (onChange)="onChange($event)"
      [value]="inputValue"
      label="Large"
      [options]="optionsWithIconAndLabels"
      size="large"
      margin="xsmall"
    ></dxc-select>
  </div>
  <div className="test-case" id="fillParent-size">
    <dxc-select
      (onChange)="onChange($event)"
      [value]="inputValue"
      label="Fill Parent"
      [options]="optionsWithIcon"
      size="fillParent"
    ></dxc-select>
  </div>
</div>
<div>
  <h4>Margins</h4>
  <div className="test-case" id="xxsmall-margin">
    <dxc-select
      (onChange)="onChange($event)"
      [value]="inputValue"
      label="xxSmall margin"
      [options]="optionsWithIconAndLabels"
      margin="xxsmall"
    ></dxc-select>
  </div>
  <div className="test-case" id="xsmall-margin">
    <dxc-select
      (onChange)="onChange($event)"
      [value]="inputValue"
      label="xSmall margin"
      [options]="optionsWithIconAndLabels"
      margin="xsmall"
    ></dxc-select>
  </div>
  <div className="test-case" id="small-margin">
    <dxc-select
      (onChange)="onChange($event)"
      [value]="inputValue"
      label="Small margin"
      [options]="optionsWithIconAndLabels"
      margin="small"
    ></dxc-select>
  </div>
  <div className="test-case" id="medium-margin">
    <dxc-select
      (onChange)="onChange($event)"
      [value]="inputValue"
      label="Medium margin"
      [options]="optionsWithIconAndLabels"
      margin="medium"
    ></dxc-select>
  </div>
  <div className="test-case" id="large-margin">
    <dxc-select
      (onChange)="onChange($event)"
      [value]="inputValue"
      label="Large margin"
      [options]="optionsWithIconAndLabels"
      margin="large"
    ></dxc-select>
  </div>
  <div className="test-case" id="xlarge-margin">
    <dxc-select
      (onChange)="onChange($event)"
      [value]="inputValue"
      label="xLarge margin"
      [options]="optionsWithIconAndLabels"
      margin="xlarge"
    ></dxc-select>
  </div>
  <div className="test-case" id="xxlarge-margin">
    <dxc-select
      (onChange)="onChange($event)"
      [value]="inputValue"
      label="xxLarge margin"
      [options]="optionsWithIconAndLabels"
      margin="xxlarge"
    ></dxc-select>
  </div>
</div>
<div>
  <div className="test-case" id="Medium-max-label-size-oneline">
    <h4>Medium select - Max label size in one line</h4>
    <dxc-select
      (onChange)="onChange($event)"
      [value]="inputValue"
      size="medium"
      label="MaximumSizeForMultilineLabel1"
      [options]="optionsWithIconAndLabels"
    ></dxc-select>
  </div>
  <div className="test-case" id="Medium-min-label-size-multiline">
    <h4>Medium select - Min label size in multi line</h4>
    <dxc-select
      (onChange)="onChange($event)"
      [value]="inputValue"
      size="medium"
      label="Maximum Size For Multiline Label12"
      [options]="optionsWithIconAndLabels"
    ></dxc-select>
  </div>
  <div className="test-case" id="Large-max-label-size-oneline">
    <h4>Large select - Max label size in one line</h4>
    <dxc-select
      (onChange)="onChange($event)"
      [value]="inputValue"
      size="large"
      label="Large size example label one single line select component select1"
      [options]="optionsWithIconAndLabels"
    ></dxc-select>
  </div>
  <div className="test-case" id="Large-min-label-size-multiline">
    <h4>Large select - Min label size in multi line</h4>
    <dxc-select
      (onChange)="onChange($event)"
      [value]="inputValue"
      size="large"
      label="Large size example label one single line select component select12"
      [options]="optionsWithIconAndLabels"
    ></dxc-select>
  </div>
  <div className="test-case" id="Medium-select-max-size-selected-item-oneline">
    <h4>Medium select - Max size selected option label oneline</h4>
    <dxc-select
      (onChange)="onChange($event)"
      value="4"
      size="medium"
      label="Medium Select"
      [options]="longOptionLabels"
    ></dxc-select>
  </div>
  <div
    className="test-case"
    id="Medium-select-min-size-selected-item-multiline"
  >
    <h4>Medium select - Min size selected option label multiline</h4>
    <dxc-select
      (onChange)="onChange($event)"
      value="5"
      size="medium"
      label="Medium Select"
      [options]="longOptionLabels"
    ></dxc-select>
  </div>
  <div className="test-case" id="Large-select-max-size-selected-item-oneline">
    <h4>Large select - Max size selected option label oneline</h4>
    <dxc-select
      (onChange)="onChange($event)"
      value="7"
      size="large"
      label="Large Select"
      [options]="longOptionLabels"
    ></dxc-select>
  </div>
  <div className="test-case" id="Large-select-min-size-selected-item-multiline">
    <h4>Large select - Min size selected option label multiline</h4>
    <dxc-select
      (onChange)="onChange($event)"
      value="6"
      size="large"
      label="Large Select"
      [options]="longOptionLabels"
    ></dxc-select>
  </div>
  <div
    className="test-case"
    id="Medium-select-Max-label-size-oneline-Icon-Before&Label"
  >
    <h4>
      Medium select - Icon and label - Max label size oneline (Icon Before)" "
    </h4>
    <dxc-select
      (onChange)="onChange($event)"
      value="4"
      size="medium"
      label="Medium Select"
      iconPosition="before"
      [options]="optionsWithIconAndLabelsMinLongOneLine"
    ></dxc-select>
  </div>
  <div
    className="test-case"
    id="Medium-select-Min-label-size-multiline-Icon-Before&Label-Multiline"
  >
    <h4>
      Medium select - Icon and label - Min label size multiline (Icon Before)
    </h4>
    <dxc-select
      (onChange)="onChange($event)"
      value="2"
      size="medium"
      label="Medium Select"
      iconPosition="before"
      [options]="optionsWithIconAndLabelsMaxLongMultiLine"
    ></dxc-select>
  </div>
  <div
    className="test-case"
    id="Large-select-Max-label-size-oneline-Icon-Before&Label"
  >
    <h4>
      Large select - Icon and label - Max label size oneline (Icon Before)" "
    </h4>
    <dxc-select
      (onChange)="onChange($event)"
      value="3"
      size="large"
      label="Large Select"
      iconPosition="before"
      [options]="optionsWithIconAndLabelsMinLongOneLine"
    ></dxc-select>
  </div>
  <div
    className="test-case"
    id="Large-select-Min-label-size-multiline-Icon-Before&Label"
  >
    <h4>
      Large select - Icon and label - Min label size multiline (Icon Before)" "
    </h4>
    <dxc-select
      (onChange)="onChange($event)"
      value="3"
      size="large"
      label="Large Select"
      iconPosition="before"
      [options]="optionsWithIconAndLabelsMaxLongMultiLine"
    ></dxc-select>
  </div>
  <div
    className="test-case"
    id="Medium-select-Max-label-size-oneline-Icon-after&Label"
  >
    <h4>
      Medium select - Icon and label - Max label size oneline (Icon After)" "
    </h4>
    <dxc-select
      (onChange)="onChange($event)"
      value="5"
      iconPosition="after"
      size="medium"
      label="Medium Select"
      [options]="optionsWithIconAndLabelsMinLongOneLine"
    ></dxc-select>
  </div>
  <div
    className="test-case"
    id="Medium-select-Min-label-size-multiline-Icon-after&Label-Multiline"
  >
    <h4>
      Medium select - Icon and label - Min label size multiline (Icon After)
    </h4>
    <dxc-select
      (onChange)="onChange($event)"
      value="2"
      iconPosition="after"
      size="medium"
      label="Medium Select"
      [options]="optionsWithIconAndLabelsMaxLongMultiLine"
    ></dxc-select>
  </div>
  <div
    className="test-case"
    id="Large-select-Max-label-size-oneline-Icon-after&Label"
  >
    <h4>
      Large select - Icon and label - Max label size oneline (Icon After)" "
    </h4>
    <dxc-select
      (onChange)="onChange($event)"
      value="3"
      iconPosition="after"
      size="large"
      label="Large Select"
      [options]="optionsWithIconAndLabelsMinLongOneLine"
    ></dxc-select>
  </div>
  <div
    className="test-case"
    id="Large-select-min-label-size-multiline-Icon-after&Label"
  >
    <h4>
      Large select - Icon and label - Min label size multiline (Icon After)" "
    </h4>
    <dxc-select
      (onChange)="onChange($event)"
      value="3"
      iconPosition="after"
      size="large"
      label="Large Select"
      [options]="optionsWithIconAndLabelsMaxLongMultiLine"
    ></dxc-select>
  </div>
  <div className="test-case" id="Medium-select-Max-label-size-oneline">
    <h4>Medium select - Only label - Max label size oneline</h4>
    <dxc-select
      (onChange)="onChange($event)"
      iconPosition="after"
      size="medium"
      label="Medium Select max max max"
      [options]="longOptionLabels"
    ></dxc-select>
  </div>
  <div className="test-case" id="Medium-select-Min-label-size-multiline">
    <h4>Medium select - Only label - Min label size multiline</h4>
    <dxc-select
      (onChange)="onChange($event)"
      iconPosition="after"
      size="medium"
      label="Medium Select max max max1"
      [options]="longOptionLabels"
    ></dxc-select>
  </div>
  <div className="test-case" id="Large-select-Max-label-size-oneline">
    <h4>Large select - Only label - Max label size oneline</h4>
    <dxc-select
      (onChange)="onChange($event)"
      iconPosition="after"
      size="large"
      label="Large Select max max max max max max max max max m1"
      [options]="longOptionLabels"
    ></dxc-select>
  </div>
  <div className="test-case" id="Large-select-Min-label-size-multiline">
    <h4>Large select - Only label - Min label size multiline</h4>
    <dxc-select
      (onChange)="onChange($event)"
      iconPosition="after"
      size="large"
      label="Large Select max max max max max max max max max m1234"
      [options]="longOptionLabels"
    ></dxc-select>
  </div>
  <div className="test-case" id="multiple-icons&labels">
    <h4>Multiple select labels and icons selected</h4>
    <dxc-select
      (onChange)="onMultipleChange($event)"
      [value]="multipleSelected"
      multiple="true"
      size="medium"
      label="Multiple Labels"
      [options]="optionsWithIconAndLabels"
    ></dxc-select>
  </div>
  <div className="test-case" id="multiple icons">
    <h4>Multiple select only icons selected</h4>
    <dxc-select
      (onChange)="onMultipleChange($event)"
      [value]="multipleSelected"
      multiple="true"
      size="medium"
      label="Multiple Icons"
      [options]="optionsWithIcon"
    ></dxc-select>
  </div>
  <div className="test-case" id="mandatory-no-value">
    <h4>Mandatory select</h4>
    <dxc-select
      (onChange)="onChange($event)"
      required="true"
      size="medium"
      label="Multiple no value"
      [options]="optionsWithIcon"
    ></dxc-select>
  </div>
  <div className="test-case" id="mandatory-with-value">
    <h4>Mandatory select with selected option</h4>
    <dxc-select
      (onChange)="onChange($event)"
      value="1"
      required="true"
      size="medium"
      label="Mandatory Icons"
      [options]="optionsWithIcon"
    ></dxc-select>
  </div>
  <div className="test-case" id="disabled-no-value">
    <h4>disabled select</h4>
    <dxc-select
      (onChange)="onChange($event)"
      value="1"
      disabled="true"
      size="medium"
      label="Disabled Icons"
      [options]="optionsWithIcon"
    ></dxc-select>
  </div>
  <div className="test-case" id="disabled-with-value">
    <h4>disabled select with selected option</h4>
    <dxc-select
      (onChange)="onChange($event)"
      value="1"
      disabled="true"
      size="medium"
      label="Disabled Icons"
      [options]="optionsWithIcon"
    ></dxc-select>
  </div> -->
</div>
