<div>
  <tbuilder-component-mode text="Default">
    <dxc-dropdown
      label="Default Dropdown"
      size="xsmall"
      caretHidden="false"
      margin="small"
    >
      <dxc-dropdown-option label="1" value="1"> </dxc-dropdown-option>
      <dxc-dropdown-option label="2"> </dxc-dropdown-option>
      <dxc-dropdown-option label="3"> </dxc-dropdown-option>
    </dxc-dropdown>
  </tbuilder-component-mode>

  <tbuilder-component-mode text="Icon">
    <dxc-dropdown
      label="Icon Dropdown"
      size="medium"
      margin="xsmall"
    >
      <dxc-dropdown-icon>
        <img
          src="https://img.icons8.com/android/24/000000/twitter.png"
          alt="Twitter"
        />
      </dxc-dropdown-icon>
      <dxc-dropdown-option label="Facebook" value="1">
        <dxc-dropdown-icon>
          <img
            src="https://img.icons8.com/android/24/000000/facebook.png"
            alt="Facebook"
          />
        </dxc-dropdown-icon>
      </dxc-dropdown-option>
      <dxc-dropdown-option label="Twitter">
        Twitter
        <dxc-dropdown-icon>
          <img
            src="https://img.icons8.com/android/24/000000/twitter.png"
            alt="Facebook"
          />
        </dxc-dropdown-icon>
      </dxc-dropdown-option>
      <dxc-dropdown-option label="Linkedin">
        <dxc-dropdown-icon>
          <img
            src="https://img.icons8.com/android/24/000000/linkedin.png"
            alt="Facebook"
          />
        </dxc-dropdown-icon>
      </dxc-dropdown-option>
    </dxc-dropdown>
  </tbuilder-component-mode>
</div>
