<h2 class="subtitle-example">Properties</h2>
<dxc-table>
    <tr>
        <th>Name</th>
        <th>Default</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>margin: any (string | object)</td>
        <td></td>
        <td>
            Size of the margin to be applied to the component ('xxsmall' | 
            'xsmall' | 'small' | 'medium' | 'large' | 'xlarge' | 'xxlarge'). You 
            can pass an object with 'top', 'bottom', 'left' and 'right' properties 
            in order to specify different padding sizes.
        </td>
    </tr>
    <tr>
        <td>itemsPerPage: number</td>
        <td><code>5</code></td>
        <td>
            Number of items per page.
        </td>
    </tr>
    <tr>
        <td>collectionResource: object[]</td>
        <td><code>[]</code></td>
        <td>
            An array of objects with the values to display in the table. 
            The key is the column and the value is the property to be displayed in the cell.
        </td>
    </tr>
</dxc-table>  
