.example-viewport {
    height: 500px;
    width: 100%;
    border: 1px solid black;
  }
  
  .example-item {
    height: 500px;
  }
  
.tabbed-section-content {
  min-height: 200px; 
  padding-top: 30px; 
  padding-bottom: 60px;
}