<div>
  <div className="test-case" id="uncontrolled">
    <h4>Uncontrolled Accordion</h4>
    <dxc-accordion 
    label="Accordion" 
    (onClick)="uncontrolledIsExpanded($event)" 
    padding="medium">
      <dxc-accordion-icon>
        <?xml version="1.0" encoding="utf-8"?>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px"
           height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
        <g id="Bounding_Box">
          <rect fill="none" width="24" height="24"/>
        </g>
        <g id="Master">
          <path d="M19,9.3V4h-3v2.6L12,3L2,12h3v8h5v-6h4v6h5v-8h3L19,9.3z M10,10c0-1.1,0.9-2,2-2s2,0.9,2,2H10z"/>
        </g>
        </svg>        
      </dxc-accordion-icon>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        malesuada lacus ex, sit amet blandit leo lobortis eget.
      </div>
    </dxc-accordion>
  </div>
  <div className="test-case" id="light-theme-default">
    <h4>Default Accordion</h4>
    <dxc-accordion 
    label="Accordion" 
    [isExpanded]="isExpanded" 
    (onClick)="changeIsExpanded($event)" 
    padding="medium">
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        malesuada lacus ex, sit amet blandit leo lobortis eget.
      </div>
    </dxc-accordion>
  </div>

  <div>

  <div className="test-case" id="icon-before-default">
    <h4>Icon before - Default Accordion</h4>
    <dxc-accordion
      label="Accordion"
      iconPosition="before"
      iconSrc="{{homeLogo}}"
      [isExpanded]="isExpanded"
      (onClick)="changeIsExpanded($event)"
      padding="medium"
    >
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        malesuada lacus ex, sit amet blandit leo lobortis eget.
      </div>
    </dxc-accordion>
  </div>

  <div className="test-case" id="icon-after-default">
    <h4>Icon after - Default Accordion</h4>
    <dxc-accordion
      label="Accordion"
      iconPosition="after"
      iconSrc="{{homeLogo}}"
      [isExpanded]="isExpanded"
      (onClick)="changeIsExpanded($event)"
      padding="medium"
    >
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        malesuada lacus ex, sit amet blandit leo lobortis eget.
      </div>
    </dxc-accordion>
  </div>

  <div className="test-case" id="disabled-default">
    <h4>Disabled - Default Accordion</h4>
    <dxc-accordion
      label="Accordion"
      disabled="true"
      [isExpanded]="isExpanded"
      (onClick)="changeIsExpanded($event)"
      padding="medium"
    >
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        malesuada lacus ex, sit amet blandit leo lobortis eget.
      </div>
    </dxc-accordion>
  </div>

  <div className="test-case" id="label-max-size">
    <h4>Max label size single line - Default Accordion</h4>
    <dxc-accordion
      label="Accordion label max size example simgle line accordion accordion accordion accordion accordion accordion accordion accordion accordion accordion accordion accordion accordion accordion ac"
      (onClick)="changeIsExpanded($event)"
      [isExpanded]="isExpanded"
      padding="medium"
    >
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        malesuada lacus ex, sit amet blandit leo lobortis eget.
      </div>
    </dxc-accordion>
  </div>

  <div className="test-case" id="label-min-size">
    <h4>Min label size multiline - Default Accordion</h4>
    <dxc-accordion
      label="Accordion label max size example simgle line accordion accordion accordion accordion accordion accordion accordion accordion accordion accordion accordion accordion accordion accordion acc"
      (onClick)="changeIsExpanded($event)"
      [isExpanded]="isExpanded"
      padding="medium"
    >
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        malesuada lacus ex, sit amet blandit leo lobortis eget.
      </div>
    </dxc-accordion>
  </div>

  <div className="test-case" id="assistive-text-default">
    <h4>Assistive text - Default Accordion</h4>
    <dxc-accordion
      label="Accordion"
      assistiveText="Assistive text"
      (onClick)="changeIsExpanded($event)"
      [isExpanded]="isExpanded"
      padding="medium"
    >
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        malesuada lacus ex, sit amet blandit leo lobortis eget.
      </div>
    </dxc-accordion>
  </div>

  <div className="test-case" id="assistive-text-max-size">
    <h4>Max assistive text size single line - Default Accordion</h4>
    <dxc-accordion
      label="Accordion"
      assistiveText="Assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assi"
      (onClick)="changeIsExpanded($event)"
      [isExpanded]="isExpanded"
      padding="medium"
    >
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        malesuada lacus ex, sit amet blandit leo lobortis eget.
      </div>
    </dxc-accordion>
  </div>

  <div className="test-case" id="assistive-text-min-size">
    <h4>Min assistive text size multiline - Default Accordion</h4>
    <dxc-accordion
      label="Accordion"
      assistiveText="Assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assistive text assis"
      (onClick)="changeIsExpanded($event)"
      [isExpanded]="isExpanded"
      padding="medium"
    >
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        malesuada lacus ex, sit amet blandit leo lobortis eget.
      </div>
    </dxc-accordion>
  </div>

  <div>
    <h4>Margins</h4>
    <div className="test-case" id="xxsmall-margin">
      <h5>xxsmall margin</h5>
      <dxc-accordion
        label="Accordion"
        margin="xxsmall"
        (onClick)="changeIsExpanded($event)"
        [isExpanded]="isExpanded"
        padding="medium"
      >
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          malesuada lacus ex, sit amet blandit leo lobortis eget.
        </div>
      </dxc-accordion>
    </div>
    <div className="test-case" id="xsmall-margin">
      <h5>xsmall margin</h5>
      <dxc-accordion
        label="Accordion"
        margin="xsmall"
        (onClick)="changeIsExpanded($event)"
        [isExpanded]="isExpanded"
        padding="medium"
      >
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          malesuada lacus ex, sit amet blandit leo lobortis eget.
        </div>
      </dxc-accordion>
    </div>
    <div className="test-case" id="small-margin">
      <h5>Small margin</h5>
      <dxc-accordion
        label="Accordion"
        margin="small"
        (onClick)="changeIsExpanded($event)"
        [isExpanded]="isExpanded"
        padding="medium"
      >
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          malesuada lacus ex, sit amet blandit leo lobortis eget.
        </div>
      </dxc-accordion>
    </div>
    <div className="test-case" id="medium-margin">
      <h5>Medium margin</h5>
      <dxc-accordion
        label="Accordion"
        margin="medium"
        (onClick)="changeIsExpanded($event)"
        [isExpanded]="isExpanded"
        padding="medium"
      >
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          malesuada lacus ex, sit amet blandit leo lobortis eget.
        </div>
      </dxc-accordion>
    </div>
    <div className="test-case" id="large-margin">
      <h5>Large margin</h5>
      <dxc-accordion
        label="Accordion"
        margin="large"
        (onClick)="changeIsExpanded($event)"
        [isExpanded]="isExpanded"
        padding="medium"
      >
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          malesuada lacus ex, sit amet blandit leo lobortis eget.
        </div>
      </dxc-accordion>
    </div>
    <div className="test-case" id="xlarge-margin">
      <h5>xlarge margin</h5>
      <dxc-accordion
        label="Accordion"
        margin="xlarge"
        (onClick)="changeIsExpanded($event)"
        [isExpanded]="isExpanded"
        padding="medium"
      >
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          malesuada lacus ex, sit amet blandit leo lobortis eget.
        </div>
      </dxc-accordion>
    </div>
    <div className="test-case" id="xxlarge-margin">
      <h5>xxlarge margin</h5>
      <dxc-accordion
        label="Accordion"
        margin="xxlarge"
        (onClick)="changeIsExpanded($event)"
        [isExpanded]="isExpanded"
        padding="medium"
      >
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          malesuada lacus ex, sit amet blandit leo lobortis eget.
        </div>
      </dxc-accordion>
    </div>
  </div>

  <div>
    <h4>Paddings</h4>
    <div className="test-case" id="xxsmall-padding">
      <h5>xxsmall padding</h5>
      <dxc-accordion
        label="Accordion"
        [isExpanded]="isExpanded"
        (onClick)="changeIsExpanded($event)"
        padding="xxsmall"
      >
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          malesuada lacus ex, sit amet blandit leo lobortis eget.
        </div>
      </dxc-accordion>
    </div>
    <div className="test-case" id="xsmall-padding">
      <h5>xsmall padding</h5>
      <dxc-accordion
        label="Accordion"
        [isExpanded]="isExpanded"
        (onClick)="changeIsExpanded($event)"
        padding="xsmall"
      >
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          malesuada lacus ex, sit amet blandit leo lobortis eget.
        </div>
      </dxc-accordion>
    </div>
    <div className="test-case" id="small-padding">
      <h5>Small padding</h5>
      <dxc-accordion
        label="Accordion"
        [isExpanded]="isExpanded"
        (onClick)="changeIsExpanded($event)"
        padding="small"
      >
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          malesuada lacus ex, sit amet blandit leo lobortis eget.
        </div>
      </dxc-accordion>
    </div>
    <div className="test-case" id="medium-padding">
      <h5>Medium padding</h5>
      <dxc-accordion
        label="Accordion"
        [isExpanded]="isExpanded"
        (onClick)="changeIsExpanded($event)"
        padding="medium"
      >
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          malesuada lacus ex, sit amet blandit leo lobortis eget.
        </div>
      </dxc-accordion>
    </div>
    <div className="test-case" id="large-padding">
      <h5>Large padding</h5>
      <dxc-accordion
        label="Accordion"
        [isExpanded]="isExpanded"
        (onClick)="changeIsExpanded($event)"
        padding="large"
      >
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          malesuada lacus ex, sit amet blandit leo lobortis eget.
        </div>
      </dxc-accordion>
    </div>
    <div className="test-case" id="xlarge-padding">
      <h5>xlarge padding</h5>
      <dxc-accordion
        label="Accordion"
        [isExpanded]="isExpanded"
        (onClick)="changeIsExpanded($event)"
        padding="xlarge"
      >
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          malesuada lacus ex, sit amet blandit leo lobortis eget.
        </div>
      </dxc-accordion>
    </div>
    <div className="test-case" id="xxlarge-padding">
      <h5>xxlarge padding</h5>
      <dxc-accordion
        label="Accordion"
        [isExpanded]="isExpanded"
        (onClick)="changeIsExpanded($event)"
        padding="xxlarge"
      >
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          malesuada lacus ex, sit amet blandit leo lobortis eget.
        </div>
      </dxc-accordion>
    </div>
  </div>

  <div className="test-case" id="expanded-max-size-accordion">
    <h4>Expanded accordion - Max content size single line</h4>
    <dxc-accordion
      label="Accordion"
      [isExpanded]="isExpanded"
      (onClick)="changeIsExpanded($event)"
      padding="medium"
    >
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        malesuada lacus ex, sit amet blandit leo lobortis eget lorem ipsum dolor
        sit amet, consectetur adipiscing elit. Suspendisse malesuada lacu.
      </div>
    </dxc-accordion>
  </div>

  <div className="test-case" id="expanded-min-size-accordion">
    <h4>Expanded accordion - Min content size multiline</h4>
    <dxc-accordion
      label="Accordion"
      [isExpanded]="isExpanded"
      (onClick)="changeIsExpanded($event)"
      padding="medium"
    >
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        malesuada lacus ex, sit amet blandit leo lobortis eget lorem ipsum dolor
        sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus.
      </div>
    </dxc-accordion>
  </div>
</div>
