<div>
  <div>
    <h4>Light theme headings</h4>
    <div className="test-case" id="light-theme-heading-level1">
      <dxc-heading [level]="1" text="Hello world!" theme="light"></dxc-heading>
    </div>
    <div className="test-case" id="light-theme-heading-level2">
      <dxc-heading [level]="2" text="Hello world!" theme="light"></dxc-heading>
    </div>
    <div className="test-case" id="light-theme-heading-level3">
      <dxc-heading [level]="3" text="Hello world!" theme="light"></dxc-heading>
    </div>
    <div className="test-case" id="light-theme-heading-level4">
      <dxc-heading [level]="4" text="Hello world!" theme="light"></dxc-heading>
    </div>
    <div className="test-case" id="light-theme-heading-level5">
      <dxc-heading [level]="5" text="Hello world!" theme="light"></dxc-heading>
    </div>
  </div>
  <div style="background: black;">
    <h4 style="color: white;">Dark theme headings</h4>
    <div className="test-case" id="dark-theme-heading-level1">
      <dxc-heading [level]="1" text="Hello world!" theme="dark"></dxc-heading>
    </div>
    <div className="test-case" id="dark-theme-heading-level2">
      <dxc-heading [level]="2" text="Hello world!" theme="dark"></dxc-heading>
    </div>
    <div className="test-case" id="dark-theme-heading-level3">
      <dxc-heading [level]="3" text="Hello world!" theme="dark"></dxc-heading>
    </div>
    <div className="test-case" id="dark-theme-heading-level4">
      <dxc-heading [level]="4" text="Hello world!" theme="dark"></dxc-heading>
    </div>
    <div className="test-case" id="dark-theme-heading-level5">
      <dxc-heading [level]="5" text="Hello world!" theme="dark"></dxc-heading>
    </div>
  </div>
  <div>
    <h4>Weights headings</h4>
    <div className="test-case" id="weight-normal-heading-level1">
      <dxc-heading
        [level]="1"
        text="Hello world!"
        theme="light"
        weight="normal"
      ></dxc-heading>
    </div>
    <div className="test-case" id="weight-bold-heading-level1">
      <dxc-heading
        [level]="1"
        text="Hello world!"
        theme="light"
        weight="bold"
      ></dxc-heading>
    </div>
    <div className="test-case" id="weight-light-theme-heading-level2">
      <dxc-heading
        [level]="2"
        text="Hello world!"
        theme="light"
        weight="light"
      ></dxc-heading>
    </div>
    <div className="test-case" id="weight-bold-theme-heading-level2">
      <dxc-heading
        [level]="2"
        text="Hello world!"
        theme="light"
        weight="bold"
      ></dxc-heading>
    </div>
    <div className="test-case" id="weight-light-theme-heading-level3">
        <dxc-heading
          [level]="3"
          text="Hello world!"
          theme="light"
          weight="light"
        ></dxc-heading>
      </div>
      <div className="test-case" id="weight-bold-theme-heading-level3">
        <dxc-heading
          [level]="3"
          text="Hello world!"
          theme="light"
          weight="bold"
        ></dxc-heading>
      </div>
      <div className="test-case" id="weight-light-theme-heading-level4">
        <dxc-heading
          [level]="4"
          text="Hello world!"
          theme="light"
          weight="light"
        ></dxc-heading>
      </div>
      <div className="test-case" id="weight-bold-theme-heading-level4">
        <dxc-heading
          [level]="4"
          text="Hello world!"
          theme="light"
          weight="bold"
        ></dxc-heading>
      </div>
      <div className="test-case" id="weight-light-theme-heading-level5">
        <dxc-heading
          [level]="5"
          text="Hello world!"
          theme="light"
          weight="light"
        ></dxc-heading>
      </div>
      <div className="test-case" id="weight-bold-theme-heading-level5">
        <dxc-heading
          [level]="5"
          text="Hello world!"
          theme="light"
          weight="bold"
        ></dxc-heading>
      </div>
  </div>
</div>
