<div>
  <tbuilder-component-mode text="Shadowdepth 0">
    <dxc-box margin="xsmall" padding="medium" shadowDepth="0">
      Box Content
    </dxc-box>
  </tbuilder-component-mode>

  <tbuilder-component-mode text="Shadowdepth 1">
    <dxc-box margin="xsmall" padding="medium" shadowDepth="1">
      Box Content
    </dxc-box>
  </tbuilder-component-mode>

  <tbuilder-component-mode text="Shadowdepth 2">
    <dxc-box margin="xsmall" padding="medium" shadowDepth="2">
      Box Content
    </dxc-box>
  </tbuilder-component-mode>
  <tbuilder-component-mode text="BackgroundProvider with dxc button">
    <dxc-box margin="xsmall" padding="medium" shadowDepth="2">
      <p>Box Content</p>
      <dxc-button label="hola" mode="text"> </dxc-button>
    </dxc-box>
  </tbuilder-component-mode>
</div>
