<h4>Margins</h4>
<h5>xxsmall margin</h5>
<div className="test-case" id="xxsmall">
    <dxc-resultset-table itemsPerPage="5" [collectionResource]="data" margin="xxsmall">
        <ng-container dxcColumnDef="user" isSortable="true">
            <td *dxcCellDef="let item">
                {{item['user']}}
            </td>
          </ng-container>
          <ng-container dxcColumnDef="email">
            <td *dxcCellDef="let item">
                <dxc-button [label]="item['email']"></dxc-button>
            </td>
          </ng-container>
    </dxc-resultset-table>
</div>

<h5>xsmall margin</h5>
<div className="test-case" id="xsmall">
    <dxc-resultset-table itemsPerPage="1" [collectionResource]="data" margin="xsmall">
        <ng-container dxcColumnDef="user" isSortable="true">
            <td *dxcCellDef="let item">
                {{item['user']}}
            </td>
          </ng-container>
          <ng-container dxcColumnDef="email">
            <td *dxcCellDef="let item">
                <dxc-button [label]="item['email']"></dxc-button>
            </td>
          </ng-container>
    </dxc-resultset-table>
</div>

<h5>small margin</h5>
<div className="test-case" id="small">
    <dxc-resultset-table itemsPerPage="2" [collectionResource]="data" margin="small">
        <ng-container dxcColumnDef="user" isSortable="true">
            <td *dxcCellDef="let item">
                {{item['user']}}
            </td>
          </ng-container>
          <ng-container dxcColumnDef="email">
            <td *dxcCellDef="let item">
                <dxc-button [label]="item['email']"></dxc-button>
            </td>
          </ng-container>
    </dxc-resultset-table>
</div>

<h5>medium margin</h5>
<div className="test-case" id="medium">
    <dxc-resultset-table itemsPerPage="2" [collectionResource]="data" margin="medium">
        <ng-container dxcColumnDef="user" isSortable="true">
            <td *dxcCellDef="let item">
                {{item['user']}}
            </td>
          </ng-container>
          <ng-container dxcColumnDef="email">
            <td *dxcCellDef="let item">
                <dxc-button [label]="item['email']"></dxc-button>
            </td>
          </ng-container>
    </dxc-resultset-table>
</div>

<h5>large margin</h5>
<div className="test-case" id="large">
    <dxc-resultset-table itemsPerPage="3" [collectionResource]="data" margin="large">
        <ng-container dxcColumnDef="user" isSortable="true">
            <td *dxcCellDef="let item">
                {{item['user']}}
            </td>
          </ng-container>
          <ng-container dxcColumnDef="email">
            <td *dxcCellDef="let item">
                <dxc-button [label]="item['email']"></dxc-button>
            </td>
          </ng-container>
    </dxc-resultset-table>
</div>

<h5>xlarge margin</h5>
<div className="test-case" id="xlarge">
    <dxc-resultset-table itemsPerPage="4" [collectionResource]="data" margin="xlarge">
        <ng-container dxcColumnDef="user" isSortable="true">
            <td *dxcCellDef="let item">
                {{item['user']}}
            </td>
          </ng-container>
          <ng-container dxcColumnDef="email">
            <td *dxcCellDef="let item">
                <dxc-button [label]="item['email']"></dxc-button>
            </td>
          </ng-container>
    </dxc-resultset-table>
</div>

<h5>xxlarge margin</h5>
<div className="test-case" id="xxlarge">
    <dxc-resultset-table itemsPerPage="4" [collectionResource]="data" margin="xxlarge">
        <ng-container dxcColumnDef="user" isSortable="true">
            <td *dxcCellDef="let item">
                {{item['user']}}
            </td>
          </ng-container>
          <ng-container dxcColumnDef="email">
            <td *dxcCellDef="let item">
                <dxc-button [label]="item['email']"></dxc-button>
            </td>
          </ng-container>
    </dxc-resultset-table>
</div>