<dxc-heading [level]="4" weight="normal" text="Properties" [margin]="{bottom:'small'}"></dxc-heading>
<dxc-table>
    <tr>
        <th style="width:15%;">Name</th>
        <th>Default</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>margin: string | object</td>
        <td></td>
        <td>
            Size of the margin to be applied to the component ('xxsmall' | 
            'xsmall' | 'small' | 'medium' | 'large' | 'xlarge' | 'xxlarge'). You 
            can pass an object with 'top', 'bottom', 'left' and 'right' properties 
            in order to specify different margin sizes.
        </td>
    </tr>
</dxc-table>  