.sidenav-title img {
    padding-left: 11px;
    padding-bottom: 0px;
}

.sidenav-title {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 24px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(100, 100, 100);
  font-weight: normal;
  line-height: 18px;
  margin: 20px 0px 40px;
}

.sidenav-logo {
  max-width: 35px;
  margin-left: 8px;
  margin-bottom: 5px;
}
.sidenav {
  color: black;
  display: flex;
  flex-direction: column;
  top: 64px;

  ::-webkit-scrollbar {
    width: 2px;
    margin: 5px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #eeeeee;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #d3d3d3;
  }

  .sidenav-title {
    font-size: 24px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(100, 100, 100);
    font-weight: normal;
    line-height: 18px;
    margin: 20px 0px 20px;
  }
  .sidenav-links {
    padding: 0px 20px;
    .nav-item {
      margin-bottom: 5px;
      padding-left: 0px;
      border-left: 0px;
      a {
        font-weight: normal;
        font-size: 14px;
        text-decoration: none;
        cursor: pointer;
      }
      &.active {
        margin-bottom: 5px;
        padding-left: 3px;
        border-left: 5px solid rgb(255, 237, 0);
        a {
          font-weight: bold;
        }
      }
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.menu-title {
  text-transform: uppercase;
  color: grey;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.menu-item a {
  font-size: 14px;
  font-weight: normal;
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 4px 0px;
}

.menu-item a::before {
  display: table;
  content: "";
  margin-bottom: 0.21875rem;
}

.menu-item a::after {
  display: table;
  content: "";
  margin-top: 0.21875rem;
}

.menu-items {
    margin-left: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.active {
  color: black !important;
  font-weight: bold !important;
}
