<div class="sidenav">
  <div class="sidenav-title">
    <img
      src="../../tools/angular/assets/img/angular.png"
      class="sidenav-logo"
    />
    <h1 class="sidenav-title">ngular</h1>
  </div>
  <div class="sidenav-links">
    <div class="nav-item">
      <div class="menu">
        <div class="menu-title">Forms</div>
        <div class="menu-items">
          <div class="menu-item">
            <a (click)="navigateTo('components/autocomplete')">Autocomplete</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/button')">Button</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/checkbox')">Checkbox</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/date')">Date</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/radio')">Radio</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/select')">Select</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/slider')">Slider</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/switch')">Switch</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/input')">Text field</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/toggle')">Toggle</a>
          </div>
        </div>
        <div class="menu-title">Navigation</div>
        <div class="menu-items">
          <div class="menu-item">
            <a (click)="navigateTo('components/footer')">Footer</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/header')">Header</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/tabs')">Tabs</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/wizard')">Wizard</a>
          </div>
        </div>
        <div class="menu-title">Layout</div>
        <div class="menu-items">
          <div class="menu-item">
            <a (click)="navigateTo('components/box')">Box</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/card')">Card</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/sidenav')">Sidenav</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/tabbed-section')">Tabbed Section</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/tag')">Tag</a>
          </div>
        </div>
        <div class="menu-title">Utilities</div>
        <div class="menu-items">
          <div class="menu-item">
            <a (click)="navigateTo('components/accordion')">Accordion</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/alert')">Alert</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/dialog')">Dialog</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/dropdown')">Dropdown</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/heading')">Heading</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/link')">Link</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/paginator')">Paginator</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/progressbar')">Progressbar</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/resultsettable')">Resultset Table</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/spinner')">Spinner</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/table')">Table</a>
          </div>
          <div class="menu-item">
            <a (click)="navigateTo('components/upload')">Upload</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
