<div class="sidenav">
  <div class="sidenav-title">
    <img src="assets/img/angular.png" class="sidenav-logo" />
    <h1 class="sidenav-title">ngular</h1>
  </div>
  <div class="sidenav-links">
    <div class="nav-item">
      <div class="menu">
        <div class="menu-title">Forms</div>
        <div class="menu-items">
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/autosuggest'
                  ? router.isActive(
                      router
                        .createUrlTree(['components/autosuggest'])
                        .toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/autosuggest')"
              >Autosuggest</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/button'
                  ? router.isActive(
                      router.createUrlTree(['components/button']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/button')"
              >Button</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/checkbox'
                  ? router.isActive(
                      router.createUrlTree(['components/checkbox']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/checkbox')"
              >Checkbox</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/date'
                  ? router.isActive(
                      router.createUrlTree(['components/date']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/date')"
              >Date</a
            >
            <status-tag status="Deprecated"></status-tag>
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/input'
                  ? router.isActive(
                      router.createUrlTree(['components/input']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/input')"
              >Input Text</a
            >
            <status-tag status="Deprecated"></status-tag>
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/newDate'
                  ? router.isActive(
                      router.createUrlTree(['components/newDate']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/newDate')"
              >New Date</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/newInputText'
                  ? router.isActive(
                      router
                        .createUrlTree(['components/newInputText'])
                        .toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/newInputText')"
              >New Input Text</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/newSelect'
                  ? router.isActive(
                      router.createUrlTree(['components/newSelect']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/newSelect')"
              >New Select</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/newTextarea'
                  ? router.isActive(
                      router
                        .createUrlTree(['components/newTextarea'])
                        .toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/newTextarea')"
              >New Textarea</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/number'
                  ? router.isActive(
                      router.createUrlTree(['components/number']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/number')"
              >Number</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/password'
                  ? router.isActive(
                      router.createUrlTree(['components/password']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/password')"
              >Password</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/radio'
                  ? router.isActive(
                      router.createUrlTree(['components/radio']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/radio')"
              >Radio Button</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/select'
                  ? router.isActive(
                      router.createUrlTree(['components/select']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/select')"
              >Select</a
            >
            <status-tag status="Deprecated"></status-tag>
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/slider'
                  ? router.isActive(
                      router.createUrlTree(['components/slider']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/slider')"
              >Slider</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/switch'
                  ? router.isActive(
                      router.createUrlTree(['components/switch']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/switch')"
              >Switch</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/textarea'
                  ? router.isActive(
                      router.createUrlTree(['components/textarea']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/textarea')"
              >Textarea</a
            >
            <status-tag status="Deprecated"></status-tag>
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/toggleGroup'
                  ? router.isActive(
                      router
                        .createUrlTree(['components/toggleGroup'])
                        .toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/toggleGroup')"
              >Toggle Group</a
            >
          </div>
        </div>
        <div class="menu-title">Navigation</div>
        <div class="menu-items">
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/footer'
                  ? router.isActive(
                      router.createUrlTree(['components/footer']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/footer')"
              >Footer</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/header'
                  ? router.isActive(
                      router.createUrlTree(['components/header']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/header')"
              >Header</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/tabs'
                  ? router.isActive(
                      router.createUrlTree(['components/tabs']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/tabs')"
              >Tabs</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/wizard'
                  ? router.isActive(
                      router.createUrlTree(['components/wizard']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/wizard')"
              >Wizard</a
            >
          </div>
        </div>
        <div class="menu-title">Layout</div>
        <div class="menu-items">
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/applicationLayout'
                  ? router.isActive(
                      router
                        .createUrlTree(['components/applicationLayout'])
                        .toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/applicationLayout')"
              >Application Layout</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/box'
                  ? router.isActive(
                      router.createUrlTree(['components/box']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/box')"
              >Box</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/card'
                  ? router.isActive(
                      router.createUrlTree(['components/card']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/card')"
              >Card</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/sidenav'
                  ? router.isActive(
                      router.createUrlTree(['components/sidenav']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/sidenav')"
              >Sidenav</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/tabbed-section'
                  ? router.isActive(
                      router
                        .createUrlTree(['components/tabbed-section'])
                        .toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/tabbed-section')"
              >Tabbed Section</a
            >
            <status-tag status="Deprecated"></status-tag>
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/tag'
                  ? router.isActive(
                      router.createUrlTree(['components/tag']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/tag')"
              >Tag</a
            >
          </div>
        </div>
        <div class="menu-title">Utilities</div>
        <div class="menu-items">
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/accordion'
                  ? router.isActive(
                      router.createUrlTree(['components/accordion']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/accordion')"
              >Accordion</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/accordion-group'
                  ? router.isActive(
                      router
                        .createUrlTree(['components/accordion-group'])
                        .toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/accordion-group')"
              >Accordion Group</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/alert'
                  ? router.isActive(
                      router.createUrlTree(['components/alert']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/alert')"
              >Alert</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/chip'
                  ? router.isActive(
                      router.createUrlTree(['components/chip']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/chip')"
              >Chip</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/dialog'
                  ? router.isActive(
                      router.createUrlTree(['components/dialog']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/dialog')"
              >Dialog</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/dropdown'
                  ? router.isActive(
                      router.createUrlTree(['components/dropdown']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/dropdown')"
              >Dropdown</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/fileInput'
                  ? router.isActive(
                      router.createUrlTree(['components/fileInput']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/fileInput')"
              >File Input</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/heading'
                  ? router.isActive(
                      router.createUrlTree(['components/heading']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/heading')"
              >Heading</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/link'
                  ? router.isActive(
                      router.createUrlTree(['components/link']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/link')"
              >Link</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/paginator'
                  ? router.isActive(
                      router.createUrlTree(['components/paginator']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/paginator')"
              >Paginator</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/progressbar'
                  ? router.isActive(
                      router
                        .createUrlTree(['components/progressbar'])
                        .toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/progressbar')"
              >Progress Bar</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/resultsettable'
                  ? router.isActive(
                      router
                        .createUrlTree(['components/resultsettable'])
                        .toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/resultsettable')"
              >Resultset Table</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/spinner'
                  ? router.isActive(
                      router.createUrlTree(['components/spinner']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/spinner')"
              >Spinner</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/table'
                  ? router.isActive(
                      router.createUrlTree(['components/table']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/table')"
              >Table</a
            >
          </div>
          <div class="menu-item">
            <a
              [ngClass]="{
                active: 'components/upload'
                  ? router.isActive(
                      router.createUrlTree(['components/upload']).toString(),
                      true
                    )
                  : false
              }"
              (click)="navigateTo('components/upload')"
              >Upload</a
            >
            <status-tag status="Deprecated"></status-tag>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
