<div className="test-case" id="label-progress">
  <h4>With label</h4>
  <dxc-progressbar
    showValue="true"
    value="66"
    label="loading"
  ></dxc-progressbar>
</div>
<div className="test-case" id="determinate-progressbar">
    <h4>Determinate default Progress Bar</h4>
  <dxc-progressbar value="25" label="loading"></dxc-progressbar>
</div>
<div className="test-case" id="undeterminate-progressbar">
  <h4>Undeterminate default Progress Bar</h4>
  <dxc-progressbar label="loading"></dxc-progressbar>
</div>
<div>
<h4>Margins</h4>
<div className="test-case" id="xxsmall-margin">
    <h5>xxsmall margin</h5>
    <dxc-progressbar showValue="true" value="66" margin="xxsmall"></dxc-progressbar>
</div>
<div className="test-case" id="xsmall-margin">
        <h5>xsmall margin</h5>
<dxc-progressbar showValue="true" value="66" margin="xsmall"></dxc-progressbar>
</div>
<div className="test-case" id="small-margin">
        <h5>small margin</h5>
<dxc-progressbar showValue="true" value="66" margin="small"></dxc-progressbar>
</div>
<div className="test-case" id="medium-margin">
        <h5>medium margin</h5>
<dxc-progressbar showValue="true" value="66" margin="medium"></dxc-progressbar>
</div>
<div className="test-case" id="large-margin">
        <h5>large margin</h5>
<dxc-progressbar showValue="true" value="66" margin="large"></dxc-progressbar>
</div>
<div className="test-case" id="xlarge-margin">
        <h5>xlarge margin</h5>
<dxc-progressbar showValue="true" value="66" margin="xlarge"></dxc-progressbar>
</div>
<div className="test-case" id="xxlarge-margin">
        <h5>xxlarge margin</h5>
<dxc-progressbar showValue="true" value="66" margin="xxlarge"></dxc-progressbar>
</div>

</div>
