<div>
  <dxc-heading text="Light Mode" [level]="5" margin="xsmall"></dxc-heading>
  <div>
    <tbuilder-component-mode text="Default">
      <dxc-textarea
        label="Textarea label"
        assistiveText="assistive text"
        margin="xsmall"
      >
      </dxc-textarea>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="Disabled">
      <dxc-textarea
        label="Textarea label"
        assistiveText="assistive text"
        margin="xsmall"
        disabled="true"
      >
      </dxc-textarea>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="Invalid">
      <dxc-textarea
        label="Textarea label"
        assistiveText="assistive text"
        margin="xsmall"
        invalid="true"
      >
      </dxc-textarea>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="Required">
      <dxc-textarea
        label="Textarea label"
        assistiveText="assistive text"
        margin="xsmall"
        required="true"
      >
      </dxc-textarea>
    </tbuilder-component-mode>
  </div>

  <dxc-heading text="Dark Mode" [level]="5" margin="xsmall"></dxc-heading>
  <div style="background: black">
    <tbuilder-component-mode text="Default">
      <dxc-textarea
        label="Textarea label"
        assistiveText="assistive text"
        margin="xsmall"
      >
      </dxc-textarea>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="Disabled">
      <dxc-textarea
        label="Textarea label"
        assistiveText="assistive text"
        margin="xsmall"
        disabled="true"
      >
      </dxc-textarea>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="Invalid">
      <dxc-textarea
        label="Textarea label"
        assistiveText="assistive text"
        margin="xsmall"
        invalid="true"
      >
      </dxc-textarea>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="Required">
      <dxc-textarea
        label="Textarea label"
        assistiveText="assistive text"
        margin="xsmall"
        required="true"
      >
      </dxc-textarea>
    </tbuilder-component-mode>
  </div>
</div>
