<div className="test-case" id="controlled-number">
  <h4>Controlled</h4>
  <dxc-number
    [value]="value"
    label="Number"
    (onChange)="onChange($event)"
    (onBlur)="onBlur($event)"
    margin="medium"
  >
  </dxc-number>
  <dxc-number
    [value]="value"
    label="Number"
    helperText="Helper Text"
    (onChange)="onChange($event)"
    (onBlur)="onBlur($event)"
    margin="medium"
  >
  </dxc-number>
  <dxc-number
    [value]="value"
    label="Number"
    placeholder="Placeholder"
    (onChange)="onChange($event)"
    (onBlur)="onBlur($event)"
    margin="medium"
  >
  </dxc-number>
  <dxc-number
    [value]="value"
    label="Number"
    disabled="true"
    (onChange)="onChange($event)"
    (onBlur)="onBlur($event)"
    margin="medium"
  >
  </dxc-number>
  <dxc-number
    [value]="value"
    label="Number"
    optional="true"
    (onChange)="onChange($event)"
    (onBlur)="onBlur($event)"
    margin="medium"
  >
  </dxc-number>
  <dxc-number
    [value]="value"
    label="Prefix"
    (onChange)="onChange($event)"
    (onBlur)="onBlur($event)"
    margin="medium"
  >
    <dxc-text-input-prefix value="+34"></dxc-text-input-prefix>
  </dxc-number>
  <dxc-number
    [value]="value"
    label="Suffix"
    (onChange)="onChange($event)"
    (onBlur)="onBlur($event)"
    margin="medium"
  >
    <dxc-text-input-suffix value="EUR"></dxc-text-input-suffix>
  </dxc-number>
  <dxc-number
    [value]="value"
    label="Prefix and suffix"
    (onChange)="onChange($event)"
    (onBlur)="onBlur($event)"
    margin="medium"
  >
    <dxc-text-input-prefix value="+34"></dxc-text-input-prefix>
    <dxc-text-input-suffix value="EUR"></dxc-text-input-suffix>
  </dxc-number>
  <dxc-number
    [value]="value"
    label="Min 5"
    (onChange)="onChange($event)"
    (onBlur)="onBlur($event)"
    margin="medium"
    min="5"
  >
  </dxc-number>
  <dxc-number
    [value]="value"
    label="Max 10"
    (onChange)="onChange($event)"
    (onBlur)="onBlur($event)"
    margin="medium"
    max="10"
  >
  </dxc-number>
  <dxc-number
    [value]="value"
    label="Min 5, max 10"
    (onChange)="onChange($event)"
    (onBlur)="onBlur($event)"
    margin="medium"
    min="5"
    max="10"
  >
  </dxc-number>
  <dxc-number
    [value]="value"
    label="Step 5"
    (onChange)="onChange($event)"
    (onBlur)="onBlur($event)"
    margin="medium"
    step="5"
  >
  </dxc-number>
  <dxc-number
    [value]="value"
    label="Min 5, step 5"
    (onChange)="onChange($event)"
    (onBlur)="onBlur($event)"
    margin="medium"
    min="5"
    step="5"
  >
  </dxc-number>
  <dxc-number
    [value]="value"
    label="Min 5, max 20, step 5"
    (onChange)="onChange($event)"
    (onBlur)="onBlur($event)"
    margin="medium"
    min="5"
    max="20"
    step="5"
  >
  </dxc-number>
  <dxc-number
    [value]="value"
    label="Invalid"
    (onChange)="onChange($event)"
    (onBlur)="onBlur($event)"
    margin="medium"
    error="Error message"
  >
  </dxc-number>
</div>

<div className="test-case" id="custom-error-number">
  <h4>Custom error messages</h4>
  <dxc-number
    [value]="value"
    label="Min 5, max 20, step 5"
    (onChange)="onChange($event)"
    (onBlur)="onBlur($event)"
    margin="medium"
    min="5"
    max="20"
    step="5"
    [error]="errorMessage"
  >
  </dxc-number>
</div>

<div className="test-case" id="sizes-number">
  <h4>Sizes</h4>
  <dxc-number
    [value]="value"
    label="Small"
    (onChange)="onChange($event)"
    (onBlur)="onBlur($event)"
    margin="medium"
    min="5"
    max="20"
    step="5"
    [error]="errorMessage"
    size="small"
  >
  </dxc-number>
  <dxc-number
    [value]="value"
    label="Medium"
    (onChange)="onChange($event)"
    (onBlur)="onBlur($event)"
    margin="medium"
    min="5"
    max="20"
    step="5"
    [error]="errorMessage"
    size="medium"
  >
  </dxc-number>
  <dxc-number
    [value]="value"
    label="Large"
    (onChange)="onChange($event)"
    (onBlur)="onBlur($event)"
    margin="medium"
    min="5"
    max="20"
    step="5"
    [error]="errorMessage"
    size="large"
  >
  </dxc-number>
  <dxc-number
    [value]="value"
    label="Fill parent"
    (onChange)="onChange($event)"
    (onBlur)="onBlur($event)"
    margin="medium"
    min="5"
    max="20"
    step="5"
    [error]="errorMessage"
    size="fillParent"
  >
  </dxc-number>
</div>

<div className="test-case" id="dark-number" style="background-color: black">
  <background-provider color="#000000">
    <dxc-number
      placeholder="placeholder"
      label="Input label"
      helperText="helper text"
      min="10"
      max="100"
      step="5"
      [value]="value"
      (onChange)="onChange($event)"
      margin="medium"
    >
      <dxc-text-input-prefix value="+34"></dxc-text-input-prefix>
      <dxc-text-input-suffix value="$"></dxc-text-input-suffix>
    </dxc-number>
  </background-provider>
</div>
