<div>
  <dxc-heading text="Light Mode" [level]="5" margin="xsmall"></dxc-heading>
  <tbuilder-component-mode text="Default">
    <dxc-new-input-text
      placeholder="placeholder"
      label="Input label"
      helperText="helper text"
      margin="small"
    ></dxc-new-input-text>
    <dxc-new-input-text
      placeholder="placeholder"
      label="Input label"
      suffix="$"
      prefix="+34"
      helperText="helper text"
      margin="xsmall"
    >
    </dxc-new-input-text>
    <dxc-new-input-text
      placeholder="placeholder"
      error="Very important error"
      label="Input label"
      suffix="$"
      prefix="+34"
      helperText="helper text"
      margin="xsmall"
    ></dxc-new-input-text>
    <dxc-new-input-text
      placeholder="placeholder"
      clearable="true"
      error="Very important error"
      label="Input label"
      suffix="$"
      prefix="+34"
      helperText="helper text"
      margin="xsmall"
    >
    </dxc-new-input-text>
  </tbuilder-component-mode>

  <tbuilder-component-mode text="Disabled">
    <dxc-new-input-text
      placeholder="placeholder"
      value="test"
      clearable="true"
      error="Very important error"
      label="Input label"
      suffix="$"
      prefix="+34"
      helperText="helper text"
      margin="xsmall"
      disabled="true"
    >
    </dxc-new-input-text>
  </tbuilder-component-mode>
</div>
