<div>
  <dxc-heading text="Light Mode" [level]="5" margin="xsmall"></dxc-heading>
  <background-provider color="#FFFFFF">
    <tbuilder-component-mode text="Default">
      <dxc-new-input-text
        placeholder="placeholder"
        helperText="helper text"
        label="Input label"
        margin="xsmall"
        [value]="controlledValue"
        (onChange)="changeValue($event)"
        clearable="true"
        (onActionClick)="click()"
        [suggestions]="options"
        pattern="[a-zA-Z]+"
        [error]="errorMessage"
        [length]="lengthLimit"
      >
        <dxc-new-input-text-action>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="currentColor"
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"
            />
          </svg>
        </dxc-new-input-text-action>
      </dxc-new-input-text>

      <dxc-new-input-text
        placeholder="placeholder"
        helperText="helper text"
        label="Input label"
        margin="xsmall"
        [value]="controlledValue"
        (onChange)="changeValue($event)"
        clearable="true"
        (onActionClick)="click()"
        [suggestions]="options"
        [error]="errorMessage"
        [length]="lengthLimit"
        pattern="[a-zA-Z]+"
      >
        <dxc-new-input-text-action>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="currentColor"
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"
            />
          </svg>
        </dxc-new-input-text-action>
      </dxc-new-input-text>

      <dxc-new-input-text
        placeholder="placeholder"
        label="Input label"
        helperText="helper text"
        clearable="true"
        margin="xsmall"
        [suggestions]="options"
        (onActionClick)="click()"
      >
        <dxc-input-text-prefix value="+34"></dxc-input-text-prefix>
        <dxc-input-text-suffix value="$"></dxc-input-text-suffix>
        <dxc-new-input-text-action>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="currentColor"
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"
            />
          </svg>
        </dxc-new-input-text-action>
      </dxc-new-input-text>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="Error">
      <dxc-new-input-text
        placeholder="placeholder"
        clearable="true"
        error="Very important error"
        label="Input label"
        helperText="helper text"
        margin="xsmall"
        (onActionClick)="click()"
        [suggestions]="options"
      >
        <dxc-input-text-prefix value="+34"></dxc-input-text-prefix>
        <dxc-input-text-suffix value="$"></dxc-input-text-suffix>
        <dxc-new-input-text-action>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="currentColor"
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"
            />
          </svg>
        </dxc-new-input-text-action>
      </dxc-new-input-text>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="Disabled">
      <dxc-new-input-text
        placeholder="placeholder"
        value="test"
        clearable="true"
        error="Very important error"
        label="Input label"
        helperText="helper text"
        margin="xsmall"
        disabled="true"
        (onActionClick)="click()"
        [suggestions]="options"
      >
        <dxc-input-text-prefix value="+34"></dxc-input-text-prefix>
        <dxc-input-text-suffix value="$"></dxc-input-text-suffix>
        <dxc-new-input-text-action>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="currentColor"
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"
            />
          </svg>
        </dxc-new-input-text-action>
      </dxc-new-input-text>
    </tbuilder-component-mode>
  </background-provider>

  <!-- <dxc-heading text="Dark Mode" [level]="5" margin="xsmall"></dxc-heading>
  <background-provider color="#000000">
    <tbuilder-component-mode text="Default" mode="dark">
      <dxc-new-input-text
        placeholder="placeholder"
        helperText="helper text"
        label="Input label"
        margin="xsmall"
        [value]="controlledValue"
        (onChange)="changeValue($event)"
        clearable="true"
        (onActionClick)="click()"
        [suggestions]="options"
      >
        <dxc-new-input-text-action>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="currentColor"
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"
            />
          </svg>
        </dxc-new-input-text-action>
      </dxc-new-input-text>

      <dxc-new-input-text
        placeholder="placeholder"
        label="Input label"
        helperText="helper text"
        margin="xsmall"
        (onActionClick)="click()"
        [suggestions]="options"
      >
        <dxc-input-text-prefix value="+34"></dxc-input-text-prefix>
        <dxc-input-text-suffix value="$"></dxc-input-text-suffix>
        <dxc-new-input-text-action>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="currentColor"
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"
            />
          </svg>
        </dxc-new-input-text-action>
      </dxc-new-input-text>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="Error" mode="dark">
      <dxc-new-input-text
        placeholder="placeholder"
        clearable="true"
        error="Very important error"
        label="Input label"
        helperText="helper text"
        margin="xsmall"
        (onActionClick)="click()"
        [suggestions]="options"
      >
        <dxc-input-text-prefix value="+34"></dxc-input-text-prefix>
        <dxc-input-text-suffix value="$"></dxc-input-text-suffix>
        <dxc-new-input-text-action>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="currentColor"
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"
            />
          </svg>
        </dxc-new-input-text-action>
      </dxc-new-input-text>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="Disabled" mode="dark">
      <dxc-new-input-text
        placeholder="placeholder"
        value="test"
        clearable="true"
        error="Very important error"
        label="Input label"
        helperText="helper text"
        margin="xsmall"
        disabled="true"
        (onActionClick)="click()"
        [suggestions]="options"
      >
        <dxc-input-text-prefix value="+34"></dxc-input-text-prefix>
        <dxc-input-text-suffix value="$"></dxc-input-text-suffix>
        <dxc-new-input-text-action>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="currentColor"
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"
            />
          </svg>
        </dxc-new-input-text-action>
      </dxc-new-input-text>
    </tbuilder-component-mode>
  </background-provider> -->
</div>
