<div>
  <tbuilder-component-mode text="Default"> 
    <dxc-sidenav theme padding="xsmall">
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
    </dxc-sidenav>
  </tbuilder-component-mode>

  <tbuilder-component-mode text="With Compound Components">
    <dxc-sidenav theme padding="xsmall">
      <dxc-sidenav-title>My Title</dxc-sidenav-title>
      <dxc-sidenav-subtitle>category</dxc-sidenav-subtitle>
      <dxc-sidenav-link href="#">link</dxc-sidenav-link>
      <dxc-sidenav-link href="#">link</dxc-sidenav-link>

      <dxc-sidenav-subtitle>category</dxc-sidenav-subtitle>
      <dxc-sidenav-link href="#">link</dxc-sidenav-link>
      <dxc-sidenav-link href="#">link</dxc-sidenav-link>
    </dxc-sidenav>
  </tbuilder-component-mode>

  <tbuilder-component-mode text="With Scroll">
    <div style="height: 300px">
      <dxc-sidenav theme padding="xsmall">
        <dxc-sidenav-title>My Title</dxc-sidenav-title>
        <dxc-sidenav-subtitle>category</dxc-sidenav-subtitle>
        <dxc-sidenav-link href="#">link</dxc-sidenav-link>
        <dxc-sidenav-link href="#">link</dxc-sidenav-link>
        <dxc-sidenav-link href="#">link</dxc-sidenav-link>

        <dxc-sidenav-subtitle>category</dxc-sidenav-subtitle>
        <dxc-sidenav-link href="#">link</dxc-sidenav-link>
        <dxc-sidenav-link href="#">link</dxc-sidenav-link>
        <dxc-sidenav-link href="#">link</dxc-sidenav-link>

        <dxc-sidenav-subtitle>category</dxc-sidenav-subtitle>
        <dxc-sidenav-link href="#">link</dxc-sidenav-link>
        <dxc-sidenav-link href="#">link</dxc-sidenav-link>
        <dxc-sidenav-link href="#">link</dxc-sidenav-link>

        <dxc-sidenav-subtitle>category</dxc-sidenav-subtitle>
        <dxc-sidenav-link href="#">link</dxc-sidenav-link>
        <dxc-sidenav-link href="#">link</dxc-sidenav-link>
        <dxc-sidenav-link href="#">link</dxc-sidenav-link>

        <dxc-sidenav-subtitle>category</dxc-sidenav-subtitle>
        <dxc-sidenav-link href="#">link</dxc-sidenav-link>
        <dxc-sidenav-link href="#">link</dxc-sidenav-link>
        <dxc-sidenav-link href="#">link</dxc-sidenav-link>

        <dxc-sidenav-subtitle>category</dxc-sidenav-subtitle>
        <dxc-sidenav-link href="#">link</dxc-sidenav-link>
        <dxc-sidenav-link href="#">link</dxc-sidenav-link>
        <dxc-sidenav-link href="#">link</dxc-sidenav-link>
      </dxc-sidenav>
    </div>
  </tbuilder-component-mode>
</div>
