<div>
  <h3>Uncontrolled tabs</h3>
  <dxc-tabs theme="dark">
    <dxc-tab label="Tab 1" (onClick)="uncontrolledTabClicked($event)"></dxc-tab>
    <dxc-tab label="Tab 2" (onClick)="uncontrolledTabClicked($event)"></dxc-tab>
    <dxc-tab label="Tab 3" (onClick)="uncontrolledTabClicked($event)"></dxc-tab>
  </dxc-tabs>
</div>
<div style="width: 320px">
  <h3>Light theme tabs</h3>
  <dxc-tabs margin="small" [activeTabIndex]="tabId">
    <dxc-tab label="Tab 1" (onClick)="tabClicked($event)"></dxc-tab>
    <dxc-tab label="Tab 2" (onClick)="tabClicked($event)"></dxc-tab>
    <dxc-tab label="Tab 3" (onClick)="tabClicked($event)"></dxc-tab>
  </dxc-tabs>
</div>
<div>
  <h3>Dark theme tabs</h3>
  <dxc-tabs theme="dark" [activeTabIndex]="tabId">
    <dxc-tab label="Tab 1" (onClick)="tabClicked($event)"></dxc-tab>
    <dxc-tab label="Tab 2" (onClick)="tabClicked($event)"></dxc-tab>
    <dxc-tab label="Tab 3" (onClick)="tabClicked($event)"></dxc-tab>
  </dxc-tabs>
</div>
<div>
  <h3>Tabs with content</h3>
  <dxc-tabs mode="underline" [activeTabIndex]="tabId">
    <dxc-tab label="Tab 1"></dxc-tab>
    <dxc-tab label="Tab 2"></dxc-tab>
    <dxc-tab label="Tab 3"></dxc-tab>
  </dxc-tabs>
</div>
<div>
  <h3>Underlined tabs</h3>
  <dxc-tabs mode="underline" [activeTabIndex]="tabId">
    <dxc-tab label="Tab 1"></dxc-tab>
    <dxc-tab label="Tab 2"></dxc-tab>
    <dxc-tab label="Tab 3"></dxc-tab>
  </dxc-tabs>
</div>
<div>
  <h3>Tabs with content</h3>
  <dxc-tabs>
    <dxc-tab label="Tab 1"
      ><div style="background: #444c99;height: 200px;margin: 15px">
        Content1
      </div></dxc-tab
    >
    <dxc-tab label="Tab 2"
      ><div style="background: #04f397;height: 200px;margin: 15px">
        Content1
      </div></dxc-tab
    >
    <dxc-tab label="Tab 3"
      ><div style="background: #f3db04;height: 200px;margin: 15px">
        Content1
      </div></dxc-tab
    >
  </dxc-tabs>
</div>
<div>
  <h3>Margins</h3>
  <div>
    <h3>xxsmall</h3>
    <dxc-tabs margin="xxsmall">
      <dxc-tab label="Tab 1"></dxc-tab>
      <dxc-tab label="Tab 2"></dxc-tab>
      <dxc-tab label="Tab 3"></dxc-tab>
    </dxc-tabs>
    <h3>xsmall</h3>
    <dxc-tabs margin="xsmall">
      <dxc-tab label="Tab 1"></dxc-tab>
      <dxc-tab label="Tab 2"></dxc-tab>
      <dxc-tab label="Tab 3"></dxc-tab>
    </dxc-tabs>
    <h3>small</h3>
    <dxc-tabs margin="small">
      <dxc-tab label="Tab 1"></dxc-tab>
      <dxc-tab label="Tab 2"></dxc-tab>
      <dxc-tab label="Tab 3"></dxc-tab>
    </dxc-tabs>
    <h3>medium</h3>
    <dxc-tabs margin="medium">
      <dxc-tab label="Tab 1"></dxc-tab>
      <dxc-tab label="Tab 2"></dxc-tab>
      <dxc-tab label="Tab 3"></dxc-tab>
    </dxc-tabs>
    <h3>large</h3>
      <dxc-tabs margin="large">
      <dxc-tab label="Tab 1"></dxc-tab>
      <dxc-tab label="Tab 2"></dxc-tab>
      <dxc-tab label="Tab 3"></dxc-tab>
    </dxc-tabs>
    <h3>xlarge</h3>
  <dxc-tabs margin="xlarge">
      <dxc-tab label="Tab 1"></dxc-tab>
      <dxc-tab label="Tab 2"></dxc-tab>
      <dxc-tab label="Tab 3"></dxc-tab>
    </dxc-tabs>
    <h3>xxlarge</h3>
  <dxc-tabs margin="xxlarge">
      <dxc-tab label="Tab 1"></dxc-tab>
      <dxc-tab label="Tab 2"></dxc-tab>
      <dxc-tab label="Tab 3"></dxc-tab>
    </dxc-tabs>
  </div>
</div>
