<div>
  <dxc-heading text="Light Mode" [level]="5" margin="xsmall"></dxc-heading>
  <div>
    <tbuilder-component-mode text="Default">
      <dxc-select
        label="Default Select"
        margin="xsmall"
        assistiveText="Assistive text"
      >
        <dxc-select-option
          *ngFor="let option of optionsWithoutIcon"
          [label]="option.label"
          [value]="option.value"
        ></dxc-select-option>
      </dxc-select>

      <dxc-select
        label="Default Select"
        margin="xsmall"
        required
        assistiveText="Assistive text"
      >
        <dxc-select-option
          *ngFor="let option of optionsWithoutIcon"
          [label]="option.label"
          [value]="option.value"
        ></dxc-select-option>
      </dxc-select>

      <dxc-select
        label="Icon Select"
        margin="xsmall"
        assistiveText="Assistive text"
      >
        <dxc-select-option
          *ngFor="let option of optionsWithIconAndLabels"
          [label]="option.label"
          [value]="option.value"
        >
          <dxc-option-icon><img [src]="option.iconSrc" /></dxc-option-icon>
        </dxc-select-option>
      </dxc-select>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="Multiple">
      <dxc-select
        label="Multiple Select"
        multiple="true"
        margin="xsmall"
        [value]="multipleSelected"
        size="medium"
        assistiveText="Assistive text"
        (onChange)="onChange($event)"
      >
        <dxc-select-option
          *ngFor="let element of optionsWithoutIcon"
          [label]="element.label"
          [value]="element.value"
        >
        </dxc-select-option>
      </dxc-select>

      <dxc-select
        label="Invalid Select"
        multiple="true"
        margin="xsmall"
        [value]="multipleSelected"
        size="medium"
        assistiveText="Assistive text"
        (onChange)="onChange($event)"
        [invalid]="true"
      >
        <dxc-select-option
          *ngFor="let element of optionsWithoutIcon"
          [label]="element.label"
          [value]="element.value"
        >
        </dxc-select-option>
      </dxc-select>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="Disabled">
      <dxc-select
        label="Default Select"
        margin="xsmall"
        [disabled]="true"
        assistiveText="Assistive text"
      >
        <dxc-select-option
          *ngFor="let option of optionsWithoutIcon"
          [label]="option.label"
          [value]="option.value"
        ></dxc-select-option>
      </dxc-select>
    </tbuilder-component-mode>
  </div>

  <!-- <dxc-heading text="Dark Mode" [level]="5" margin="xsmall"></dxc-heading>
  <background-provider color="#000000">
    <tbuilder-component-mode text="Default" mode="dark">
      <dxc-select
        label="Default Select"
        margin="xsmall"
        assistiveText="Assistive text"
      >
        <dxc-select-option
          *ngFor="let option of optionsWithoutIcon"
          [label]="option.label"
          [value]="option.value"
        ></dxc-select-option>
      </dxc-select>

      <dxc-select
        label="Default Select"
        margin="xsmall"
        required="true"
        assistiveText="Assistive text"
      >
        <dxc-select-option
          *ngFor="let option of optionsWithoutIcon"
          [label]="option.label"
          [value]="option.value"
        ></dxc-select-option>
      </dxc-select>

      <dxc-select
        label="Icon Select"
        margin="xsmall"
        assistiveText="Assistive text"
      >
        <dxc-select-option
          *ngFor="let option of optionsWithIconAndLabels"
          [label]="option.label"
          [value]="option.value"
        >
          <dxc-option-icon><img [src]="option.iconSrc" /></dxc-option-icon>
        </dxc-select-option>
      </dxc-select>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="Multiple" mode="dark">
      <dxc-select
        label="Multiple Select"
        multiple="true"
        margin="xsmall"
        [value]="multipleSelected"
        size="medium"
        assistiveText="Assistive text"
        (onChange)="onChange($event)"
      >
        <dxc-select-option
          *ngFor="let element of optionsWithoutIcon"
          [label]="element.label"
          [value]="element.value"
        >
        </dxc-select-option>
      </dxc-select>

      <dxc-select
        label="Invalid Select"
        multiple="true"
        margin="xsmall"
        [value]="multipleSelected"
        size="medium"
        assistiveText="Assistive text"
        (onChange)="onChange($event)"
        [invalid]="true"
      >
        <dxc-select-option
          *ngFor="let element of optionsWithoutIcon"
          [label]="element.label"
          [value]="element.value"
        >
        </dxc-select-option>
      </dxc-select>
    </tbuilder-component-mode>

    <tbuilder-component-mode text="Disabled" mode="dark">
      <dxc-select
        label="Default Select"
        margin="xsmall"
        [disabled]="true"
        assistiveText="Assistive text"
      >
        <dxc-select-option
          *ngFor="let option of optionsWithoutIcon"
          [label]="option.label"
          [value]="option.value"
        ></dxc-select-option>
      </dxc-select>
    </tbuilder-component-mode>
  </background-provider> -->
</div>
