<div>
  <h4>Mode</h4>
  <div className="test-case" id="inline-alert">
    <h5>Inline alert</h5>
    <dxc-alert
      margin="xxsmall"
      type="info"
      inlineText=" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit
  leo lobortis eget."
    ></dxc-alert>
  </div>
  <div className="test-case" id="modal-alert">
    <h5>Modal alert</h5>
    <div>
      <dxc-button
        mode="basic"
        theme="light"
        label="Modal Alert"
        (onClick)="handleVisibility()"
        margin="medium"
      ></dxc-button>
    </div>
    <div *ngIf="isVisible">
      <dxc-alert
        type="info"
        mode="modal"
        (onClose)="handleVisibility()"
        inlineText=" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit leo lobortis eget."
        margin="medium"
      ></dxc-alert>
    </div>
  </div>
</div>

<div>
  <h4>Types</h4>
  <div className="test-case" id="info-type">
    <h5>Info</h5>
    <dxc-alert
      margin="xxsmall"
      type="info"
      inlineText=" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit
  leo lobortis eget."
    ></dxc-alert>
  </div>
  <div className="test-case" id="confirm-type">
    <h5>Confirm</h5>
    <dxc-alert
      margin="xxsmall"
      type="confirm"
      inlineText=" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit
  leo lobortis eget."
    ></dxc-alert>
  </div>
  <div className="test-case" id="warning-type">
    <h5>Warning</h5>
    <dxc-alert
      margin="xxsmall"
      type="warning"
      inlineText=" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit
  leo lobortis eget."
    ></dxc-alert>
  </div>
  <div className="test-case" id="error-type">
    <h5>Error</h5>
    <dxc-alert
      margin="xxsmall"
      type="error"
      inlineText=" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit
  leo lobortis eget."
    ></dxc-alert>
  </div>
</div>

<div className="test-case" id="max-label-size-single-line">
  <h4>Max label size single line</h4>
  <dxc-alert
    margin="xxsmall"
    type="info"
    inlineText=" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit
  leo lobo."
  ></dxc-alert>
</div>

<div className="test-case" id="min-label-size-ellipsis">
  <h4>Min label size ellipsis</h4>
  <dxc-alert
    margin="xxsmall"
    type="info"
    inlineText=" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit
  leo lobor."
  ></dxc-alert>
</div>

<div>
  <h4>Closable inline alert</h4>
  <div className="test-case" id="closable-alert">
    <dxc-alert
      margin="xxsmall"
      type="confirm"
      mode="inline"
      (onClose)="handleVisibility()"
      inlineText="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit leo lobortis eget."
    ></dxc-alert>
  </div>
</div>

<div>
  <h4>With children</h4>
  <div className="test-case" id="children-alert">
    <dxc-alert
      type="warning"
      mode="inline"
      inlineText="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit leo lobortis eget."
      margin="xxsmall"
    >
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        malesuada lacus ex, sit amet blandit leo lobortis eget.
      </div>
    </dxc-alert>
  </div>
</div>

<div>
  <h4>With children - Max label size</h4>
  <div className="test-case" id="max-label-size-children">
    <dxc-alert
      type="warning"
      mode="inline"
      inlineText="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuad."
      margin="xxsmall"
    >
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        malesuada lacus ex, sit a.
      </div>
    </dxc-alert>
  </div>
</div>

<div>
  <h4>With children - Min label size ellipsis</h4>
  <div className="test-case" id="min-label-size-ellipsis-children">
    <dxc-alert
      type="warning"
      mode="inline"
      inlineText="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada."
      margin="xxsmall"
    >
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        malesuada lacus ex, sit am.
      </div>
    </dxc-alert>
  </div>
</div>
<div>
  <h4>With children - Max content size single line</h4>
  <div className="test-case" id="max-content-size-single-line">
    <dxc-alert
      type="warning"
      mode="inline"
      inlineText="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit leo lobortis eget."
      margin="xxsmall"
    >
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        malesuada lacus ex, sit a.
      </div>
    </dxc-alert>
  </div>
</div>

<div>
  <h4>With children - Min content size multiline</h4>
  <div className="test-case" id="min-content-size-multiline">
    <dxc-alert
      type="warning"
      mode="inline"
      inlineText="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit leo lobortis eget."
      margin="xxsmall"
    >
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        malesuada lacus ex, sit am.
      </div>
    </dxc-alert>
  </div>
</div>

<div>
  <h4>Margins</h4>
  <div className="test-case" id="xxsmall-margin">
    <h5>xxsmall margin</h5>
    <dxc-alert
      margin="xxsmall"
      inlineText=" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit
  leo lobortis eget."
    ></dxc-alert>
  </div>
  <div className="test-case" id="xsmall-margin">
    <h5>xsmall margin</h5>
    <dxc-alert
      margin="xsmall"
      inlineText=" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit
  leo lobortis eget."
    ></dxc-alert>
  </div>
  <div className="test-case" id="small-margin">
    <h5>Small margin</h5>
    <dxc-alert
      margin="small"
      inlineText=" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit
  leo lobortis eget."
    ></dxc-alert>
  </div>
  <div className="test-case" id="medium-margin">
    <h5>Medium margin</h5>
    <dxc-alert
      margin="medium"
      inlineText=" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit
  leo lobortis eget."
    ></dxc-alert>
  </div>
  <div className="test-case" id="large-margin">
    <h5>Large margin</h5>
    <dxc-alert
      margin="large"
      inlineText=" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit
  leo lobortis eget."
    ></dxc-alert>
  </div>
  <div className="test-case" id="xlarge-margin">
    <h5>xlarge margin</h5>
    <dxc-alert
      margin="xlarge"
      inlineText=" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit
  leo lobortis eget."
    ></dxc-alert>
  </div>
  <div className="test-case" id="xxlarge-margin">
    <h5>xxlarge margin</h5>
    <dxc-alert
      margin="xxlarge"
      inlineText=" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit
  leo lobortis eget."
    ></dxc-alert>
  </div>
</div>
