<dxc-button 
        label="Basic Button" 
        (onClick)="onClick()" 
        [iconSrc]="twitterLogoPath" 
        margin="medium">
</dxc-button>
<dxc-button 
        label="Basic Button" 
        (onClick)="onClick()" 
        [iconSrc]="twitterLogoPath" 
        iconPosition="after"
        margin="medium">
</dxc-button>
<dxc-button 
        label="Basic Button" 
        (onClick)="onClick()" 
        [iconSrc]="twitterLogoPath" 
        iconPosition="after"
        margin="medium"
        mode="primary"
        >
</dxc-button>
<dxc-button 
        label="Basic Button" 
        (onClick)="onClick()" 
        [iconSrc]="twitterLogoPath" 
        iconPosition="after"
        margin="medium"
        mode="text"
        >
</dxc-button>