      <dxc-radio
        label="Option1"
        name="op1"
        [checked]="checked1"
        (onChange)="onChange1($event)"
        margin="medium"
        labelPosition="before">
      </dxc-radio>

      <dxc-radio
        label="Option2"
        name="op2"
        [checked]="checked2"
        (onChange)="onChange2($event)"
        margin="medium"
        labelPosition="before">
      </dxc-radio>

      <dxc-radio
        label="Option3"
        name="op3"
        [checked]="checked3"
        (onChange)="onChange3($event)"
        margin="medium"
        labelPosition="before">
      </dxc-radio>
