<dxc-heading
  [level]="4"
  weight="normal"
  text="Properties"
  [margin]="{ bottom: 'small' }"
></dxc-heading>
<dxc-table>
  <tr>
    <th>Name</th>
    <th>Default</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>currentPage: number</td>
    <td><code>1</code></td>
    <td>Number of the current selected page.</td>
  </tr>
  <tr>
    <td>itemsPerPage: number</td>
    <td><code>5</code></td>
    <td>Number of items per page.</td>
  </tr>
  <tr>
    <td>showGoToPage: boolean</td>
    <td><code>false</code></td>
    <td>Show page navigation select.</td>
  </tr>
  <tr>
    <td>itemsPerPageOptions: number[]</td>
    <td>
      <code>[]</code>
    </td>
    <td>
      An array of objects representing the selectable options of the items per
      page input.
    </td>
  </tr>
  <tr>
    <td>totalItems: number</td>
    <td><code>1</code></td>
    <td>Total number of items in the pages.</td>
  </tr>
  <tr>
    <td>paginationActions: string[]</td>
    <td></td>
    <td>
      Pagination actions to be rendered ['prev', 'next', 'first','last']. In
      case the property is not defined all actions will be rendered.
    </td>
  </tr>
    <td>onGoToPage: EventEmitter</td>
    <td></td>
    <td>
      This event will emit the new page when the user interacts with the page navigation buttons or select.
    </td>
  </tr>
  <tr>
    <td>itemsPerPageFunction: EventEmitter</td>
    <td></td>
    <td>
      This function will be called when the user picks an option for the
      itemsPerPage select. The value selected will be passed as a parameter.
    </td>
  </tr>
</dxc-table>
