<dxc-heading [level]="3" weight="normal" text="Theming" [margin]="{bottom:'small'}"></dxc-heading>
<dxc-table>
  <tr>
    <th>Name</th>
    <th>Default</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>baseColor</td>
    <td>
      <div class="default-color">
        <color-preview color="#F8F8F8"></color-preview>
        <code>#F8F8F8</code>
      </div>
    </td>
    <td>Applies to token backgroundColor.</td>
  </tr>
  <tr>
    <td>arrowBaseColor</td>
    <td>
      <div class="default-color">
        <color-preview color="#D9D9D9"></color-preview>
        <code>#D9D9D9</code>
      </div>
    </td>
    <td>Applies to token arrowContainer.</td>
  </tr>
  <tr>
    <td>arrowAccentColor</td>
    <td>
      <div class="default-color">
        <color-preview color="#000000"></color-preview>
        <code>#000000</code>
      </div>
    </td>
    <td>Applies to token arrowColor.</td>
  </tr>
</dxc-table>
