header  {
    background-color: black;
    display: flex;
    padding: 5px 20px;
    .header-logo {
        height: 40px;
        margin: 15px 0px;
    }
}

.body-container {
    display: flex;
    min-height: 100vh;
    background: #efefef;

    .sidenav {
        background: black;
        color: white;
        display: flex;
        padding: 20px 30px 20px 20px;
        flex-direction: column;

        .sidenav-title {
            font-weight: bold;
            font-size: 20px;
            margin: 10px 0px 30px 0px;
            
        }
        .sidenav-links {
            padding: 20px;
            display: flex;
            flex-direction: column;
            .nav-item {
                margin-bottom: 5px;
                padding-left: 0px;
                border-left: 0px;
                a {
                    font-weight: normal;
                    font-size: 14px;
                    color: white;
                    text-decoration: none;
                }
                &.active {
                    margin-bottom: 5px;
                    padding-left: 3px;
                    border-left: 5px solid rgb(255, 237, 0);
                    a {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .container-content {
        margin: 50px;
        background: white;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        border: 1px dashed #cccccc;
    }
}