// FONTS//
$type-1: 'Open Sans',
sans-serif;
$default-font-size: .875rem;
$body-color: #fff;
// FONT VARIABLES //

// NAVBAR //
$navbar-bg: #232f3e;
$navbar-height: 70px;
$logo-navbar-bg: #fff;
$navbar-height: 34px;
$navbar-menu-color: #fff;
$navbar-font-size: .875rem;
$navbar-icon-font-size: 1.25rem;
// NAVBAR //

// SIDEBAR //
$sidebar-width-lg: 225px;
$sidebar-width-icon: 70px;

// COLOR SYSTEM //

$black: #000;
$white: #ffffff;
$red: #FF0000;
$dxc-hover:#0067B3;
$dxc-dark: #666;
$orange: #ff9900;
$purpletitle:#6f2c91;
$configcolor:#afa9a6;
$whiteinput:#fafafa;
$linktextcolor:#3a3a3a;
$activecolor:#145388;
$greenbordercolor:#66CC75;
$boxshadowcolor:rgba(109,207,246,.5);
$placeholdercolor:#999;
$sidenavbg:rgba(255, 0, 0, 0.5);
$menutextcolor:#3a3a3a;
$materialiconcolor:#ff1100 ;
$footertopbartextcolor:#555;
$whitebordercolor:#e8e8e8;
$footercsmodulecolor:#d1b933;
$headerbackgroundcolor:#175782;
$navbarboxshadaow:rgba(0, 0, 0, .04);
$menuitemcolor:#6d6d6d;
$blueiconcolor:#499fea;
$menubuttonmobilecolor:#8f8f8f;
$navbarcolor:#878787;
$sliderbackgroundcolor:#626262;
$icondxcwhite:#dcdcdc;
$icondxcboxshadow1:rgba(0, 0, 0, .2);
$icondxcboxshadow2:rgba(0, 0, 0, .14);
$icondxcboxshadow3:rgba(0, 0, 0, .12);
$separatorborder:#d7d7d7;
$btnwhite:#e7e7e7;
$btnbule:#005488;
$menuinnerframeborder:#879596;
$mevufavicon:rgb(255, 153, 0);
$menufavborder:#545b64;
$textinputborder:#ccc;
