<h2 class="subtitle-example">Directives</h2>
<p>
    Directives are used to add functionality and new syntax into HTML components.
    The following directives are customized and you can use them on this component.
</p>
<dxc-table>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>isClosable</td>
        <td>
            Directive to close the responsive menu when click on element.
        </td>
    </tr>
</dxc-table>

<p>
    Here there is an example of how to use them:
</p>

<app-code-playground [code]="bindCode" type="HTML" ></app-code-playground>
