<dxc-button (click)="changeCheckBoxValue()">
  Button 1 <mat-icon>home</mat-icon>
</dxc-button>
<dxc-button type="basic" disabled>
  Button 2 <mat-icon>home</mat-icon>
</dxc-button>

<dxc-button type="raised" disableRipple>
  Button 3 <mat-icon>home</mat-icon>
</dxc-button>
<dxc-button type="raised" disabled>
  Button 4 <mat-icon>home</mat-icon>
</dxc-button>

<dxc-button type="outlined"> Button 5 </dxc-button>
<dxc-button type="outlined" disabled> Button 6 </dxc-button>

<dxc-button type="flat" (click)="showAlert()"> Button 7 </dxc-button>
<dxc-button type="flat" disabled> Button 8 </dxc-button>

<br />

<dxc-checkbox [(ngModel)]="checked" labelPosition="before"
  >Checkbox 1</dxc-checkbox
>

<dxc-checkbox disabled>Checkbox 2</dxc-checkbox>

<dxc-checkbox indeterminate="true" (change)="showAlert()"
  >Checkbox 2</dxc-checkbox
>

<!-- <router-outlet></router-outlet> -->
