<dxc-button type="basic" (click)="showAlert()">
  Button 1 <mat-icon>home</mat-icon>
</dxc-button>
<dxc-button type="basic" disabled>
  Button 2 <mat-icon>home</mat-icon>
</dxc-button>

<dxc-button type="raised"> Button 3 <mat-icon>home</mat-icon> </dxc-button>
<dxc-button type="raised" disabled>
  Button 4 <mat-icon>home</mat-icon>
</dxc-button>

<dxc-button type="outlined"> Button 5 <mat-icon>home</mat-icon> </dxc-button>
<dxc-button type="outlined" disabled>
  Button 6<mat-icon>home</mat-icon>
</dxc-button>

<!-- <router-outlet></router-outlet> -->
