<dxc-button> Button 1 <mat-icon>home</mat-icon>
</dxc-button>
<dxc-button type="basic" disabled>
  Button 2 <mat-icon>home</mat-icon>
</dxc-button>

<dxc-button type="raised"> Button 3 <mat-icon>home</mat-icon>
</dxc-button>
<dxc-button type="raised" disabled>
  Button 4 <mat-icon>home</mat-icon>
</dxc-button>

<dxc-button type="outlined"> Button 5 <mat-icon>home</mat-icon>
</dxc-button>
<dxc-button type="outlined" disabled>
  Button 6<mat-icon>home</mat-icon>
</dxc-button>

<dxc-button type="flat"> Button 7 <mat-icon>home</mat-icon>
</dxc-button>
<dxc-button type="flat" disabled> Button 8 <mat-icon>home</mat-icon>
</dxc-button>

<br />

<dxc-button type="basic" (click)="showAlert()">
  Button 1
</dxc-button>
<dxc-button type="basic" disabled>
  Button 2
</dxc-button>

<dxc-button type="raised"> Button 3 </dxc-button>
<dxc-button type="raised" disabled>
  Button 4
</dxc-button>

<dxc-button type="outlined"> Button 5 </dxc-button>
<dxc-button type="outlined" disabled> Button 6 </dxc-button>

<dxc-button type="flat"> Button 7 </dxc-button>
<dxc-button type="flat" disabled> Button 8 </dxc-button>

<!-- <router-outlet></router-outlet> -->