<tbuilder-component-mode text="Default">
  <dxc-wizard margin="xsmall" defaultCurrentStep="2">
    <dxc-wizard-step
      label="First step"
      description="Not validated step"
      valid="false"
    ></dxc-wizard-step>
    <dxc-wizard-step
      label="Second step"
      description="Validated step"
      valid="true"
    ></dxc-wizard-step>
    <dxc-wizard-step
      label="Third step"
      description="Another step description"
    ></dxc-wizard-step>
    <dxc-wizard-step
      label="Forth step"
      description="Disabled step"
      disabled="true"
    ></dxc-wizard-step>
  </dxc-wizard>
</tbuilder-component-mode>

<tbuilder-component-mode text="With onStep function">
  <dxc-wizard
    (onStepClick)="onStepClick($event)"
    margin="xsmall"
    [currentStep]="current"
  >
    <dxc-wizard-step label="First step"></dxc-wizard-step>
    <dxc-wizard-step label="Second step"></dxc-wizard-step>
    <dxc-wizard-step label="Third step"></dxc-wizard-step>
    <dxc-wizard-step label="Forth step" valid="false"></dxc-wizard-step>
  </dxc-wizard>
</tbuilder-component-mode>

<tbuilder-component-mode text="Icons">
  <dxc-wizard margin="xsmall">
    <dxc-wizard-step
      label="First step"
      description="Not validated step"
      valid="false"
    >
      <dxc-wizard-icon>
        <svg fill="currentColor" viewBox="0 0 24 24">
          <g id="Bounding_Box">
            <rect fill="none" width="24" height="24" />
          </g>
          <g id="Master">
            <path
              d="M19,9.3V4h-3v2.6L12,3L2,12h3v8h5v-6h4v6h5v-8h3L19,9.3z M10,10c0-1.1,0.9-2,2-2s2,0.9,2,2H10z"
            />
          </g>
        </svg>
      </dxc-wizard-icon>
    </dxc-wizard-step>
    <dxc-wizard-step
      label="Second step"
      description="Validated step"
      valid="true"
    >
      <dxc-wizard-icon>
        <svg fill="currentColor" viewBox="0 0 24 24">
          <g id="Bounding_Box">
            <rect fill="none" width="24" height="24" />
          </g>
          <g id="Master">
            <path
              d="M19,9.3V4h-3v2.6L12,3L2,12h3v8h5v-6h4v6h5v-8h3L19,9.3z M10,10c0-1.1,0.9-2,2-2s2,0.9,2,2H10z"
            />
          </g>
        </svg>
      </dxc-wizard-icon>
    </dxc-wizard-step>
    <dxc-wizard-step label="Third step" description="Another step description">
      <dxc-wizard-icon>
        <svg fill="currentColor" viewBox="0 0 24 24">
          <g id="Bounding_Box">
            <rect fill="none" width="24" height="24" />
          </g>
          <g id="Master">
            <path
              d="M19,9.3V4h-3v2.6L12,3L2,12h3v8h5v-6h4v6h5v-8h3L19,9.3z M10,10c0-1.1,0.9-2,2-2s2,0.9,2,2H10z"
            />
          </g>
        </svg>
      </dxc-wizard-icon>
    </dxc-wizard-step>
    <dxc-wizard-step
      label="Forth step"
      description="Disabled step"
      disabled="true"
    >
      <dxc-wizard-icon>
        <svg fill="currentColor" viewBox="0 0 24 24">
          <g id="Bounding_Box">
            <rect fill="none" width="24" height="24" />
          </g>
          <g id="Master">
            <path
              d="M19,9.3V4h-3v2.6L12,3L2,12h3v8h5v-6h4v6h5v-8h3L19,9.3z M10,10c0-1.1,0.9-2,2-2s2,0.9,2,2H10z"
            />
          </g>
        </svg>
      </dxc-wizard-icon>
    </dxc-wizard-step>
  </dxc-wizard>
</tbuilder-component-mode>
