header {
  width: 100%;
  display: flex;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
}

.header-container {
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.portal-footer {
  display: block;
  font-family: "Open Sans", sans-serif;
  margin-top: 0px;
  height: 119px;
}

.body-container {
  display: flex;
  flex-direction: column;
  background: white; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header-link-responsive {
  color: black;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1px;
  &.active-route {
    font-weight: 600;
  }
}

.headerContent{
  display: flex;
  align-items: center;
}

.selectContainer{
  width: 120px;
}

.header-link {
  color: black;
  text-decoration: none;
  margin-left: 100px;
  font-size: 14px;
  letter-spacing: 1px;
  &.active-route {
     color:  #6F2C91;
  }
}

.logo-32 {
 width: 32px;
 height: 32px;
 vertical-align: top;
}

.container-content {
  background: white;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: 1px #cccccc;
  display: flex;
  min-height: calc(100vh - 64px - 119px);
}

.styled-container {
  width: 100%;
}

.section {
  padding-bottom: 60px;
  padding-top: 30px;
}