<div>
  <tbuilder-component-mode text="Undeterminate Default">
    <dxc-progressbar margin="xsmall" showValue="true" label="Loading...">
    </dxc-progressbar>
  </tbuilder-component-mode>

  <tbuilder-component-mode text="Determinate Default">
    <dxc-progressbar
      margin="xsmall"
      showValue="true"
      value="50"
      label="Loading..."
    >
    </dxc-progressbar>
  </tbuilder-component-mode>

  <tbuilder-component-mode text="With Overlay">
    <dxc-button
      label="SHOW PROGRESS BAR FOR 3 SECONDS"
      (onClick)="showProgressbar()"
      margin="xsmall"
      mode="primary"
    ></dxc-button>

    <dxc-progressbar
      *ngIf="isVisible"
      margin="medium"
      label="Loading..."
      overlay="true"
    >
    </dxc-progressbar>
  </tbuilder-component-mode>
</div>
