<dxc-heading
  [level]="3"
  weight="normal"
  text="Examples"
  [margin]="{ bottom: 'small' }"
></dxc-heading>

<dxc-heading
  text="Button Modes"
  [level]="5"
  [margin]="{ bottom: 'medium' }"
></dxc-heading>

<iframe
  src="https://codesandbox.io/embed/button-modes-or4l3?fontsize=14&hidenavigation=1&theme=dark"
  style="
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
  "
  title="button-modes"
  allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
  sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
></iframe>

<dxc-heading
  text="Button with Icon"
  [level]="5"
  [margin]="{ top: 'medium', bottom: 'medium' }"
></dxc-heading>

<iframe
  src="https://codesandbox.io/embed/button-with-icon-udncb?fontsize=14&hidenavigation=1&theme=dark"
  style="
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
  "
  title="button-with-icon"
  allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
  sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
></iframe>

<dxc-heading
  text="Sized Button"
  [level]="5"
  [margin]="{ top: 'medium', bottom: 'medium' }"
></dxc-heading>

<iframe
  src="https://codesandbox.io/embed/sized-button-joccq?fontsize=14&hidenavigation=1&theme=dark"
  style="
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
  "
  title="sized-button "
  allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
  sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
></iframe>

<dxc-heading
  text="Fill Parent Button"
  [level]="5"
  [margin]="{ top: 'medium', bottom: 'medium' }"
></dxc-heading>

<iframe
  src="https://codesandbox.io/embed/fill-parent-button-hezj1?fontsize=14&hidenavigation=1&theme=dark"
  style="
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
  "
  title="fill-parent-button"
  allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
  sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
></iframe>
