<dxc-heading [level]="3" weight="normal" text="Theming" [margin]="{bottom:'small'}"></dxc-heading>
<dxc-table>
    <tr>
      <th>Name</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>baseColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#6F2C91"></color-preview>
          <code>#6F2C91</code>
        </div>
      </td>
      <td>Applies to token primaryBackgroundColor and secondaryOutlinedColor, disabledPrimaryBackgroundColor and disabledOutlinedColor.</td>
    </tr>
    <tr>
      <td>hoverBaseColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#000000"></color-preview>
          <code>#000000</code>
        </div>
      </td>
      <td>Applies to token primaryHoverBackgroundColor, hoverOutlinedColor and textHoverBackgroundColor.</td>
    </tr>
    <tr>
      <td>primaryTextColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#FFFFFF"></color-preview>
          <code>#FFFFFF</code>
        </div>
      </td>
      <td>Applies to token primaryFontColor and disabledPrimaryFontColor.</td>
    </tr>
    <tr>
      <td>primaryHoverTextColor</td>
      <td>        
        <div class="default-color">
          <color-preview color="#FFFFFF"></color-preview>
          <code>#FFFFFF</code>
        </div>
      </td>
      <td>Applies to token primaryHoverFontColor.</td>
    </tr>
    <tr>
      <td>secondaryTextColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#000000"></color-preview>
          <code>#000000</code>
        </div>
      </td>
      <td>Applies to token secondaryFontColor and disabledSecondaryFontColor.</td>
    </tr>
    <tr>
      <td>secondaryHoverTextColor</td>
        <td>
          <div class="default-color">
            <color-preview color="#000000"></color-preview>
            <code>#000000</code>
          </div>
        </td>
      <td>Applies to token secondaryHoverFontColor.</td>
    </tr>
    <tr>
      <td>textFontColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#6F2C91"></color-preview>
          <code>#6F2C91</code>
        </div>
      </td>
      <td>Applies to token textFontColor and disabledTextFontColor.</td>
    </tr>
    <tr>
      <td>hoverTextColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#FFFFFF"></color-preview>
          <code>#FFFFFF</code>
        </div>
      </td>
      <td>Applies to token textHoverFontColor.</td>
    </tr>
    
  </dxc-table>