<h2 class="subtitle-api">Theming</h2>
<dxc-table>
    <tr>
      <th>Name</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>color</td>
      <td>
        <div class="default-color">
          <color-preview color="#FFED00"></color-preview>
          <code>#FFED00</code>
        </div>
      </td>
      <td>Applies to token primaryBackgroundColor and secondaryOutlinedColor.</td>
    </tr>
    <tr>
      <td>hoverColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#000000"></color-preview>
          <code>#000000</code>
        </div>
      </td>
      <td>Applies to token hoverBackgroundColor, hoverOutlinedColor and hoverBackgroundColor.</td>
    </tr>
    <tr>
      <td>primaryFontColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#000000"></color-preview>
          <code>#000000</code>
        </div>
      </td>
      <td>Applies to token primaryTextColor.</td>
    </tr>
    <tr>
      <td>primaryHoverFontColor</td>
      <td>        
        <div class="default-color">
          <color-preview color="#FFED00"></color-preview>
          <code>#FFED00</code>
        </div>
      </td>
      <td>Applies to token hoverTextColor.</td>
    </tr>
    <tr>
      <td>secondaryFontColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#000000"></color-preview>
          <code>#000000</code>
        </div>
      </td>
      <td>Applies to token secondaryTextColor.</td>
    </tr>
    <tr>
      <td>secondaryHoverFontColor</td>
        <td>
          <div class="default-color">
            <color-preview color="#000000"></color-preview>
            <code>#000000</code>
          </div>
        </td>
      <td>Applies to token hoverTextColor.</td>
    </tr>
    <tr>
      <td>textFontColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#000000"></color-preview>
          <code>#000000</code>
        </div>
      </td>
      <td>Applies to token textTextColor.</td>
    </tr>
    <tr>
      <td>textHoverFontColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#FFFFFF"></color-preview>
          <code>#FFFFFF</code>
        </div>
      </td>
      <td>Applies to token hoverTextColor.</td>
    </tr>
    
  </dxc-table>