<dxc-button
  label="Dialog 1"
  (onClick)="openDialog1()"
  margin="medium"
></dxc-button>
<dxc-dialog *ngIf="visible1" isCloseVisible="true" (onCloseClick)="openDialog1()">
  Close Icon
</dxc-dialog>

<dxc-button
  label="Dialog 2"
  (onClick)="openDialog2()"
  margin="medium"
></dxc-button>
<dxc-dialog
  *ngIf="visible2"
  padding="xxlarge"
  (onBackgroundClick)="openDialog2()"
  [isCloseVisible]="visible3"
>
  Overlay close
</dxc-dialog>

<dxc-button
  label="Dialog 3"
  (onClick)="openDialog3()"
  margin="medium"
></dxc-button>
<dxc-dialog *ngIf="visible3" padding="xxlarge" [isCloseVisible]="visible2">
  <dxc-button
    label="Close"
    (onClick)="openDialog3()"
    margin="small"
  ></dxc-button>
</dxc-dialog>
