<dxc-heading [level]="3" weight="normal" text="Theming" [margin]="{bottom:'small'}"></dxc-heading>
<dxc-table>
    <tr>
      <th>Name</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>unselectedBaseColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#D9D9D9"></color-preview>
          <code>#D9D9D9</code>
        </div>
      </td>
      <td>Applies to token unselectedBackgroundColor and disabledUnselectedBackgroundColor.</td>
    </tr>
    <tr>
      <td>unselectedHoverBaseColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#EEEEEE"></color-preview>
          <code>#EEEEEE</code>
        </div>
      </td>
      <td>Applies to token unselectedHoverBackgroundColor.</td>
    </tr>
    <tr>
      <td>unselectedTextColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#000000"></color-preview>
          <code>#000000</code>
        </div>
      </td>
      <td>Applies to token unselectedFontColor and disabledUnselectedFontColor.</td>
    </tr>
    <tr>
      <td>unselectedHoverTextColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#000000"></color-preview>
          <code>#000000</code>
        </div>
      </td>
      <td>Applies to token unselectedHoverFontColor.</td>
    </tr>

    <tr>
      <td>selectedBaseColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#6F2C91"></color-preview>
          <code>#6F2C91</code>
        </div>
      </td>
      <td>Applies to token selectedBackgroundColor and disabledSelectedBackgroundColor.</td>
    </tr>
    <tr>
      <td>selectedHoverBaseColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#000000"></color-preview>
          <code>#000000</code>
        </div>
      </td>
      <td>Applies to token selectedHoverBackgroundColor.</td>
    </tr>
    <tr>
      <td>selectedTextColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#FFFFFF"></color-preview>
          <code>#FFFFFF</code>
        </div>
      </td>
      <td>Applies to token selectedFontColor and disabledSelectedFontColor.</td>
    </tr>
    <tr>
      <td>selectedHoverTextColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#FFFFFF"></color-preview>
          <code>#FFFFFF</code>
        </div>
      </td>
      <td>Applies to token selectedHoverFontColor.</td>
    </tr>
  </dxc-table>