<h2 class="subtitle-example">Theming</h2>
<dxc-table>
    <tr>
      <th>Name</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>unselectedBackgroundColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#D9D9D9"></color-preview>
          <code>#D9D9D9</code>
        </div>
      </td>
      <td>Applies to token unselectedBackgroundColor.</td>
    </tr>
    <tr>
      <td>unselectedHoverBackgroundColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#EEEEEE"></color-preview>
          <code>#EEEEEE</code>
        </div>
      </td>
      <td>Applies to token unselectedHoverBackgroundColor.</td>
    </tr>
    <tr>
      <td>unselectedFontColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#000000"></color-preview>
          <code>#000000</code>
        </div>
      </td>
      <td>Applies to token unselectedFontColor.</td>
    </tr>
    <tr>
      <td>unselectedHoverFontColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#000000"></color-preview>
          <code>#000000</code>
        </div>
      </td>
      <td>Applies to token unselectedHoverFontColor.</td>
    </tr>

    <tr>
      <td>selectedBackgroundColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#6F2C91"></color-preview>
          <code>#6F2C91</code>
        </div>
      </td>
      <td>Applies to token selectedBackgroundColor.</td>
    </tr>
    <tr>
      <td>selectedHoverBackgroundColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#000000"></color-preview>
          <code>#000000</code>
        </div>
      </td>
      <td>Applies to token selectedHoverBackgroundColor.</td>
    </tr>
    <tr>
      <td>selectedFontColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#FFFFFF"></color-preview>
          <code>#FFFFFF</code>
        </div>
      </td>
      <td>Applies to token selectedFontColor.</td>
    </tr>
    <tr>
      <td>selectedHoverFontColor</td>
      <td>
        <div class="default-color">
          <color-preview color="#FFFFFF"></color-preview>
          <code>#FFFFFF</code>
        </div>
      </td>
      <td>Applies to token selectedHoverFontColor.</td>
    </tr>
  </dxc-table>