<div className="test-case" id="password">
  <dxc-password
    margin="xsmall"
    [value]="controlledValue"
    (onchange)="change($event)"
    (onBlur)="onBlur($event)"
    clearable
  >
  </dxc-password>
  <dxc-password
    label="Password"
    margin="xsmall"
    [value]="controlledValue"
    (onchange)="change($event)"
    (onBlur)="onBlur($event)"
    clearable
  >
  </dxc-password>
  <dxc-password
    label="Non clearable password"
    margin="xsmall"
  >
  </dxc-password>
  <dxc-password
    label="Help password"
    margin="xsmall"
    clearable
    helperText="Help message"
  >
  </dxc-password>
  <dxc-password
    label="Error password"
    margin="xsmall"
    clearable
    error="Error message"
  >
  </dxc-password>
  <dxc-password
    label="Small size password"
    margin="xsmall"
    clearable
    size="small"
  >
  </dxc-password>
  <dxc-password
    label="Medium size password"
    margin="xsmall"
    clearable
    size="medium"
  >
  </dxc-password>
  <dxc-password
    label="Large size password"
    margin="xsmall"
    clearable
    size="large"
  >
  </dxc-password>
  <dxc-password
    label="Fill parent password"
    margin="xsmall"
    clearable
    size="fillParent"
  >
  </dxc-password>

  <h4>
    With pattern (At least one letter, one number and one special character) -
    Strict
  </h4>
  <dxc-password
    label="With pattern"
    margin="xsmall"
    [value]="controlledValue"
    (onchange)="change($event)"
    (onBlur)="onBlur($event)"
    clearable
    pattern='^.*(?=.*[a-zA-Z])(?=.*\d)(?=.*[!&$%&? "]).*$'
  >
  </dxc-password>

  <h4>With min length 5 and max length 10 - Strict</h4>
  <dxc-password
    label="With length"
    margin="xsmall"
    [value]="controlledValue"
    (onchange)="change($event)"
    (onBlur)="onBlur($event)"
    clearable
    [length]="lengthLimit"
  >
  </dxc-password>

  <h4>
    With pattern (At least one letter, one number and one special character) and
    minimum length 5 and maximum length 10 - Strict
  </h4>
  <dxc-password
    label="With length and pattern"
    margin="xsmall"
    [value]="controlledValue"
    (onchange)="change($event)"
    (onBlur)="onBlur($event)"
    clearable
    [length]="lengthLimit"
    pattern='^.*(?=.*[a-zA-Z])(?=.*\d)(?=.*[!&$%&? "]).*$'
  >
  </dxc-password>

  <h4>
    With pattern (At least one letter, one number and one special character) -
    Non strict
  </h4>
  <dxc-password
    label="With error and pattern"
    margin="xsmall"
    [value]="controlledValue"
    (onchange)="change($event)"
    (onBlur)="onBlur($event)"
    clearable
    [error]="errorMessage"
    pattern='^.*(?=.*[a-zA-Z])(?=.*\d)(?=.*[!&$%&? "]).*$'
  >
  </dxc-password>

  <h4>With min length 5 and max length 10 - Non strict</h4>
  <dxc-password
    label="With error and length"
    margin="xsmall"
    [value]="controlledValue"
    (onchange)="change($event)"
    (onBlur)="onBlur($event)"
    clearable
    [error]="errorMessage"
    [length]="lengthLimit"
  >
  </dxc-password>

  <h4>
    With pattern (At least one letter, one number and one special character) and
    minimum length 5 and maximum length 10 - Non strict
  </h4>
  <dxc-password
    label="With error and length"
    margin="xsmall"
    [value]="controlledValue"
    (onchange)="change($event)"
    (onBlur)="onBlur($event)"
    clearable
    [error]="errorMessage"
    [length]="lengthLimit"
    pattern='^.*(?=.*[a-zA-Z])(?=.*\d)(?=.*[!&$%&? "]).*$'
  >
  </dxc-password>
</div>

<div className="test-case" id="dark-date" style="background-color: black">
  <h4 style="color: white">Dark</h4>
  <background-provider color="#000000">
    <dxc-password
      margin="xsmall"
      label="dark password"
      helperText="Help message"
    >
    </dxc-password>
  </background-provider>
</div>
