<div class="example-container">
  <div class="title-tag">
    <dxc-heading [level]="2" weight="normal" text="Select"></dxc-heading>
    <status-tag status="Deprecated"></status-tag>
  </div>
  <dxc-alert type="warning" size="fillParent" [margin]="alertMargin">
    <div>
      The component status has been changed to deprecated. Use the new
      <dxc-link (click)="navigateToRoute(); $event.preventDefault()"
        >Select</dxc-link
      >
      component instead.
    </div>
  </dxc-alert>
  <app-tabbed-section [sections]="sections"></app-tabbed-section>
</div>
