<div class= "light">
<dxc-checkbox
[(ngModel)]="checked"
labelPosition="before"
text="Checkbox 1"
></dxc-checkbox>
<br />
<dxc-checkbox
[(ngModel)]="checked"
labelPosition="before"
text="Checkbox 2"
></dxc-checkbox>

<dxc-checkbox
[(ngModel)]="checked"
labelPosition="after"
text="Checkbox 3"
></dxc-checkbox>

<dxc-checkbox
disabled
required
labelPosition="before"
text="Checkbox 4"
></dxc-checkbox>

<dxc-checkbox
indeterminate
(change)="showAlert()"
text="Checkbox 5"
></dxc-checkbox>

<dxc-checkbox></dxc-checkbox>

<dxc-checkbox
indeterminate
(change)="showAlert()"
required
text="Checkbox 7"
></dxc-checkbox>
</div>
<div class="dark"> 
      
    <dxc-checkbox
    [(ngModel)]="checked"
    labelPosition="before"
    [theme]="'dark'"
    text="Checkbox 1"
    ></dxc-checkbox>
    <br />
    <dxc-checkbox
    [(ngModel)]="checked"
    labelPosition="before"
    [theme]="'dark'"
    text="Checkbox 2"
    ></dxc-checkbox>

    <dxc-checkbox
    [(ngModel)]="checked"
    [theme]="'dark'"
    labelPosition="after"
    text="Checkbox 3"
    ></dxc-checkbox>

    <dxc-checkbox
    disabled
    required
    [theme]="'dark'"
    labelPosition="before"
    text="Checkbox 4"
    ></dxc-checkbox>

    <dxc-checkbox
    indeterminate
    [theme]="'dark'"
    (change)="showAlert()"
    text="Checkbox 5"
    ></dxc-checkbox>

    <dxc-checkbox></dxc-checkbox>

    <dxc-checkbox
    indeterminate
    (change)="showAlert()"
    [theme]="'dark'"
    required
    text="Checkbox 7"
    ></dxc-checkbox>

</div>