<dxc-heading
  [level]="4"
  weight="normal"
  text="Properties"
  [margin]="{ bottom: 'small' }"
></dxc-heading>
<dxc-table>
  <tr>
    <th>Name</th>
    <th>Default</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>activeTabIndex: number</td>
    <td><code>0</code></td>
    <td>The index of the active tab.</td>
  </tr>
  <tr>
    <td>iconPosition: string ('top' | 'left')</td>
    <td><code>'left'</code></td>
    <td>Position of icons in tabs.</td>
  </tr>
  <tr>
    <td>margin: any (string | object)</td>
    <td></td>
    <td>
      Size of the margin to be applied to the component ('xxsmall' | 'xsmall' |
      'small' | 'medium' | 'large' | 'xlarge' | 'xxlarge'). You can pass an
      object with 'top', 'bottom', 'left' and 'right' properties in order to
      specify different margin sizes.
    </td>
  </tr>
</dxc-table>

<dxc-table>
  <h3>Tab Properties</h3>
  <tr>
    <th>Name</th>
    <th>Default</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>label: string</td>
    <td></td>
    <td>Text to be placed within the tab.</td>
  </tr>
  <tr>
    <td>iconSrc: string</td>
    <td></td>
    <td><b>Deprecated.</b> The path of an icon to be placed within the tab.</td>
  </tr>
  <tr>
    <td>disabled: boolean</td>
    <td><code>false</code></td>
    <td>Whether the tab is disabled.</td>
  </tr>
  <tr>
    <td>notificationNumber: boolean | number</td>
    <td></td>
    <td>
      It can have boolean type or number type. If the value is 'true', an empty
      badge will appear. If it is 'false', no badge will appear. If a number is
      put it will be shown as the label of the notification in the tab, taking
      into account that if that number is greater than 99, it will appear as
      '+99' in the badge.
    </td>
  </tr>
  <tr>
    <td>onTabClick: EventEmitter</td>
    <td></td>
    <td>
      This event will emit when the user clicks on a tab. The index of the
      clicked tab will be passed as a parameter.
    </td>
  </tr>
  <tr>
    <td>onTabHover: EventEmitter</td>
    <td></td>
    <td>This event will emit when the user is on hover on a tab.</td>
  </tr>
</dxc-table>
