<dxc-heading
  [level]="3"
  weight="normal"
  text="Examples"
  [margin]="{ bottom: 'small' }"
></dxc-heading>

<dxc-heading
  text="Default Link"
  [level]="5"
  [margin]="{ bottom: 'medium' }"
></dxc-heading>

<iframe
  src="https://codesandbox.io/embed/defaultlink-pho3x?fontsize=14&hidenavigation=1&theme=dark"
  style="
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
  "
  title="DefaultLink"
  allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
  sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
></iframe>

<dxc-heading
  text="Undecorated link with new window"
  [level]="5"
  [margin]="{ top: 'medium', bottom: 'medium' }"
></dxc-heading>

<iframe
  src="https://codesandbox.io/embed/undecoratedlink-wmcto?fontsize=14&hidenavigation=1&theme=dark"
  style="
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
  "
  title="UndecoratedLink"
  allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
  sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
></iframe>

<dxc-heading
  text="Disabled Link"
  [level]="5"
  [margin]="{ top: 'medium', bottom: 'medium' }"
></dxc-heading>

<iframe
  src="https://codesandbox.io/embed/disabledlink-hc0bc?fontsize=14&hidenavigation=1&theme=dark"
  style="
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
  "
  title="DisabledLink"
  allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
  sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
></iframe>

<dxc-heading
  text="Link with icon"
  [level]="5"
  [margin]="{ top: 'medium', bottom: 'medium' }"
></dxc-heading>

<iframe
  src="https://codesandbox.io/embed/linkwithicon-kn1xu?fontsize=14&hidenavigation=1&theme=dark"
  style="
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
  "
  title="LinkWithIcon"
  allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
  sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
></iframe>

<dxc-heading
  text="Link with action"
  [level]="5"
  [margin]="{ top: 'medium', bottom: 'medium' }"
></dxc-heading>

<iframe
  src="https://codesandbox.io/embed/linkwithaction-4mkj4?fontsize=14&hidenavigation=1&theme=dark"
  style="
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
  "
  title="LinkWithAction"
  allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
  sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
></iframe>
