<dxc-heading
  [level]="4"
  weight="normal"
  text="Properties"
  [margin]="{ bottom: 'small' }"
></dxc-heading>
<dxc-table>
  <tr>
    <th>Name</th>
    <th>Default</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>label: string</td>
    <td></td>
    <td>Text to be placed inside the chip.</td>
  </tr>
  <tr>
    <td>suffixIconSrc: string</td>
    <td>
      <code></code>
    </td>
    <td><b>Deprecated.</b> Path of the icon to be placed after the label.</td>
  </tr>
  <tr>
    <td>prefixIconSrc: string</td>
    <td>
      <code></code>
    </td>
    <td><b>Deprecated.</b> Path of the icon to be placed before the label.</td>
  </tr>
  <tr>
    <td>margin: string | object</td>
    <td></td>
    <td>
      Size of the margin to be applied to the component ('xxsmall' | 'xsmall' |
      'small' | 'medium' | 'large' | 'xlarge' | 'xxlarge'). You can pass an
      object with 'top', 'bottom', 'left' and 'right' properties in order to
      specify different margin sizes.
    </td>
  </tr>
  <tr>
    <td>disabled: boolean</td>
    <td><code>false</code></td>
    <td>If true, the component will be disabled.</td>
  </tr>
  <tr>
    <td>tabIndexValue: number</td>
    <td><code>0</code></td>
    <td>Value of the tabindex, it also applies to prefix and suffix icons when a function is given.</td>
  </tr>
  <tr>
    <td>suffixIconClick: EventEmitter</td>
    <td></td>
    <td>Event that will be emitted when the suffix icon is clicked.</td>
  </tr>
  <tr>
    <td>prefixIconClick: EventEmitter</td>
    <td></td>
    <td>Event that will be emitted when the prefix icon is clicked.</td>
  </tr>
</dxc-table>
