<dxc-heading [level]="4" weight="normal" text="Properties" [margin]="{bottom:'small'}"></dxc-heading>
<dxc-table>
  <tr>
    <th>Name</th>
    <th>Default</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>label: string</td>
    <td></td>
    <td>Text to be placed next to the input.</td>
  </tr>
  <tr>
    <td>helperText: string</td>
    <td></td>
    <td>
      Assistive text to be placed bellow the input.
    </td>
  </tr>
  <tr>
    <td>value: string | string[]</td>
    <td></td>
    <td>
      Value(s) of the toggle(s) that are toggled. If undefined, the
      component will be uncontrolled and the value will be managed internally by
      the component.
    </td>
  </tr>
  <tr>
    <td>multiple: boolean</td>
    <td>
      <code>false</code>
    </td>
    <td>
      If true, the toggle group will support multiple selection.
      In that case, value must be an array of numbers with the keys of the selected values.
    </td>
  </tr>
  <tr>
    <td>disabled: boolean</td>
    <td><code>false</code></td>
    <td>If true, the component will be disabled.</td>
  </tr>
  <tr>
    <td>tabIndex: number</td>
    <td></td>
    <td>
      Value of the tabindex which its propagated to their children components.
    </td>
  </tr>
  <tr>
    <td>onChange: EventEmitter</td>
    <td></td>
    <td>
      This function will be called when the user changes the state of any toggle.
      The new value or values will be passed as a parameter.
    </td>
  </tr>
  <tr>
    <td>margin: string | object</td>
    <td></td>
    <td>
      Size of the margin to be applied to the component ('xxsmall' | 'xsmall' |
      'small' | 'medium' | 'large' | 'xlarge' | 'xxlarge'). You can pass an
      object with 'top', 'bottom', 'left' and 'right' properties in order to
      specify different padding sizes.
    </td>
  </tr>
</dxc-table>
