<dxc-heading
  [level]="3"
  weight="normal"
  text="Examples"
  [margin]="{ bottom: 'small' }"
></dxc-heading>
<dxc-heading
  text="Sized Date"
  [level]="5"
  [margin]="{ bottom: 'medium' }"
></dxc-heading>

<iframe
  src="https://codesandbox.io/embed/sized-date-crekz?fontsize=14&hidenavigation=1&module=%2Fsrc%2Fapp%2Fapp.component.html&theme=dark"
  style="
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
  "
  title="sized-date"
  allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
  sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
></iframe>

<dxc-heading
  text="Uncontrolled Date"
  [level]="5"
  [margin]="{ bottom: 'medium' }"
></dxc-heading>

<iframe
  src="https://codesandbox.io/embed/uncontrolled-date-k793s?fontsize=14&hidenavigation=1&module=%2Fsrc%2Fapp%2Fapp.component.html&theme=dark"
  style="
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
  "
  title="uncontrolled-date"
  allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
  sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
></iframe>

<dxc-heading
  text="Controlled Date"
  [level]="5"
  [margin]="{ bottom: 'medium' }"
></dxc-heading>

<iframe
  src="https://codesandbox.io/embed/controlled-date-nmo4o?fontsize=14&hidenavigation=1&module=%2Fsrc%2Fapp%2Fapp.component.html&theme=dark"
  style="
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
  "
  title="controlled-date"
  allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
  sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
></iframe>
