<div>
    <div>
        <h4>Default Link</h4>
        <div className="test-case" id="default-link">
            <p>
                This is a text with a <dxc-link href="#" text="Link"></dxc-link> to another page.
            </p>
            
        </div>
    </div>
    <div>
        <h4>Not Underlined Link</h4>
        <div className="test-case" id="not-underlined-link">
            <p>
                This is a text with a <dxc-link href="#" [underlined]="!underlined" text="Link"></dxc-link> to another page.
            </p>
        </div>
    </div>
    <div>
        <h4>Default inherited color Link with NewWindow</h4>
        <div className="test-case" id="inherited-color-link">
            <dxc-link
                href="#"
                [inheritColor]="inheritColor"
                [newWindow]="newWindow"
                text="Link"
            >
            </dxc-link>
        </div>
    </div>
    <div>
        <h4>Not Underline colored Link</h4>
        <div className="test-case" id="not-underlined-colored-link">
            <dxc-link
                href="#"   
                [underlined]="!underlined"
                [inheritColor]="inheritColor"
                text="Link"
            >
            </dxc-link>
        </div>
    </div>
    <div 
        style="background: black"
        className="test-case" 
        id="default-dark-link">
        <h4 style="color: white">Dark theme - Default Link</h4>
        <dxc-link
            href="#"
            theme="dark"
            text="Link"
        >
        </dxc-link>
    </div>
    <div
        style="background: black"
        className="test-case" 
        id="default-dark-link">
        <h4 style="color: white">Dark theme - Not underlined and Inherited color</h4>
        <dxc-link
            href="#"
            [underlined]="!underlined"
            theme="dark"
            [inheritColor]="inheritColor"
            text="Link"
        >
        </dxc-link>
    </div>
    <div>
        <h4>Margin</h4>
        <div className="test-case" id="margin-xxsmall">
            <dxc-link
                href="#"
                margin="xxsmall"
                text="Margin xxsmall"
            >
            </dxc-link>
        </div>
        <div className="test-case" id="margin-xsmall">
            <dxc-link
                href="#"
                margin="xsmall"
                text="Margin xsmall"
            >
            </dxc-link>
        </div>
        <div className="test-case" id="margin-small">
            <dxc-link
                href="#"
                margin="small"
                text="Margin small"
            >
            </dxc-link>
        </div>
        <div className="test-case" id="margin-medium">
            <dxc-link
                href="#"
                margin="medium"
                text="Margin medium"
            >
            </dxc-link>
        </div>
        <div className="test-case" id="margin-large">
            <dxc-link
                href="#"
                margin="large"
                text="Margin large"
            >
            </dxc-link>
        </div>
        <div className="test-case" id="margin-xlarge">
            <dxc-link
                href="#"
                margin="xlarge"
                text="Margin xlarge"
            >
            </dxc-link>
        </div>
        <div className="test-case" id="margin-xxlarge">
            <dxc-link
                href="#"
                margin="xxlarge"
                text="Margin xxlarge"
            >
            </dxc-link>
        </div>
    </div>
    <div>
        <h4>Icons</h4>
        <div className="test-case" id="icon-after">
            <p>
                This is a text with an <dxc-link
                    href="#"
                    theme="light"
                    iconPosition="after"
                    iconSrc="./assets/images/home.svg"
                    text="Icon after"
                >
                </dxc-link> the link.
            </p>
        </div>
        <div className="test-case" id="icon-before">
            <p>
                This is a text with an <dxc-link
                    href="#"
                    theme="light"
                    iconPosition="before"
                    iconSrc="./assets/images/home.svg"
                    [inheritColor]="inheritColor"
                    [underlined]="!underlined"
                    text="Icon before"
                >
                </dxc-link> the link.
            </p>
        </div>
    </div>
    <div>
        <h4>Disabled</h4>
        <div className="test-case" id="disabled-ligth">
            <dxc-link
                href="#"
                theme="light"
                [underlined]="underlined"
                [disabled]="disabled"
                text="Disabled link"
            >
            </dxc-link>
        </div>
        <div
            style="background: black"
            className="test-case" 
            id="disabled-dark">
            <dxc-link
                href="#"
                [underlined]="!underlined"
                [disabled]="disabled"
                theme="dark"
                text="Disabled link"
            >
            </dxc-link>
        </div>
    </div>
</div>