.sliders-sections{
    display: flex;
    &>div {
        margin: 10px;
    }
   
 }
 .sliders-sections-dark {
     
     background: black;
     h4, h2 {
         color:white;
     }
     &>div {
       
         display: flex;
         div {
            margin: 10px;
            flex: none;
         }
      }
 }