<dxc-sidenav padding="medium"> 
    <dxc-sidenav-title>My Title</dxc-sidenav-title>
    <dxc-sidenav-subtitle>category</dxc-sidenav-subtitle>
    <dxc-sidenav-link href="#">link</dxc-sidenav-link>
    <dxc-sidenav-link href="#">link</dxc-sidenav-link>
    <dxc-sidenav-link href="#">link</dxc-sidenav-link>

    <dxc-sidenav-subtitle>category</dxc-sidenav-subtitle>
    <dxc-sidenav-link href="#">link</dxc-sidenav-link>
    <dxc-sidenav-link href="#">link</dxc-sidenav-link>
    <dxc-sidenav-link href="#">link</dxc-sidenav-link>
</dxc-sidenav>
