<div>
    <dxc-button
      mode="basic"
      label="Basic Button"
      (onClick)="onClick()"
      margin="medium"
    ></dxc-button>
    <dxc-button
      mode="raised"
      label="Raised Button"
      (onClick)="onClick()"
      margin="medium"
      ></dxc-button>
    <dxc-button
      mode="flat"
      label="Flat Button"
      (onClick)="onClick()"
      margin="medium"
      ></dxc-button>
    <dxc-button
      mode="outlined"
      label="Outlined Button"
      (onClick)="onClick()"
      margin="medium"
      ></dxc-button>
  </div>
