<div className="test-case" id="standard">
    <h2>Basic standard layout</h2>
    <dxc-standard-layout>
        <dxc-header> </dxc-header>
        <dxc-standard-layout-main>
            <dxc-button
                mode="primary"
                label="Button"
            ></dxc-button>
        </dxc-standard-layout-main>
        <dxc-footer
            copyright="© DXC Technology 2019. All rights reserved."
            [bottomLinks]="bottom"
            [socialLinks]="social"
        ></dxc-footer>
    </dxc-standard-layout>
</div>