<dxc-heading
  [level]="3"
  weight="normal"
  text="Examples"
  [margin]="{ bottom: 'small' }"
></dxc-heading>

<dxc-heading
  text="Determinate Default Progress Bar"
  [level]="5"
  [margin]="{ bottom: 'medium' }"
></dxc-heading>

<iframe
  src="https://codesandbox.io/embed/determinatedefaultprogressbar-e47zs?fontsize=14&hidenavigation=1&theme=dark"
  style="
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
  "
  title="DeterminateDefaultProgressBar"
  allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
  sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
></iframe>

<dxc-heading
  text="Undeterminate Default Progress Bar"
  [level]="5"
  [margin]="{ top: 'medium', bottom: 'medium' }"
></dxc-heading>

<iframe
  src="https://codesandbox.io/embed/undeterminatedefaultprogressbar-1x8q1?fontsize=14&hidenavigation=1&theme=dark"
  style="
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
  "
  title="UndeterminateDefaultProgressBar"
  allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
  sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
></iframe>

<dxc-heading
  text="Progress Bar with Overlay"
  [level]="5"
  [margin]="{ top: 'medium', bottom: 'medium' }"
></dxc-heading>

<iframe
  src="https://codesandbox.io/embed/progressbaroverlay-u7j1w?fontsize=14&hidenavigation=1&theme=dark"
  style="
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
  "
  title="ProgressBarOverlay"
  allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
  sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
></iframe>