<div>
  <h4>Disabled</h4>
  <dxc-button  size="small" mode="primary" label="Small" [disabled]="true" margin="small"></dxc-button>
  <dxc-button  size="small" mode="secondary" label="Small" [disabled]="true" margin="small"></dxc-button>
  <dxc-button  size="small" mode="text" label="Small" [disabled]="true" margin="small"></dxc-button>
  <h4>Sizes</h4>
  <div class="test-case" id="small-size">
    <dxc-button
      mode="primary"
      label="Small"
      (onClick)="(onClick)"
      size="small"
      margin="small"
    ></dxc-button>
  </div>
  <div class="test-case" id="medium-size">
    <dxc-button
      mode="primary"
      label="Medium"
      (onClick)="(onClick)"
      size="medium"
      margin="small"
    ></dxc-button>
  </div>
  <div class="test-case" id="large-size">
    <dxc-button
      mode="primary"
      label="Large"
      (onClick)="(onClick)"
      size="large"
      margin="small"
    ></dxc-button>
  </div>
  <div class="test-case" id="fitContent-size">
    <dxc-button
      mode="primary"
      label="Fit Content"
      (onClick)="(onClick)"
      size="fitContent"
      margin="small"
    ></dxc-button>
  </div>
  <div class="test-case" id="fillParent-size" style="width: 500px">
    <dxc-button
      mode="primary"
      label="Fill Parent"
      (onClick)="(onClick)"
      size="fillParent"
      margin="small"
    ></dxc-button>
  </div>
</div>
<div>
  <h4>Margins</h4>
  <div class="test-case" id="xxsmall-margin">
    <dxc-button
      mode="primary"
      label="xxsmall"
      (onClick)="(onClick)"
      size="large"
      margin="xxsmall"
    ></dxc-button>
  </div>
  <div class="test-case" id="xsmall-margin">
    <dxc-button
      mode="primary"
      label="xsmall"
      (onClick)="(onClick)"
      size="large"
      margin="xsmall"
    ></dxc-button>
  </div>
  <div class="test-case" id="small-margin">
    <dxc-button
      mode="primary"
      label="small"
      (onClick)="(onClick)"
      size="large"
      margin="small"
    ></dxc-button>
  </div>
  <div class="test-case" id="medium-margin">
    <dxc-button
      mode="primary"
      label="medium"
      (onClick)="(onClick)"
      size="large"
      margin="medium"
    ></dxc-button>
  </div>
  <div class="test-case" id="large-margin">
    <dxc-button
      mode="primary"
      label="large"
      (onClick)="(onClick)"
      size="large"
      margin="large"
    ></dxc-button>
  </div>
  <div class="test-case" id="xlarge-margin">
    <dxc-button
      mode="primary"
      label="xlarge"
      (onClick)="(onClick)"
      size="large"
      margin="xlarge"
    ></dxc-button>
  </div>
  <div class="test-case" id="xxlarge">
    <dxc-button
      mode="primary"
      label="xxlarge"
      (onClick)="(onClick)"
      size="large"
      margin="xxlarge"
    ></dxc-button>
  </div>
</div>
<div>
  <div class="test-case" id="primary-single-line">
    <h4>Primary button single line</h4>
    <dxc-button
      mode="primary"
      label="Button"
      (onClick)="(onClick)"
      margin="xsmall"
    ></dxc-button>
  </div>
  <div class="test-case" id="primary-max-line-icon-after">
    <h4>Primary button size medium - Label max size single line icon after</h4>
    <dxc-button
      mode="text"
      label="SVG"
      iconPosition="before"
      (onClick)="(onClick)"
      iconSrc="./assets/images/favorite.svg"
      size="medium"
      margin="xsmall"
    >
      <dxc-button-icon>
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          width="24px"
          height="24px"
          viewBox="0 0 24 24"
          enable-background="new 0 0 24 24"
          xml:space="preserve"
          fill="currentColor"
        >
          <g id="Bounding_Box">
            <rect fill="none" width="24" height="24" />
          </g>
          <g id="Master">
            <path
              d="M19,9.3V4h-3v2.6L12,3L2,12h3v8h5v-6h4v6h5v-8h3L19,9.3z M10,10c0-1.1,0.9-2,2-2s2,0.9,2,2H10z"
            />
          </g>
        </svg>
      </dxc-button-icon>
    </dxc-button>
  </div>
  <div class="test-case" id="primary-max-line-icon-before">
    <h4>Primary button size medium - Label max size single line icon before</h4>
    <dxc-button
      mode="primary"
      label="IMG"
      iconPosition="before"
      (onClick)="(onClick)"
      size="medium"
      margin="xsmall"
    >
      <dxc-button-icon>
        <img src="./assets/images/home.svg" />
      </dxc-button-icon>
    </dxc-button>
  </div>
  <div class="test-case" id="primary-min-multiline-icon-after">
    <h4>Primary button size medium - Label min size multi line icon after</h4>
    <dxc-button
      mode="primary"
      label="ButL"
      iconPosition="after"
      (onClick)="(onClick)"
      iconSrc="./assets/images/home.svg"
      size="medium"
      margin="xsmall"
    ></dxc-button>
  </div>
  <div class="test-case" id="primary-min-multiline-icon-before">
    <h4>Primary button size medium - Label min size multi line icon before</h4>
    <dxc-button
      mode="primary"
      label="ButM"
      iconPosition="before"
      (onClick)="(onClick)"
      iconSrc="./assets/images/home.svg"
      size="medium"
      margin="xsmall"
    ></dxc-button>
  </div>
</div>
<div>
  <div class="test-case" id="secondary-single-line">
    <h4>Secondary button single line</h4>
    <dxc-button
      mode="secondary"
      label="Button"
      (onClick)="(onClick)"
      margin="xsmall"
    ></dxc-button>
  </div>
  <div class="test-case" id="secondary-max-line-icon-after">
    <h4>
      Secondary button size medium - Label max size single line icon after
    </h4>
    <dxc-button
      mode="secondary"
      label="But"
      iconPosition="after"
      (onClick)="(onClick)"
      iconSrc="./assets/images/home.svg"
      size="medium"
      margin="xsmall"
    ></dxc-button>
  </div>
  <div class="test-case" id="secondary-max-line-icon-before">
    <h4>
      Secondary button size medium - Label max size single line icon before
    </h4>
    <dxc-button
      mode="secondary"
      label="But"
      iconPosition="before"
      (onClick)="(onClick)"
      iconSrc="./assets/images/home.svg"
      size="medium"
      margin="xsmall"
    ></dxc-button>
  </div>
  <div class="test-case" id="secondary-min-multiline-icon-after">
    <h4>Secondary button size medium - Label min size multi line icon after</h4>
    <dxc-button
      mode="secondary"
      label="ButL"
      iconPosition="after"
      (onClick)="(onClick)"
      iconSrc="./assets/images/home.svg"
      size="medium"
      margin="xsmall"
    ></dxc-button>
  </div>
  <div class="test-case" id="secondary-min-multiline-icon-before">
    <h4>
      Secondary button size medium - Label min size multi line icon before
    </h4>
    <dxc-button
      mode="secondary"
      label="ButM"
      iconPosition="before"
      (onClick)="(onClick)"
      iconSrc="./assets/images/home.svg"
      size="medium"
      margin="xsmall"
    ></dxc-button>
  </div>
</div>
<div>
  <div class="test-case" id="text-single-line">
    <h4>Text button single line</h4>
    <dxc-button
      mode="text"
      label="Button"
      (onClick)="(onClick)"
      margin="xsmall"
    ></dxc-button>
  </div>
  <div class="test-case" id="text-max-line-icon-after">
    <h4>Text button size medium - Label max size single line icon after</h4>
    <dxc-button
      mode="text"
      label="But"
      iconPosition="after"
      (onClick)="(onClick)"
      iconSrc="./assets/images/home.svg"
      size="medium"
      margin="xsmall"
    ></dxc-button>
  </div>
  <div class="test-case" id="text-max-line-icon-before">
    <h4>Text button size medium - Label max size single line icon before</h4>
    <dxc-button
      mode="text"
      label="But"
      iconPosition="before"
      (onClick)="(onClick)"
      iconSrc="./assets/images/home.svg"
      size="medium"
      margin="xsmall"
    ></dxc-button>
  </div>
  <div class="test-case" id="text-min-multiline-icon-after">
    <h4>Text button size medium - Label min size multi line icon after</h4>
    <dxc-button
      mode="text"
      label="ButL"
      iconPosition="after"
      (onClick)="(onClick)"
      iconSrc="./assets/images/home.svg"
      size="medium"
      margin="xsmall"
    ></dxc-button>
  </div>
  <div class="test-case" id="text-min-multiline-icon-before">
    <h4>Text button size medium - Label min size multi line icon before</h4>
    <dxc-button
      mode="text"
      label="ButM"
      iconPosition="before"
      (onClick)="(onClick)"
      iconSrc="./assets/images/home.svg"
      size="medium"
      margin="xsmall"
    ></dxc-button>
  </div>
</div>
