<div>
    <h4>Default Paginator</h4>  
    <dxc-paginator 
        [totalItems]="totalItems"
        [itemsPerPage]="itemsPerPage"
        [currentPage]="page"
        (nextFunction)="navigate($event, 'next')"
        (prevFunction)="navigate($event, 'prev')"
        (firstFunction)="navigate($event, 'first')"
        (lastFunction)="navigate($event, 'last')"
        [paginationActions]="paginationActions"
        [itemsPerPageOptions]="options"
        (itemsPerPageFunction)="itemsPerPageEvent($event)"
        >
    </dxc-paginator>
</div>