<div>
  <tbuilder-component-mode text="Default">
    <dxc-tag margin="xsmall" label="DXC TECHNOLOGY" iconBgColor="#FABADA">
      <dxc-tag-icon>
        <img src="{{ dxcLogoPath }}" />
      </dxc-tag-icon>
    </dxc-tag>
    <dxc-tag margin="xsmall" label="DXC TECHNOLOGY" labelPosition="before">
      <dxc-tag-icon>
        <svg viewBox="0 0 24 24">
          <g id="Bounding_Box">
            <rect fill="none" height="24" width="24"></rect>
          </g>
          <g id="Master">
            <path
              d="M19,9.3V4h-3v2.6L12,3L2,12h3v8h5v-6h4v6h5v-8h3L19,9.3z M10,10c0-1.1,0.9-2,2-2s2,0.9,2,2H10z"
            ></path>
          </g>
        </svg>
      </dxc-tag-icon>
    </dxc-tag>
  </tbuilder-component-mode>

  <tbuilder-component-mode text="With link">
    <dxc-tag margin="xsmall" label="DXC TECHNOLOGY" linkHref="www.google.es">
      <dxc-tag-icon>
        <img src="{{ dxcLogoPath }}" />
      </dxc-tag-icon>
    </dxc-tag>
  </tbuilder-component-mode>

  <tbuilder-component-mode text="With action">
    <dxc-tag margin="xsmall" label="DXC TECHNOLOGY" (onClick)="onClick()">
      <dxc-tag-icon>
        <img src="{{ dxcLogoPath }}" />
      </dxc-tag-icon>
    </dxc-tag>
  </tbuilder-component-mode>

  <tbuilder-component-mode text="Only icon">
    <dxc-tag margin="xsmall">
      <dxc-tag-icon>
        <img src="{{ dxcLogoPath }}" />
      </dxc-tag-icon>
    </dxc-tag>
    <dxc-tag margin="xsmall" [iconSrc]="imgGithub"> </dxc-tag>
  </tbuilder-component-mode>

  <tbuilder-component-mode text="Only text">
    <dxc-tag margin="xsmall" label="DXC TECHNOLOGY" iconBgColor="#6B4187">
    </dxc-tag>
  </tbuilder-component-mode>

  <tbuilder-component-mode text="Disabled">
    <dxc-tag
      margin="xsmall"
      label="DXC TECHNOLOGY"
      iconBgColor="#FABADA"
      disabled="true"
    >
      <dxc-tag-icon>
        <img src="{{ dxcLogoPath }}" />
      </dxc-tag-icon>
    </dxc-tag>
  </tbuilder-component-mode>
</div>
