<h2 class="subtitle-example">Theming</h2>
<dxc-table>
  <tr>
    <th>Name</th>
    <th>Default</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>totalLine</td>
    <td>
      <div class="default-color">
        <color-preview color="#000000"></color-preview>
        <code>#000000</code>
      </div>
    </td>
    <td>Applies to token totalLine.</td>
  </tr>
  <tr>
    <td>trackLine</td>
    <td>
      <div class="default-color">
        <color-preview color="#6F2C91"></color-preview>
        <code>#6F2C91</code>
      </div>
    </td>
    <td>Applies to token trackLine.</td>
  </tr>
</dxc-table>
