<div>
    <dxc-box margin="medium" padding="medium" shadowDepth="2" display="block">
        Hola que tal
    </dxc-box>
    <dxc-box margin="medium" padding="medium" shadowDepth="1" display="block" size ="large">
        Hola que tal
      </dxc-box>
      <dxc-box margin="medium" padding="medium" shadowDepth="1" display="block" size ="small">
        Hola que tal
      </dxc-box>
      <div style="width: '250px'">
        <dxc-box margin="medium" padding="medium" shadowDepth="1" display="block" size ="fillParent">
          Hola que tal
        </dxc-box>
      </div>
</div>

