<div>

      <div>
        <h4>Sizes</h4>
        <div className="test-case" id="small-size">
          <dxc-box size="small" margin="small">
            Small Box
          </dxc-box>
        </div>
        <div className="test-case" id="medium-size">
          <dxc-box size="medium" margin="small">
            Medium Box
          </dxc-box>
        </div>
        <div className="test-case" id="large-size">
          <dxc-box size="large" margin="small">
            Large Box
          </dxc-box>
        </div>
        <div className="test-case" id="fillParent-size">
          <dxc-box size="fillParent" margin="small">
            fillParent Box
          </dxc-box>
        </div>
        <div className="test-case" id="fitcontent-size">
          <dxc-box size="fitcontent" margin="small">
            fitcontent Box
          </dxc-box>
        </div>
        <h4>Margins</h4>
        <div className="test-case" id="margin-xxsmall">
          <dxc-box size="medium" display="flex" margin="xxsmall">
            xxSmall margin box
          </dxc-box>
        </div>
        <div className="test-case" id="margin-xsmall">
          <dxc-box size="medium" margin="xsmall">
            xSmall margin box
          </dxc-box>
        </div>
        <div className="test-case" id="margin-small">
          <dxc-box size="medium" margin="small">
            Small margin box
          </dxc-box>
        </div>
        <div className="test-case" id="margin-medium">
          <dxc-box size="medium" margin="medium">
            Medium margin box
          </dxc-box>
        </div>
        <div className="test-case" id="margin-large">
          <dxc-box size="medium" margin="large">
            Large margin box
          </dxc-box>
        </div>
        <div className="test-case" id="margin-xlarge">
          <dxc-box size="medium" margin="xlarge">
            xLarge margin box
          </dxc-box>
        </div>
        <div className="test-case" id="margin-xxlarge">
          <dxc-box size="medium" margin="xxlarge">
            xxLarge margin box
          </dxc-box>
        </div>
        <h4>Paddings</h4>
        <div className="test-case" id="padding-xxsmall">
          <dxc-box size="medium" padding="xxsmall">
            xxSmall padding box
          </dxc-box>
        </div>
        <div className="test-case" id="padding-xsmall">
          <dxc-box size="medium" padding="xsmall">
            xSmall padding box
          </dxc-box>
        </div>
        <div className="test-case" id="padding-small">
          <dxc-box size="medium" padding="small">
            Small padding box
          </dxc-box>
        </div>
        <div className="test-case" id="padding-medium">
          <dxc-box size="medium" padding="medium">
            Medium padding box
          </dxc-box>
        </div>
        <div className="test-case" id="padding-large">
          <dxc-box size="medium" padding="large">
            Large padding box
          </dxc-box>
        </div>
        <div className="test-case" id="padding-xlarge">
          <dxc-box size="medium" padding="xlarge">
            xLarge padding box
          </dxc-box>
        </div>
        <div className="test-case" id="padding-xxlarge">
          <dxc-box size="medium" padding="xxlarge">
            xxLarge padding box
          </dxc-box>
        </div>
        <h4>Shadow Depth</h4>
        <div className="test-case" id="shadowDepth-0">
          <dxc-box size="medium" margin="medium" shadowDepth=0>
            Shadow Depth 0
          </dxc-box>
        </div>
        <div className="test-case" id="shadowDepth-1">
          <dxc-box size="medium" margin="medium" shadowDepth=1>
            Shadow Depth 1
          </dxc-box>
        </div>
        <div className="test-case" id="shadowDepth-2">
          <dxc-box size="medium" margin="medium" shadowDepth=2>
            Shadow Depth 2
          </dxc-box>
        </div>
        <h4>Examples</h4>
        <dxc-box
          margin="medium"
          padding="medium"
          shadowDepth=1
          display="block"
          size="medium"
        >
          Hola que tal
        </dxc-box>
        <dxc-box
          margin="medium"
          padding="medium"
          shadowDepth=1
          display="block"
          size="large"
        >
          Hola que tal
        </dxc-box>
        <dxc-box
          margin="medium"
          padding="medium"
          shadowDepth=1
          display="block"
          size="small"
        >
          Hola que tal
        </dxc-box>
        <div style= "width: 250px">
          <dxc-box
            margin="medium"
            padding="medium"
            shadowDepth=1
            display="block"
            size="fillParent"
          >
            Hola que tal
          </dxc-box>
        </div>
      </div>
</div>

